workflows/00_globalErrorHandler.json
{"createdAt":"2024-11-07T05:53:50.357Z","updatedAt":"2024-12-26T05:40:42.000Z","id":"2FkHbmnpOA9Y42fo","name":"00_globalErrorHandler","active":false,"nodes":[{"parameters":{},"id":"d1d5e73a-076a-44c4-ae6a-7d5a4da7cdf7","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[1160,440],"notesInFlow":true,"notes":"### 1. Error Trigger\n- **설명**: n8n 시스템에서 오류가 발생할 때 워크플로우를 자동으로 시작합니다.\n- **기능**: 오류 메시지와 워크플로우 이름을 다른 노드에 전달합니다."},{"parameters":{"method":"POST","url":"https://hooks.slack.com/services/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","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"username","value":"Retool 알림"},{"name":"icon_emoji","value":":rocket:"},{"name":"text","value":"=<@U06BNH5R26T>\n에러내용: {{ $node[\"Error Trigger\"].json[\"execution\"][\"error\"][\"message\"] }}\n워크플로우: {{ $node[\"Error Trigger\"].json[\"workflow\"][\"name\"] }}"}]},"options":{}},"id":"707bfd4f-d05c-4f39-9412-7c0a5f6ef33e","name":"Send_SLACK_ALERT","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,440],"notesInFlow":true,"notes":"### 2. Send_SLACK_ALERT\n- **설명**: 감지된 오류 내용을 슬랙 채널에 알림으로 전송합니다.\n- **기능**: 슬랙 웹훅을 사용해 오류 메시지와 워크플로우 이름을 포함한 알림을 관리자에게 전송합니다."},{"parameters":{"method":"POST","url":"https://portal.gpters.org/api/internal/solapi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-admin-token","value":"Kh4IgiwYUpfqFrl+/exW9aYeHFkvyEZKzO7xqV0SJ7I="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={\n  \"messages\":\n  [\n    {\n      \"from\":\"028876749\",\n      \"to\":\"01041140750\",\n      \"text\": \"에러내용: {{ $node[\"Error Trigger\"].json[\"execution\"][\"error\"][\"message\"] }}\\n워크플로우: {{ $node[\"Error Trigger\"].json[\"workflow\"][\"name\"] }}\"\n\n    }\n  ]\n}\n"},{}]},"options":{}},"id":"b58f75b9-6ff0-4c15-8ad3-4183b62bc6f7","name":"SEND_SOLAPI_ALERT_AI.GI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,560],"notesInFlow":true,"notes":"### 3. SEND_SOLAPI_ALERT_AI.GI\n- **설명**: 솔라피 API를 통해 AI.GI 담당자에게 SMS로 오류 내용을 전송합니다. (현재 비활성화)\n- **기능**: 오류 메시지와 워크플로우 이름을 지정된 전화번호로 SMS 전송."},{"parameters":{"content":"# 글로벌 에러 핸들러 매뉴얼\n\n이 워크플로우는 n8n에서 발생하는 오류를 감지하고, 슬랙 및 SMS로 관리자에게 알림을 보내는 시스템입니다.\n\n## 구성 요소\n\n- **Error Trigger**  \n  - 오류 발생 시 워크플로우 시작.\n\n- **Send_SLACK_ALERT**  \n  - 슬랙 웹훅을 통해 오류 메시지와 워크플로우 이름을 슬랙에 알림.\n\n- **SEND_SOLAPI_ALERT_AI.GI & SEND_SOLAPI_ALERT_EKWAK**  \n  - SMS로 오류 알림 전송 (현재 비활성화 상태).\n\n## 동작 방식\n\n1. **오류 감지**: Error Trigger가 오류를 감지하여 워크플로우 시작.\n2. **슬랙 알림**: 슬랙 채널로 오류 메시지를 전송.\n3. **SMS 알림 (옵션)**: 필요 시 SMS 노드를 활성화하여 SMS로 오류 알림 전송.\n\n이 워크플로우는 오류 발생 시 관리자에게 빠르게 알림을 보내 대응을 돕습니다.\n","height":610,"width":653},"id":"2928a51c-1ba8-406e-82fa-55d62ee4cc79","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,200]},{"parameters":{"method":"POST","url":"https://portal.gpters.org/api/internal/solapi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-admin-token","value":"Kh4IgiwYUpfqFrl+/exW9aYeHFkvyEZKzO7xqV0SJ7I="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={\n  \"messages\":\n  [\n    {\n      \"from\":\"028876749\",\n      \"to\":\"01038589932\",\n      \"text\": \"에러내용: {{ $node[\"Error Trigger\"].json[\"execution\"][\"error\"][\"message\"] }}\\n워크플로우: {{ $workflow.name }}\"\n    }\n  ]\n}\n"},{}]},"options":{}},"id":"dcd5e8fd-4eab-4112-8607-98aa30a30a08","name":"SEND_SOLAPI_ALERT_EKWAK","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,340],"notesInFlow":true,"disabled":true,"notes":"### 4. SEND_SOLAPI_ALERT_EKWAK\n- **설명**: 솔라피 API를 통해 EKWAK 담당자에게 SMS로 오류 내용을 전송합니다. (현재 비활성화)\n- **기능**: 오류 메시지와 워크플로우 이름을 지정된 전화번호로 SMS 전송."}],"connections":{"Error Trigger":{"main":[[{"node":"Send_SLACK_ALERT","type":"main","index":0}]]},"Send_SLACK_ALERT":{"main":[[{"node":"SEND_SOLAPI_ALERT_AI.GI","type":"main","index":0},{"node":"SEND_SOLAPI_ALERT_EKWAK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d4adc131-c596-445f-af5d-528f0e131ea4","triggerCount":0,"tags":[{"createdAt":"2024-11-07T05:54:01.688Z","updatedAt":"2024-11-07T05:54:01.688Z","id":"gSS36I86ulOrjU5u","name":"에러"}]}