workflows/01_문자보내기.json
{"createdAt":"2024-11-07T05:55:15.743Z","updatedAt":"2024-12-26T09:28:39.000Z","id":"jq5MyJt9gHgvjeBV","name":"01_문자보내기","active":true,"nodes":[{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $('Webhook').item.json.body.view.url }}","mode":"url"},"table":{"__rl":true,"value":"={{ $('Webhook').item.json.body.table }}","mode":"id"},"options":{"view":{"__rl":true,"value":"={{ $('Webhook').item.json.body.view.id }}","mode":"id"}}},"id":"2c574be8-0a0c-43ff-9278-718e02574640","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1280,1020],"credentials":{"airtableTokenApi":{"id":"v6sNKykfBVnEaT0g","name":"Airtable Personal Access Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15543a66-ee49-4642-a9a2-701d96094173","leftValue":"={{ $json.phoneKey }}","rightValue":"=^010\\d{8}$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"id":"17ca7c9f-d31d-48c6-8610-1d20d0f313ff","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[260,580]},{"parameters":{"jsCode":"const input = $input.all()\nlet items = [];\nfor (const item of input) {\n  items.push({   \n    \"from\": \"028876749\",\n    \"to\": item.json['phoneKey'],\n    \"text\": item.json['content'],\n    \"subject\": item.json['title']\n  });\n}\n\nreturn {\n  messages: items\n}"},"id":"708c4e0b-d4eb-41f2-94bc-c4bea342ac92","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,520]},{"parameters":{"method":"POST","url":"={{ $vars.gpters_internal_api_endpoint }}/solapi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $vars.gpters_internal_api_token_key}}","value":"={{ $vars.gpters_internal_api_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={ \"messages\": {{ JSON.stringify($json.messages) }} }"}]},"options":{}},"id":"0cbe75da-0c90-4104-a855-c8baed72763b","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,500]},{"parameters":{"method":"POST","url":"={{ $vars.gpters_internal_api_endpoint }}/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $vars.gpters_internal_api_token_key }}","value":"={{ $vars.gpters_internal_api_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.content }}"},{"name":"preview","value":"={{ $json.preview }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"bcc","value":"={{ [$json.emailKey] }}"}]},"options":{}},"id":"9bdd1a65-1d28-4bdd-9db6-23a9ab755476","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,840],"retryOnFail":true,"maxTries":5,"onError":"continueRegularOutput"},{"parameters":{"keys":{"key":[{"currentKey":"={{ $('Webhook').first().json.body.phoneKey }}","newKey":"phoneKey"},{"currentKey":"={{ $('Webhook').first().json.body.emailKey }}","newKey":"emailKey"}]},"additionalOptions":{}},"id":"3303416a-e873-4786-93a9-f42317776e04","name":"Rename Keys","type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[-1020,580]},{"parameters":{"assignments":{"assignments":[{"id":"4b7997f6-c3ce-43ed-a1e0-a4e4441ac59c","name":"text","value":"={{ $('Edit Fields1').all().length }}명에게 문자 발송 되었습니다.","type":"string"}]},"options":{}},"id":"a25d1eee-01b7-4296-b080-e1036421463e","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,800],"executeOnce":true},{"parameters":{"workflowId":{"__rl":true,"value":"XVWUaUPaaiGofxQ6","mode":"list","cachedResultName":"GPTers — slackNoti_airtable"},"options":{}},"id":"0a7b8865-1218-433e-97ce-9529d48a5f74","name":"Execute Workflow1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2060,800],"executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"9f801745-8eeb-46c7-9a9f-ee3f3bbdf170","name":"sendMessege","value":"={{ $input.first().json }}","type":"object"},{"id":"9272035f-6712-495a-a32b-863e176c6859","name":"messegeRow","value":"={{ $('Edit Fields1').all().map(item => item.json) }}","type":"array"}]},"options":{}},"id":"b7eb4bc4-da12-4f7e-b5f5-fd1e3bc2ac59","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,500]},{"parameters":{"workflowId":{"__rl":true,"value":"45Zdg0u0aYWL1Tgu","mode":"list","cachedResultName":"GPTers — 문자 발송 대기중인 유저에게 메일로 대체발송하기"},"options":{}},"id":"2f8ead1a-a71b-49c1-a2e5-ccf5a7fddc4c","name":"Execute Workflow2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1840,480]},{"parameters":{"assignments":{"assignments":[{"id":"c10c9906-3453-42ef-bc72-585a3e754fc4","name":"text","value":"=VIEW : *{{ $('Webhook').item.json.body.view.name }}*\n---\nTITLE : {{ $('Webhook').item.json.body.title }}\n---\n컨텐츠 : \n```{{ $('Webhook').item.json.body.content }}\n```\n---\n\n<@U06BNH5R26T> 옵션으로 5분 후 문자 발송 시작!\n취소하고 싶다면 : [링크에서STOP](https://geniefy.app.n8n.cloud/executions)","type":"string"}]},"options":{}},"id":"44a3e6db-d1ce-454a-afe6-b389bdb2ec74","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1840,1020]},{"parameters":{"workflowId":{"__rl":true,"value":"XVWUaUPaaiGofxQ6","mode":"list","cachedResultName":"GPTers — slackNoti_airtable"},"mode":"each","options":{}},"id":"fbf5fa69-3481-4b21-b21f-3d214cec700f","name":"Execute Workflow3","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[-1660,1020],"executeOnce":true},{"parameters":{"unit":"minutes"},"id":"94154155-163d-481b-abf8-3e73c9b93006","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1460,1020],"webhookId":"e2b83683-fa34-4019-80c4-34dae6ab919e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"749df50e-6992-4422-8a97-4249c189331d","leftValue":"={{ $json.sendMessege.solapiStatusCode }}","rightValue":402,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"34c2ed31-9f02-4a8a-80ef-92a7566b05f6","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,280]},{"parameters":{"assignments":{"assignments":[{"id":"ba606ddb-c637-49d3-b434-53c3dd1d5b17","name":"text","value":"<@U06BNH5R26T>  잔액부족입니다. 빨리 확인","type":"string"}]},"options":{}},"id":"5d76bb5b-c07b-46eb-9d20-04ad81aa17eb","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,260]},{"parameters":{"workflowId":{"__rl":true,"value":"XVWUaUPaaiGofxQ6","mode":"list","cachedResultName":"GPTers — slackNoti_airtable"},"mode":"each","options":{}},"id":"fc76f1b7-eb2a-4963-a6cd-46ef9fc4458f","name":"Execute Workflow4","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1900,260],"executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"90a55155-0c83-4e53-8867-907a79b8d7be","leftValue":"={{ $json.body.view.name }}","rightValue":"test","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"0c2fbc6b-eb14-4863-a2c7-51e11e406088","name":"ifViewContainTest","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2140,620]},{"parameters":{"assignments":{"assignments":[{"id":"9939c9b9-9169-4b3c-bac3-eb79dadff860","name":"data","value":"={{ $json }}","type":"object"},{"id":"b0e40916-2443-45f1-b337-9892651d3bc0","name":"content","value":"={{ $('Webhook').item.json.body.title }}","type":"string"}]},"options":{}},"id":"3c1cc05e-0f9f-42f6-a566-a2c89e0fcf40","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,400]},{"parameters":{"assignments":{"assignments":[{"id":"4bc710e1-0972-457f-b42f-ad396b068f78","name":"data","value":"={{ $json }}","type":"object"},{"id":"404bb2fe-583b-4bb7-bdf1-38ae0480a907","name":"content","value":"={{ $('Webhook').item.json.body.content }}","type":"string"}]},"options":{}},"id":"721d3f00-14a3-4f8f-87b7-2e1da3fe6bbd","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-460,580]},{"parameters":{"workflowId":{"__rl":true,"value":"SGAjCx2dbQq1d4zG","mode":"list","cachedResultName":"GPTers — processTemplates"},"options":{}},"id":"c3ae1a7d-e443-4d5c-8452-635aa196459a","name":"process_content","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[-280,580]},{"parameters":{"workflowId":{"__rl":true,"value":"SGAjCx2dbQq1d4zG","mode":"list","cachedResultName":"GPTers — 19_processTemplates"},"options":{}},"id":"e73403b3-309b-4215-84c7-37fd06e32d0e","name":"process_title","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[-540,400]},{"parameters":{"assignments":{"assignments":[{"id":"4e40cca6-e196-4ac9-a66b-9068d5af480c","name":"title","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"ea384610-90f9-4025-85fc-e276db6e4c2b","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-360,400]},{"parameters":{"httpMethod":"POST","path":"sendMesseges","options":{}},"id":"b801ded4-f716-4c2a-b814-342c85e921ba","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2460,620],"webhookId":"265e9c40-7eb7-4807-a9c0-70fba6a14ef3"},{"parameters":{"content":"## 에어테이블 VIEW 이름에 test 가 들어가면 바로 실행, 안들어가면 5분 대기 후 발송","height":846.6511627906976,"width":1152.0000000000005},"id":"3fc4750a-6f10-4b50-82ac-02a6b9290a62","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2480,360]},{"parameters":{"content":"## 에어테이블에서 VIEW를 기준으로 데이터 가져와서 파싱하기","height":812.1860465116281,"width":417.76744186046517},"id":"6e382c91-d798-4330-acff-0301d4023a4f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1300,380]},{"parameters":{"content":"## 제목 안에 있는 < > 데이터를 파싱하기","height":228.9302325581395,"width":815.3023255813946},"id":"e4db6d29-ab12-4f3a-8aed-f4172befd2ed","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-862.4186046511622,324.37209302325584]},{"parameters":{"content":"## 컨텐츠 안에 있는 < > 데이터를 파싱하기","height":226.27906976744197,"width":839.1627906976746},"id":"09119901-e0cd-4dbf-aa37-7a6e79ce0998","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-867.720930232558,560]},{"parameters":{"content":"## 잔액 부족을 알리는 메세지 슬랙에 발송","height":227.79633891246792,"width":640.3255813953489},"id":"8b0d0bf5-9429-46b8-bf0c-560e89c8aa4f","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1400,211.7850564363694]},{"parameters":{"content":"## 몇명에게 성공적으로 발송 됐는지 슬랙 발송","height":218.32558139534882,"width":717.2093023255813},"id":"a450f795-7322-443e-ae45-42af70d6e7cd","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,740]},{"parameters":{"content":"## 문자 발송을 진행합니다","height":356.186046511628,"width":831.2093023255812},"id":"18a6cf29-9231-4cb0-a076-25bd979fc6b8","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,400]},{"parameters":{"content":"## 해외 사람은 이메일을 따로 발송","height":194.46511627906978,"width":677.441860465116},"id":"5d737581-2778-4a48-abe2-29e4f059124c","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,780]},{"parameters":{"jsCode":"// Edit Fields1 노드의 모든 출력 데이터 가져오기\nconst editFields1Data = $('Edit Fields1').all();\n\n// Edit Fields7 노드의 모든 출력 데이터 가져오기\nconst editFields7Data = $('Edit Fields7').all();\n\n// 두 배열의 길이가 같다고 가정\n// editFields1Data[i].json, editFields7Data[i].json 을 하나의 객체로 합침\nconst combinedData = editFields1Data.map((item, index) => {\n  return {\n    ...item.json,\n    ...editFields7Data[index].json\n  };\n});\n\n// n8n Function 노드에서는 { json: {...} } 형태의 객체 배열을 반환\nreturn combinedData.map(data => ({ json: data }));\n"},"id":"b660e303-6f41-4d4a-9720-c74ee4b1c5a0","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[40,580]},{"parameters":{"assignments":{"assignments":[{"id":"6b9af878-44db-4e39-bdcd-4f3b0fb8f52b","name":"emailKey","value":"={{ Array.isArray($('Rename Keys').item.json['emailKey']) ? $('Rename Keys').item.json['emailKey'][0] : $('Rename Keys').item.json['emailKey'] }}","type":"string"},{"id":"ce9a7018-4c7e-45cb-bcd9-a14eca35015b","name":"phoneKey","value":"={{ Array.isArray($('Rename Keys').item.json['phoneKey']) ? $('Rename Keys').item.json['phoneKey'][0] : $('Rename Keys').item.json['phoneKey'] }}","type":"string"},{"id":"7bfdf960-61e7-413c-bc66-fee9f0e8e960","name":"preview","value":"={{ $('Webhook').item.json.body.preview }}","type":"string"},{"id":"7da176d0-58f6-4102-8ced-3e418a69e5ca","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"a8e16156-9b99-453d-ad16-d05b1f5c1545","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,580],"executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f787cb63-d10e-4066-8a72-c3da44c894cc","leftValue":"={{ $json.title }}","rightValue":">","operator":{"type":"string","operation":"contains"}},{"id":"2a7f1100-2f36-4316-8dc0-d19fce05b7ba","leftValue":"={{ $json.title }}","rightValue":"<","operator":{"type":"string","operation":"contains"}},{"id":"1568aa2f-8266-4257-a116-f27153516db3","leftValue":"={{ $json.content }}","rightValue":"<","operator":{"type":"string","operation":"contains"}},{"id":"da4a6f7f-04a2-4122-abe5-6fd5559a0ac8","leftValue":"={{ $json.content }}","rightValue":">","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"3aa3a1e7-edaf-4aab-b06b-7618ed415658","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,480]},{"parameters":{"assignments":{"assignments":[{"id":"ba606ddb-c637-49d3-b434-53c3dd1d5b17","name":"text","value":"<@U06BNH5R26T> < > 이 title 혹은 content에 포함됐습니다. 빨리 확인 바랍니다.","type":"string"}]},"options":{}},"id":"7aedcd65-36ef-4bef-afa0-aa26db1c6717","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,180]},{"parameters":{"workflowId":{"__rl":true,"value":"XVWUaUPaaiGofxQ6","mode":"list","cachedResultName":"GPTers — slackNoti_airtable"},"mode":"each","options":{}},"id":"d0a3ce5c-29cc-40d7-9ef0-83a2f73e8ae8","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[920,180],"executeOnce":true},{"parameters":{"content":"## < > 기 포함된 경우 예외처리","height":250.8372093023254,"width":562.3255813953488},"id":"46b1549e-735c-4ec2-b05b-e9ab59d6d75c","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[540,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"648b9cf4-0dfb-43af-aff0-ac5f6d497fba","leftValue":"={{ $('Webhook').first().json.body.view.name}}","rightValue":"test","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"id":"7a625fef-5384-4bf0-8c70-7b71082b6488","name":"If3","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1500,500]},{"parameters":{},"id":"48df17ab-1b79-4570-ae99-849beba3b173","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1840,620]},{"parameters":{"content":"## test인경우에는 문자 못받은 사람 이메일 발송 X","height":293.67315541980065,"width":611.3143206105568},"id":"b20ef2d1-3a58-4925-a5fa-e47769b47952","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1400,440]}],"connections":{"Airtable":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"If":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Rename Keys":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Edit Fields6","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"If1","type":"main","index":0},{"node":"If3","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Execute Workflow3","type":"main","index":0}]]},"Execute Workflow3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Execute Workflow4","type":"main","index":0}]]},"ifViewContainTest":{"main":[[{"node":"Airtable","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"process_title","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"process_content","type":"main","index":0}]]},"process_content":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"process_title":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"ifViewContainTest","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields8","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"If3":{"main":[[{"node":"Execute Workflow2","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2FkHbmnpOA9Y42fo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"geniefy.app.n8n.cloud","user-agent":"Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)","content-length":"653","accept":"*/*","accept-encoding":"gzip, br","authorization":"Basic Z3B0ZXJzOkdwdGVyczIwMjNAIw==","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"3.80.255.184","cf-ew-via":"15","cf-ipcountry":"US","cf-ray":"8f7fe181f0d60a87-IAD","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","x-airtable-source":"appq8xK4PLp7D7aCg/wflgI5XTJNQr8U85v","x-forwarded-for":"3.80.255.184, 162.158.79.99","x-forwarded-host":"geniefy.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-5-6fbf5bdbfc-6hns9","x-is-trusted":"yes","x-real-ip":"3.80.255.184"},"params":{},"query":{},"body":{"table":"tblQNIOB0C8CXvgis","view":{"id":"viwKZZK0mnn91R0R6","name":"커뮤니티 스터디","type":"grid","url":"https://airtable.com/appq8xK4PLp7D7aCg/tblQNIOB0C8CXvgis/viwKZZK0mnn91R0R6"},"phoneKey":"전화번호","emailKey":"이메일","title":"오늘 AI스터디가 있어요!","preview":"오늘 AI스터디가 있어요!","content":"<이름_닉네임>님! 조금 후 밤 8시, <별도스터디_이름>가 진행됩니다. \n온/오프라인 선택참여) (<스터디_시간>)\n\n■ 줌 링크\n<줌url>\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},"webhookUrl":"https://geniefy.app.n8n.cloud/webhook/sendMesseges","executionMode":"production"}}],"Edit Fields3":[{"json":{"sendMessege":{"solapiStatusCode":200,"groupInfo":{"_id":"G4V20241226180538DTU149RCBCYRTVT","serviceMethod":"MT","apiVersion":"v4","sdkVersion":null,"osPlatform":null,"count":{"total":27,"sentTotal":0,"sentFailed":0,"sentSuccess":0,"sentPending":0,"sentReplacement":0,"refund":0,"registeredFailed":0,"registeredSuccess":27},"countForCharge":{"sms":{},"lms":{"82":27},"mms":{},"ata":{},"cta":{},"cti":{},"nsa":{},"rcs_sms":{},"rcs_lms":{},"rcs_mms":{},"rcs_tpl":{},"rcs_itpl":{},"rcs_ltpl":{},"fax":{},"voice":{}},"log":[{"createAt":"2024-12-26T09:05:38.953Z","message":"[43.201.65.129] 메시지 그룹이 생성되었습니다."},{"createAt":"2024-12-26T09:05:38.984Z","message":"국가코드(82)의 장문 문자(LMS) 27 건이 추가되었습니다."},{"createAt":"2024-12-26T09:05:39.388Z","message":"메시지를 발송했습니다.","oldBalance":129964,"newBalance":129181,"oldPoint":0,"newPoint":0,"totalPrice":783}],"status":"SENDING","dateSent":"2024-12-26T09:05:39.388Z","scheduledDate":null,"dateCompleted":null,"balance":{"requested":783,"replacement":0,"refund":0,"sum":783},"point":{"requested":0,"replacement":0,"refund":0,"sum":0},"isRefunded":false,"app":{"appId":null,"version":null,"profit":{"sms":0,"lms":0,"mms":0,"ata":0,"cta":0,"cti":0,"nsa":0,"rcs_sms":0,"rcs_lms":0,"rcs_mms":0,"rcs_tpl":0,"rcs_itpl":0,"rcs_ltpl":0,"fax":0,"voice":0}},"price":{"82":{"sms":13,"lms":29,"mms":60,"ata":9,"cta":14,"cti":22,"nsa":9,"rcs_sms":15,"rcs_lms":32,"rcs_mms":65,"rcs_tpl":9,"fax":100,"voice":150,"rcs_itpl":80,"rcs_ltpl":32}},"flagUpdated":false,"customFields":{},"prepaid":true,"strict":false,"hint":{},"masterAccountId":null,"allowDuplicates":false,"clusterKey":null,"accountId":"23080218173664","groupId":"G4V20241226180538DTU149RCBCYRTVT","dateCreated":"2024-12-26T09:05:39.388Z","dateUpdated":"2024-12-26T09:05:39.388Z"},"failedMessageList":[]},"messegeRow":[{"emailKey":"ny@gpters.org","phoneKey":"01064067539","preview":"오늘 AI스터디가 있어요!","content":"윤누리님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"dahye@gpters.org","phoneKey":"01044535752","preview":"오늘 AI스터디가 있어요!","content":"송다혜님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"tkim@gpters.org","phoneKey":"01043060325","preview":"오늘 AI스터디가 있어요!","content":"김태현님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"fe@gpters.org","phoneKey":"01036580626","preview":"오늘 AI스터디가 있어요!","content":"김현철님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"jadehouse705@gmail.com","phoneKey":"01039228815","preview":"오늘 AI스터디가 있어요!","content":"박규호님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"gj0665@gmail.com","phoneKey":"01056980665","preview":"오늘 AI스터디가 있어요!","content":"Gyeongmoon Jo님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"choi.bara.bom@gmail.com","phoneKey":"01071634490","preview":"오늘 AI스터디가 있어요!","content":"최보미님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"kmk4616@naver.com","phoneKey":"01067240313","preview":"오늘 AI스터디가 있어요!","content":"김민경님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"paris-js78@hanmail.net","phoneKey":"01088367094","preview":"오늘 AI스터디가 있어요!","content":"권정선님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"pocket1314@naver.com","phoneKey":"01050209901","preview":"오늘 AI스터디가 있어요!","content":"박창완님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"kndli.423@gmail.com","phoneKey":"01097805690","preview":"오늘 AI스터디가 있어요!","content":"황영아님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"ted1234@naver.com","phoneKey":"01095372303","preview":"오늘 AI스터디가 있어요!","content":"김경태님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"johnfkoo951@gmail.com","phoneKey":"01054971918","preview":"오늘 AI스터디가 있어요!","content":"구요한님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"fallintogh@naver.com","phoneKey":"01098382693","preview":"오늘 AI스터디가 있어요!","content":"김기현님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"jind011@naver.com","phoneKey":"01097972292","preview":"오늘 AI스터디가 있어요!","content":"박서진님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"cpuxp11@gmail.com","phoneKey":"01020402783","preview":"오늘 AI스터디가 있어요!","content":"눈오지님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"jwc2094@naver.com","phoneKey":"01041260525","preview":"오늘 AI스터디가 있어요!","content":"김지원님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"dksxogus1221@naver.com","phoneKey":"01035685246","preview":"오늘 AI스터디가 있어요!","content":"안태현님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"ahn.hyunjoo@gmail.com","phoneKey":"01027797996","preview":"오늘 AI스터디가 있어요!","content":"AHN HYUNJOO님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"wngus10114@gmail.com","phoneKey":"01026792055","preview":"오늘 AI스터디가 있어요!","content":"주현영님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"zbcxc@naver.com","phoneKey":"01095660713","preview":"오늘 AI스터디가 있어요!","content":"박현태님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"kitenine@hanmail.net","phoneKey":"01088758459","preview":"오늘 AI스터디가 있어요!","content":"한재연님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"rmdwjddl777@naver.com","phoneKey":"01054452549","preview":"오늘 AI스터디가 있어요!","content":"신지혜님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"dbsakdls@naver.com","phoneKey":"01098910733","preview":"오늘 AI스터디가 있어요!","content":"윤민혜님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"whchoi7@naver.com","phoneKey":"01055333900","preview":"오늘 AI스터디가 있어요!","content":"최원혁님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"alwaysgrin@kakao.com","phoneKey":"01071852712","preview":"오늘 AI스터디가 있어요!","content":"윤승현님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"},{"emailKey":"alicehong.we@gmail.com","phoneKey":"01064806758","preview":"오늘 AI스터디가 있어요!","content":"홍연의님! 조금 후 밤 8시, 커뮤니티 성공 전략 스터디가 진행됩니다. \n온/오프라인 선택참여) (8PM~10PM)\n\n■ 줌 링크\nhttps://us02web.zoom.us/j/84694819350?pwd=I5Az6qiSK1pKg6Wmclb7XfzHR3KO07.1\n\n■  오프라인 참여장소\n팁스타운 S1 3층 회의실 (역삼역 도보 10분)\n서울 강남구 역삼로 165 해성빌딩 3층"}]}}]},"versionId":"678418f6-9ef1-4d31-bb4a-5c1de52223d8","triggerCount":1,"tags":[{"createdAt":"2024-12-19T05:42:26.692Z","updatedAt":"2024-12-19T05:42:26.692Z","id":"6jGNsGbeldyGRTIX","name":"문자"}]}