workflows/05_Run PortalDB->Airtable Sync.json
{"createdAt":"2024-11-15T08:30:27.152Z","updatedAt":"2024-12-19T05:44:25.000Z","id":"Zbet3vENpA8500uP","name":"05_Run PortalDB->Airtable Sync","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"4dae4fec-be98-490e-b852-fb1a368a3cf6","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-740,540]},{"parameters":{"url":"https://api.hightouch.com/api/v1/syncs","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"6f7bc8d2-53df-4db7-83c7-db198c4751f8","name":"Hightouch Sync List","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-500,540],"credentials":{"httpHeaderAuth":{"id":"apin0ET43uTDFnsh","name":"Hightouch API"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"c460e556-7588-48bd-b261-50c18d9fab46","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-260,540]},{"parameters":{"method":"POST","url":"=https://api.hightouch.com/api/v1/syncs/{{ $json.id }}/trigger","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"7736738a-8bbf-4495-8862-d3555f49bde2","name":"Sync","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,560],"credentials":{"httpHeaderAuth":{"id":"apin0ET43uTDFnsh","name":"Hightouch API"}}},{"parameters":{"options":{}},"id":"76f14fff-f73c-45fb-9831-f265dc2c7840","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,540]},{"parameters":{"amount":30},"id":"a9054423-7bf3-4876-95ec-774679d47aff","name":"30초 대기","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[460,560],"webhookId":"43af42e4-f7f9-431d-be36-87f7fe9c1daa"},{"parameters":{"content":"DB Full Scan이 일어나기 때문에,\n동시에 많은 DB쿼리가 실행되지 않도록 대기합니다","height":80,"width":351},"id":"f8972e16-5c5b-4291-b61d-932140a85105","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"content":"Schedule Trigger 노드\n\n\n매일 오전 6시에 워크플로우를 실행하도록 스케줄링\n정기적인 데이터 동기화를 위한 시작점\n\n\nHightouch Sync List 노드\n\n\nHightouch API를 호출하여 동기화 작업 목록을 가져옴\nAPI 인증을 위해 HTTP 헤더 인증 사용\n\n\nSplit Out 노드\n\n\nAPI 응답에서 'data' 필드를 분리\n각각의 동기화 작업을 개별 아이템으로 분리\n\n\nLoop Over Items 노드\n\n\n분리된 동기화 작업들을 순차적으로 처리\n각 작업을 하나씩 다음 노드로 전달\n\n\nSync 노드\n\n\n각 동기화 작업에 대해 Hightouch API의 트리거 엔드포인트 호출\n동기화 작업 ID를 사용하여 개별 동기화 실행\n\n\n30초 대기 노드\n\n\n각 동기화 작업 사이에 30초 대기\n데이터베이스 부하 관리를 위한 지연 시간 추가\n스티키 노트에 설명된 대로, DB Full Scan으로 인한 부하를 방지하기 위함","height":1122.197727272727,"width":1437.2045454545455},"id":"82a8467d-6dfd-4c41-820c-ec9b904493c2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,-200]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Hightouch Sync List","type":"main","index":0}]]},"Hightouch Sync List":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Sync","type":"main","index":0}]]},"Sync":{"main":[[{"node":"30초 대기","type":"main","index":0}]]},"30초 대기":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2FkHbmnpOA9Y42fo"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"74989a32-108f-43c3-9b35-b89fd64d4c73","triggerCount":1,"tags":[{"createdAt":"2024-12-19T05:44:06.519Z","updatedAt":"2024-12-19T05:44:06.519Z","id":"WquHcRC8eU2BuyLP","name":"에어테이블"},{"createdAt":"2024-12-19T05:44:24.024Z","updatedAt":"2024-12-19T05:44:24.024Z","id":"fpp6jLdgsEB5uS6A","name":"싱크"}]}