workflows/07_멤버 게시판 내보내기.json
{"createdAt":"2024-10-30T06:36:38.149Z","updatedAt":"2024-12-19T05:45:43.000Z","id":"CFAFerCnIHHFbSuZ","name":"07_멤버 게시판 내보내기","active":true,"nodes":[{"parameters":{"endpoint":"={{ $vars.bettermode_end_point}}","requestFormat":"json","query":"mutation RemoveSpaceMembers($memberIds: [ID!]!, $spaceId: ID!) {\n  removeSpaceMembers(memberIds: $memberIds, spaceId: $spaceId) {\n    status\n  }\n}\n","variables":"={\n    \"spaceId\": {{ JSON.stringify($json[\"body\"][\"0\"][\"spaceId\"][\"id\"]) }},\n    \"memberIds\": {{ JSON.stringify($json[\"body\"][\"0\"][\"memberId\"] )}}\n  }","headerParametersUi":{"parameter":[{"name":"={{ $vars.bettermode_client_id_key }}","value":"={{ $vars.bettermode_client_id_value }}"},{"name":"={{ $vars.bettermode_client_secret_key }}","value":"={{ $vars.bettermode_client_secret_value }}"}]}},"id":"270216a2-2db1-4aaf-be4d-e41a632f56c5","name":"removeMember","type":"n8n-nodes-base.graphql","typeVersion":1,"position":[660,460],"notes":"만든 배열을 가지고 게시판에 멤버들을 일괄 초대한다."},{"parameters":{"assignments":{"assignments":[{"id":"ae0b41b2-b99a-41e6-879a-6812b0388063","name":"text","value":"={{ $json.data.removeSpaceMembers.length }} 명이 게시판에서 나가졌습니다.","type":"string"}]},"options":{}},"id":"176139e6-d9b0-4c59-bd28-3fa5e878d14f","name":"makeSlackText","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,460]},{"parameters":{"workflowId":{"__rl":true,"value":"XVWUaUPaaiGofxQ6","mode":"list","cachedResultName":"GPTers — \bslackNoti"},"options":{}},"id":"e1685466-793b-4b37-aac5-24b1bda127ea","name":"sendSlackNoti","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1100,460]},{"parameters":{"httpMethod":"POST","path":"sendout_member","options":{}},"id":"da7b2401-9a03-4412-aa09-0e5722b1d931","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[440,460],"webhookId":"d442552a-e7f6-446d-a7c8-ffac9f07e553"},{"parameters":{"content":"# 멤버 게시판 내보내기 워크플로우\n\n이 워크플로우는 특정 멤버들을 게시판에서 제거하고, \n제거된 멤버 수를 슬랙에 알림으로 전송하는 프로세스를 수행합니다.\n\n## 구성 요소\n\n### 1. Webhook\n- **설명**: 외부 서비스에서 멤버 제거 요청을 받는 웹훅 엔드포인트입니다.\n- **기능**: 멤버 삭제 요청을 수신하고 워크플로우를 시작합니다.\n\n### 2. removeMember\n- **설명**: Bettermode API를 사용하여 지정된 멤버들을 특정 게시판에서 제거합니다.\n- **기능**: 전달된 `spaceId`와 `memberIds`를 이용해 게시판에서 멤버를 일괄 제거합니다.\n\n### 3. makeSlackText\n- **설명**: 슬랙으로 전송할 메시지 텍스트를 생성합니다.\n- **기능**: 삭제된 멤버 수를 확인하여 `\"X명이 게시판에서 나가졌습니다.\"` 형식의 메시지를 만듭니다.\n\n### 4. sendSlackNoti\n- **설명**: 생성된 메시지를 슬랙으로 전송하기 위해 다른 워크플로우를 실행합니다.\n- **기능**: 슬랙 알림을 전송하는 워크플로우를 호출하여 알림을 완료합니다.\n\n## 동작 방식\n\n1. **Webhook 요청 수신**: 외부 요청을 통해 멤버 삭제 작업을 시작합니다.\n2. **멤버 제거**: `removeMember` 노드가 요청된 멤버들을 지정된 게시판에서 제거합니다.\n3. **슬랙 메시지 생성**: 제거된 멤버 수를 포함한 슬랙 메시지를 생성합니다.\n4. **슬랙 알림 전송**: 슬랙 알림 워크플로우를 실행하여 관리자에게 알림을 보냅니다.\n\n이 워크플로우는 게시판 관리 시 특정 멤버를 효율적으로 제거하고, 결과를 실시간으로 슬랙에 공유하여 팀이 정보를 빠르게 확인할 수 있도록 돕습니다.\n","height":824,"width":662},"id":"db267ba2-68fc-4868-9f1a-c0c2a211a97c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,240]}],"connections":{"removeMember":{"main":[[{"node":"makeSlackText","type":"main","index":0}]]},"makeSlackText":{"main":[[{"node":"sendSlackNoti","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"removeMember","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2FkHbmnpOA9Y42fo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"042fe3e9-fa9c-4179-931c-9c557af480a1","triggerCount":1,"tags":[{"createdAt":"2024-12-19T05:43:13.292Z","updatedAt":"2024-12-19T05:43:13.292Z","id":"QyOnBrPoEGiu3Pw7","name":"게시판"}]}