workflows/08_결제 후 본인의 이메일을 확인하라는 문자를 발송.json
{"createdAt":"2024-11-25T08:50:22.407Z","updatedAt":"2024-12-27T06:16:18.000Z","id":"kyFqWAxq3xlIcny7","name":"08_결제 후 본인의 이메일을 확인하라는 문자를 발송","active":true,"nodes":[{"parameters":{"method":"POST","url":"={{ $vars.gpters_internal_api_endpoint }}/solapi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $vars.gpters_internal_api_token_key}}","value":"={{ $vars.gpters_internal_api_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={ \"messages\": {{ JSON.stringify($json.messages) }} }"}]},"options":{}},"id":"4e1f46ed-2d91-4c1a-845d-6e61ea076d9c","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2920,1360]},{"parameters":{"assignments":{"assignments":[{"id":"2a5f7cf1-c358-4a71-bd74-3eb8b5efb6aa","name":"phoneKey","value":"={{ $json.phoneKey }}","type":"string"},{"id":"374d0eca-5247-4d8d-b7b6-eb549b7e3915","name":"title","value":"[지피터스] 메일 주소를 확인해주세요!","type":"string"},{"id":"c47dafc6-e86d-44da-9d31-4bb2a3590296","name":"content","value":"=안녕하세요, {{ $json.name }}님\n스터디 신청해 주셔서 감사합니다.\n\n스터디 다시 보기 VOD는 아래 이메일로 발송될 예정입니다.\n\n메일 : {{ $json.email }}\n\n다른 이메일로 받기를 원하시면 프로필에서 수정해주세요.\n\n프로필 링크 : https://portal.gpters.org/me/account\n\n감사합니다!","type":"string"}]},"options":{}},"id":"11cb2437-dd1c-42e3-b671-44eaab441501","name":"makeSMSContent","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2380,1340]},{"parameters":{"jsCode":"const input = $input.all()\nlet items = [];\nfor (const item of input) {\n  items.push({   \n    \"from\": \"028876749\",\n    \"to\": item.json['phoneKey'],\n    \"text\": item.json['content'],\n    \"subject\": item.json['title']\n  });\n}\n\nreturn {\n  messages: items\n}"},"id":"52c7b846-6620-4914-b210-2992fb8ff78e","name":"makeFinalMessages","type":"n8n-nodes-base.code","typeVersion":2,"position":[2660,1360]},{"parameters":{"assignments":{"assignments":[{"id":"8c1114ab-b2ac-427c-83de-0ee471e1b330","name":"text","value":"=```{{ $('makeSMSContent').item.json.content }}``` \n\n발송 완료","type":"string"}]},"options":{}},"id":"29dab243-5c82-4dc7-978a-60e3e571ce24","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3140,1360]},{"parameters":{"workflowId":{"__rl":true,"value":"NdYsl2DxRQEFUXG9","mode":"list","cachedResultName":"GPTers — slackNoti_n8n_log"},"options":{}},"id":"546763fe-d6e9-493f-99da-af65648694dd","name":"Execute Workflow1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3360,1360]},{"parameters":{"assignments":{"assignments":[{"id":"ec10ddbc-932d-449b-bfc5-c9644c4117f0","name":"phoneKey","value":"={{ $json.order.user.phone }}","type":"string"},{"id":"2e9496c8-757f-4578-acb1-8242e65f2ebd","name":"email","value":"={{ $json.order.user.email }}","type":"string"},{"id":"58c7bd76-3245-40b7-aee2-f41d334b65ed","name":"name","value":"={{ $json.order.user.name }}","type":"string"}]},"options":{}},"id":"7bc25386-3fb8-4807-bbba-4189a5c60a65","name":"getPhoneEmailNameData","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1940,1360]},{"parameters":{"jsCode":"const bodyData = $(\"getBody\").first().json.body;\nconst parsedData = JSON.parse(bodyData);\nreturn parsedData;\n"},"id":"04d9e42b-7891-4999-884e-db0deb654cac","name":"parseBody","type":"n8n-nodes-base.code","typeVersion":2,"position":[1720,1360]},{"parameters":{"assignments":{"assignments":[{"id":"c2a4e062-6545-4647-b64d-cb8a9c2b25d1","name":"body","value":"={{ $json.body }}","type":"string"}]},"options":{}},"id":"0042aac6-49a7-4474-aa5b-c82d0d184961","name":"getBody","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1540,1360]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dadb3374-ec77-4e46-9e5a-9642ef6b2e90","leftValue":"={{ $json.name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d2d27270-7f72-4a82-8dac-26f34cda7425","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2160,1360]},{"parameters":{"assignments":{"assignments":[{"id":"2a5f7cf1-c358-4a71-bd74-3eb8b5efb6aa","name":"phoneKey","value":"={{ $json.phoneKey }}","type":"string"},{"id":"374d0eca-5247-4d8d-b7b6-eb549b7e3915","name":"title","value":"[지피터스] 메일 주소를 확인해주세요!","type":"string"},{"id":"c47dafc6-e86d-44da-9d31-4bb2a3590296","name":"content","value":"=안녕하세요,\n스터디를 신청해 주셔서 감사합니다.\n\n스터디 다시 보기 VOD는 아래 이메일로 발송될 예정입니다.\n\n메일 : {{ $json.email }}\n\n다른 이메일로 받기를 원하시면 프로필에서 수정해주세요.\n\n프로필 링크 : https://portal.gpters.org/me/account\n\n감사합니다!","type":"string"}]},"options":{}},"id":"af9182f6-955e-48fa-b782-67199e55d337","name":"makeSMSContent1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2380,1540]},{"parameters":{"content":"## 결제 webhook 데이터를 수집하고 데이터를 파싱해서 전화번호와 이메일 이름 데이터를 가져옵니다.","height":356.46511627906995,"width":1033.6046511627897},"id":"d18ee91f-c018-40c2-957f-01b9e74c63d1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1240,1280]},{"parameters":{"content":"## 만약 이름이 webhook 데이터에 없다면 OO님은 없이 문자 컨텐츠를 만듭니다.","height":533.3720930232558,"width":428.9534883720928},"id":"11cf8d1b-643e-4679-a318-90eec839fcf3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2360,1200]},{"parameters":{"content":"## 문자 발송","height":509.18604651162775,"width":755.4651162790694},"id":"1e18eb8f-0abf-4955-a1bb-b923dcb04bb9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2860,1220]},{"parameters":{"amount":1,"unit":"days"},"id":"a31ef45a-db13-40da-a519-c488ec99a585","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,1360],"webhookId":"cfb5431a-65d6-45ec-a9a2-1e16f922223c"},{"parameters":{"assignments":{"assignments":[{"id":"ec10ddbc-932d-449b-bfc5-c9644c4117f0","name":"phoneKey","value":"={{ $json.order.user.phone }}","type":"string"},{"id":"2e9496c8-757f-4578-acb1-8242e65f2ebd","name":"email","value":"={{ $json.order.user.email }}","type":"string"},{"id":"58c7bd76-3245-40b7-aee2-f41d334b65ed","name":"name","value":"={{ $json.order.user.name }}","type":"string"},{"id":"453b1e2b-df90-4c98-b9f1-b23c1d71bdae","name":"productId","value":"={{ $json.order.orderItems[0].productId }}","type":"string"}]},"options":{}},"id":"5b3ea919-5184-496d-9297-f443220d628c","name":"getPhoneEmailNameData1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,840]},{"parameters":{"jsCode":"const bodyData = $(\"getBody1\").first().json.body;\nconst parsedData = JSON.parse(bodyData);\nreturn parsedData;\n"},"id":"5aa0dbdf-4c24-4ad1-b356-1420d89a8560","name":"parseBody1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,840]},{"parameters":{"assignments":{"assignments":[{"id":"c2a4e062-6545-4647-b64d-cb8a9c2b25d1","name":"body","value":"={{ $json.body }}","type":"string"}]},"options":{}},"id":"82c9456b-2d15-49e5-936b-d5e4456f5749","name":"getBody1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,840]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e28b769-326f-4376-bc0c-faecdf6f6028","leftValue":"={{ $json.productId }}","rightValue":"32130","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"a0cf1449-19ca-411f-b81c-47b0acef3b5b","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2040,840]},{"parameters":{},"id":"ed7863a6-e6ce-4601-8c90-b102711a4ec9","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2240,960]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dadb3374-ec77-4e46-9e5a-9642ef6b2e90","leftValue":"={{ $json.name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c9855f40-60c3-4a51-bd61-f935bb065395","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2320,800]},{"parameters":{"jsCode":"const input = $input.all()\nlet items = [];\nfor (const item of input) {\n  items.push({   \n    \"from\": \"028876749\",\n    \"to\": item.json['phoneKey'],\n    \"text\": item.json['content'],\n    \"subject\": item.json['title']\n  });\n}\n\nreturn {\n  messages: items\n}"},"id":"674325bc-a9a1-4072-ad00-a000c096680f","name":"makeFinalMessages1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2820,700]},{"parameters":{"method":"POST","url":"={{ $vars.gpters_internal_api_endpoint }}/solapi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $vars.gpters_internal_api_token_key}}","value":"={{ $vars.gpters_internal_api_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={ \"messages\": {{ JSON.stringify($json.messages) }} }"}]},"options":{}},"id":"63f8f18a-fbb5-4feb-aa62-33558abade7e","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3080,700]},{"parameters":{"assignments":{"assignments":[{"id":"8c1114ab-b2ac-427c-83de-0ee471e1b330","name":"text","value":"=```{{ $('makeSMSContent2').item.json.content }}``` \n\n발송 완료","type":"string"}]},"options":{}},"id":"4ddcbc8d-ae55-478a-a07c-b858d4e6fa16","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3300,700]},{"parameters":{"workflowId":{"__rl":true,"value":"NdYsl2DxRQEFUXG9","mode":"list","cachedResultName":"GPTers — slackNoti_n8n_log"},"options":{}},"id":"98e59636-c9ad-4ca3-b0c2-def41ded89ff","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3520,700]},{"parameters":{"assignments":{"assignments":[{"id":"2a5f7cf1-c358-4a71-bd74-3eb8b5efb6aa","name":"phoneKey","value":"={{ $json.phoneKey }}","type":"string"},{"id":"374d0eca-5247-4d8d-b7b6-eb549b7e3915","name":"title","value":"[지피터스] 필독 공지 - 수강 신청 안내","type":"string"},{"id":"c47dafc6-e86d-44da-9d31-4bb2a3590296","name":"content","value":"=안녕하세요, {{ $json.name }}님.\nAI스터디 14기 멤버가 되신 것을 진심으로 환영합니다.\n14기에 수강할 스터디를 신청해주세요.\n\n■ 수강 스터디란?\n- 나만의 활용사례 만들고 발표할 스터디 (필참)\n- 주차별 다시보기 영상 제공\n\n■ 수강신청 하기\nhttps://airtable.com/appq8xK4PLp7D7aCg/pagz2TapKPJMbg2Oz/form?prefill_전화번호={{ $json.phoneKey }}\n\n■ 참고사항\n- 정원(30명) 초과 시 신청 불가\n- 1주차 OT 후 수강 변경 가능\n- 수강 신청하지 않은 스터디도 무료 청강 가능\n\n수강신청하지 않으면 아무 스터디에도 소속되지 않고, 다시보기 영상도 받을 수 없으니 지금 바로 신청해주세요!","type":"string"}]},"options":{}},"id":"bde07b95-33f1-4ad2-9403-82033d9553cb","name":"makeSMSContent2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,700]},{"parameters":{"assignments":{"assignments":[{"id":"2a5f7cf1-c358-4a71-bd74-3eb8b5efb6aa","name":"phoneKey","value":"={{ $json.phoneKey }}","type":"string"},{"id":"374d0eca-5247-4d8d-b7b6-eb549b7e3915","name":"title","value":"[지피터스] 필독 공지 - 수강 신청 안내","type":"string"},{"id":"c47dafc6-e86d-44da-9d31-4bb2a3590296","name":"content","value":"=안녕하세요,\n\nAI스터디 14기 멤버가 되신 것을 진심으로 환영합니다.\n14기에 수강할 스터디를 신청해주세요.\n\n■ 수강 스터디란?\n- 나만의 활용사례 만들고 발표할 스터디 (필참)\n- 주차별 다시보기 영상 제공\n\n■ 수강신청 하기\nhttps://airtable.com/appq8xK4PLp7D7aCg/pagz2TapKPJMbg2Oz/form?prefill_전화번호={{ $json.phoneKey }}\n\n■ 참고사항\n- 정원(30명) 초과 시 신청 불가\n- 1주차 OT 후 수강 변경 가능\n- 수강 신청하지 않은 스터디도 무료 청강 가능\n\n수강신청하지 않으면 아무 스터디에도 소속되지 않고, 다시보기 영상도 받을 수 없으니 지금 바로 신청해주세요!","type":"string"}]},"options":{}},"id":"561179af-d0e6-47d6-b1e0-da12fa2f4fc1","name":"makeSMSContent3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,900]},{"parameters":{"httpMethod":"POST","path":"afterPaymentCheckEmail","options":{}},"id":"44c206ff-8371-444e-91ae-e1d065d1e4ad","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[860,1140],"webhookId":"bd1c2437-9232-43be-869e-76d50de2ee8a"},{"parameters":{"jsCode":"const input = $input.all()\nlet items = [];\nfor (const item of input) {\n  items.push({   \n    \"from\": \"028876749\",\n    \"to\": item.json['phoneKey'],\n    \"text\": item.json['content'],\n    \"subject\": item.json['title']\n  });\n}\n\nreturn {\n  messages: items\n}"},"id":"961d4742-cf4b-4c38-abb5-524186307d39","name":"makeFinalMessages2","type":"n8n-nodes-base.code","typeVersion":2,"position":[2820,880]},{"parameters":{"method":"POST","url":"={{ $vars.gpters_internal_api_endpoint }}/solapi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $vars.gpters_internal_api_token_key}}","value":"={{ $vars.gpters_internal_api_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={ \"messages\": {{ JSON.stringify($json.messages) }} }"}]},"options":{}},"id":"19e628e8-013f-443d-8125-e55839c5df1a","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3080,880]},{"parameters":{"assignments":{"assignments":[{"id":"8c1114ab-b2ac-427c-83de-0ee471e1b330","name":"text","value":"=```{{ $('makeSMSContent3').item.json.content }}``` \n\n발송 완료","type":"string"}]},"options":{}},"id":"fb9b35c0-9ca3-4569-878e-da4790fd3c9d","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3300,880]},{"parameters":{"workflowId":{"__rl":true,"value":"NdYsl2DxRQEFUXG9","mode":"list","cachedResultName":"GPTers — slackNoti_n8n_log"},"options":{}},"id":"a1650246-d857-487f-8403-dc1dd833dfa6","name":"Execute Workflow2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3520,880]},{"parameters":{"method":"POST","url":"={{ $vars.gpters_internal_api_endpoint }}/solapi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $vars.gpters_internal_api_token_key}}","value":"={{ $vars.gpters_internal_api_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={ \"messages\": {{ JSON.stringify($json.messages) }} }"}]},"options":{}},"id":"e30eab4e-6821-4cd0-a9b4-f237b2d7ef7b","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,1540]},{"parameters":{"jsCode":"const input = $input.all()\nlet items = [];\nfor (const item of input) {\n  items.push({   \n    \"from\": \"028876749\",\n    \"to\": item.json['phoneKey'],\n    \"text\": item.json['content'],\n    \"subject\": item.json['title']\n  });\n}\n\nreturn {\n  messages: items\n}"},"id":"8059b110-324d-492a-ad4d-b090a258fcc2","name":"makeFinalMessages3","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,1540]},{"parameters":{"assignments":{"assignments":[{"id":"8c1114ab-b2ac-427c-83de-0ee471e1b330","name":"text","value":"=```{{ $('makeSMSContent1').item.json.content }}``` \n\n발송 완료","type":"string"}]},"options":{}},"id":"24b36887-04a7-4068-8d4a-653e1563ddf0","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3120,1540]},{"parameters":{"workflowId":{"__rl":true,"value":"NdYsl2DxRQEFUXG9","mode":"list","cachedResultName":"GPTers — slackNoti_n8n_log"},"options":{}},"id":"c77cd319-8ff6-4045-b7fc-211a111742c5","name":"Execute Workflow3","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3340,1540]},{"parameters":{"content":"## 만약 이름이 webhook 데이터에 없다면 OO님은 없이 문자 컨텐츠를 만듭니다.","height":533.3720930232558,"width":428.9534883720928},"id":"bc61a37c-0b2c-42bd-be22-2e62925990a5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2520,560]},{"parameters":{"content":"## 문자 발송","height":509.18604651162775,"width":755.4651162790694},"id":"96509310-27f8-4739-be15-2890b9ec12ad","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2980,580]},{"parameters":{"content":"## 14기 결제자들만 따로 수강신청 문자를 발송합니다.\n\n## 14기 상품 번호 : 32130","height":560.5116279069766,"width":1112.6744186046517},"id":"92cd1b63-ac42-4eed-9ae0-4b9b2ec1fc9d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1340,560]}],"connections":{"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"makeSMSContent":{"main":[[{"node":"makeFinalMessages","type":"main","index":0}]]},"makeFinalMessages":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"getPhoneEmailNameData":{"main":[[{"node":"If","type":"main","index":0}]]},"parseBody":{"main":[[{"node":"getPhoneEmailNameData","type":"main","index":0}]]},"getBody":{"main":[[{"node":"parseBody","type":"main","index":0}]]},"If":{"main":[[{"node":"makeSMSContent","type":"main","index":0}],[{"node":"makeSMSContent1","type":"main","index":0}]]},"makeSMSContent1":{"main":[[{"node":"makeFinalMessages3","type":"main","index":0}]]},"parseBody1":{"main":[[{"node":"getPhoneEmailNameData1","type":"main","index":0}]]},"getBody1":{"main":[[{"node":"parseBody1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"getBody","type":"main","index":0}]]},"getPhoneEmailNameData1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"makeFinalMessages1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"If2":{"main":[[{"node":"makeSMSContent2","type":"main","index":0}],[{"node":"makeSMSContent3","type":"main","index":0}]]},"makeSMSContent2":{"main":[[{"node":"makeFinalMessages1","type":"main","index":0}]]},"makeSMSContent3":{"main":[[{"node":"makeFinalMessages2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"getBody1","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"makeFinalMessages2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Execute Workflow2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"makeFinalMessages3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Execute Workflow3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2FkHbmnpOA9Y42fo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"geniefy.app.n8n.cloud","user-agent":"node","content-length":"2403","accept":"*/*","accept-encoding":"gzip, br","accept-language":"*","baggage":"sentry-environment=vercel-production,sentry-release=VERCEL_GIT_COMMIT_SHA,sentry-public_key=35790134f79869e97565ba446c2281d3,sentry-trace_id=1a1fa1c7614745db87f31d1286be90b6,sentry-transaction=POST%20%2Fapi%2Fpurchase%2Fwebhook,sentry-sampled=false","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"3.38.205.174","cf-ew-via":"15","cf-ipcountry":"KR","cf-ray":"8ec20afc473dea10-ICN","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"text/plain;charset=UTF-8","sec-fetch-mode":"cors","sentry-trace":"1a1fa1c7614745db87f31d1286be90b6-9364200f384abdf4-0","x-forwarded-for":"3.38.205.174, 172.71.110.16","x-forwarded-host":"geniefy.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-5-6fbf5bdbfc-6hns9","x-is-trusted":"yes","x-n8n-secret":"3bbaa380-2c62-41b5-bfae-2a948b95e99b","x-real-ip":"3.38.205.174","x-vercel-id":"icn1::2w7vr-1733213030378-1d46088799d9"},"params":{},"query":{},"body":"{\"order\":{\"id\":17396,\"status\":\"Completed\",\"courseEnrollId\":null,\"coachingEnrollId\":null,\"paymentId\":30172,\"userId\":35030,\"customData\":null,\"note\":null,\"createdAt\":\"2024-12-03T08:03:52.022Z\",\"updatedAt\":null,\"user\":{\"id\":35030,\"email\":\"ny@gpters.org\",\"circleEmail\":\"ny@gpters.org\",\"airtableId\":\"recAk8kemOS4Sd5Ct\",\"name\":\"윤누리\",\"nickname\":\"윤누리\",\"phone\":\"01064067539\",\"phoneCountryCode\":\"82\",\"phoneVerified\":true,\"profileImage\":\"https://assets.gpters.org/profiles/recAk8kemOS4Sd5Ct.png\",\"password\":null,\"migrationAlert\":\"Alerted\",\"previousLog\":[4,3,9,6,5,7,8,10,11],\"signupStatus\":\"Completed\",\"nonMemberVerify\":null,\"circleUserId\":7319231,\"accountMergedAt\":null,\"bettermodeExternalId\":\"users1WB0UepSa\",\"bettermodeUserId\":\"Wq23Fqroas\",\"communityHeadline\":\"Product Manager\",\"badges\":[73310,77292,87841],\"mergeStatus\":\"UserAutoMerged\",\"memberFields\":[{\"key\":\"website\",\"value\":\"https://brunch.co.kr/@wine-ny\"},{\"key\":\"instagram_url\",\"value\":\"https://www.instagram.com/wine_ny\"},{\"key\":\"linkedin_url\",\"value\":\"https://www.linkedin.com/in/nuri-yoon-8b3058117/\"}],\"migrationStatus\":\"Migrated\",\"kakaoId\":\"3262799906\",\"naverId\":null,\"introduction\":\"지피터스 커뮤니티 리더 윤누리입니다.\",\"affiliation\":null,\"customData\":null,\"note\":null,\"referrerCode\":\"DSLHDMK8\",\"referrerUserId\":null,\"partnerId\":28668,\"createdAt\":\"2023-02-17T07:35:56.876Z\",\"updatedAt\":\"2024-11-14T08:56:38.048Z\",\"tempSpeakCount\":0},\"orderItems\":[{\"id\":38802,\"quantity\":1,\"actualPrice\":\"50000\",\"refundedPrice\":null,\"currency\":\"KRW\",\"status\":\"Completed\",\"orderId\":17396,\"productId\":32130,\"coachingId\":null,\"customData\":null,\"note\":null,\"createdAt\":\"2024-12-03T08:03:52.022Z\",\"updatedAt\":null,\"product\":{\"name\":\"글로벌 커뮤니티 성공 전략 스터디\"}}],\"payment\":{\"id\":30172,\"name\":\"글로벌 커뮤니티 성공 전략 스터디\",\"merchantUid\":\"ab6a3726-c74b-42c3-b9b5-b6c67a9bb816\",\"impUid\":\"imp_191009811932\",\"actualPrice\":\"50000\",\"refundedPrice\":null,\"currency\":\"KRW\",\"receiptUrl\":\"https://pg-web.kakao.com/v1/confirmation/p/T74ebb512ec17aea23df/611fa678a42c2646ff7fdf7740b8776c628ee662efe5df358a66616d0d981703\",\"method\":\"Kakao\",\"status\":\"Success\",\"cardName\":null,\"cardNumber\":null,\"cardQuota\":0,\"vBankName\":null,\"vBankNum\":null,\"vBankHolder\":null,\"vBankDate\":null,\"cancelHistory\":[],\"paidAt\":\"2024-12-03T08:03:49.000Z\",\"createdAt\":\"2024-12-03T08:03:52.022Z\",\"updatedAt\":null,\"customData\":null,\"note\":null}}}","webhookUrl":"https://geniefy.app.n8n.cloud/webhook/afterPaymentCheckEmail","executionMode":"production"}}]},"versionId":"ef2b4bec-63f4-40c9-84b9-ce73b9bd0424","triggerCount":1,"tags":[{"createdAt":"2024-12-19T05:42:26.692Z","updatedAt":"2024-12-19T05:42:26.692Z","id":"6jGNsGbeldyGRTIX","name":"문자"}]}