workflows/09_ZOOM 인증메일 포워딩.json
{"createdAt":"2024-11-27T06:00:10.965Z","updatedAt":"2024-12-19T05:41:16.000Z","id":"OrxlIXXKmqRnmGEk","name":"09_ZOOM 인증메일 포워딩","active":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"sender":"study1@gpters.org"}},"id":"2b81351e-18bf-4606-92ec-ff3df4ade783","name":"study1","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[-720,740],"credentials":{"gmailOAuth2":{"id":"OCvWFqduszTnx241","name":"Gmail account 2"}}},{"parameters":{"method":"POST","url":"={{ $vars.gpters_internal_api_endpoint }}/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $vars.gpters_internal_api_token_key }}","value":"={{ $vars.gpters_internal_api_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.content }}"},{"name":"preview","value":"={{ $json.preview }}"},{"name":"bcc","value":"={{ [JSON.stringify($json.email) ]}}"},{"name":"title","value":"={{ $json.title }}"},{"name":"transactionId","value":"={{ $json.transactionId }}"},{"name":"=emailId","value":"={{ $json.emailId }}"}]},"options":{"batching":{"batch":{"batchSize":10,"batchInterval":10000}}}},"id":"dfe4373d-aa1f-4c92-a6fd-2d726286c68d","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,660],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"onError":"continueRegularOutput","notes":"### 7. HTTP Request\n- **설명**: 준비된 이메일 콘텐츠를 지정된 API로 전송합니다.\n- **기능**: 설정된 API 엔드포인트로 이메일을 POST 요청으로 전송합니다. 실패 시 최대 5회 재시도하며, 성공 시 알림을 전송합니다."},{"parameters":{"assignments":{"assignments":[{"id":"6b9af878-44db-4e39-bdcd-4f3b0fb8f52b","name":"email","value":"={{ $('Loop Over Items').item.json.emails }}","type":"string"},{"id":"e1abb5e1-24c7-4f93-a599-fc4ec54a74a7","name":"title","value":"Zoom 로그인 코드","type":"string"},{"id":"7bfdf960-61e7-413c-bc66-fee9f0e8e960","name":"preview","value":"Zoom 로그인 코드","type":"string"},{"id":"7da176d0-58f6-4102-8ced-3e418a69e5ca","name":"content","value":"={{ $json.htmlContent }}","type":"string"},{"id":"a21ba986-b0fa-4adc-a4de-31c4ddbdebbd","name":"transactionId","value":"=","type":"string"},{"id":"ab6b7cdf-2c70-445d-a20e-fc81ee914835","name":"emailId","value":"=","type":"string"}]},"options":{}},"id":"1872b119-d670-441e-a512-240809f384c7","name":"sendEmail","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,660],"notes":"### 6. sendEmail\n- **설명**: 준비된 콘텐츠를 이메일로 전송하기 위해 데이터를 준비합니다.\n- **기능**: Airtable 및 템플릿에서 추출한 이메일, 제목, 내용, 미리보기 등의 정보를 설정합니다."},{"parameters":{"jsCode":"// Function 노드의 코드\n\n// 입력된 snippet 데이터 가져오기\nconst snippet = $node[\"Merge\"].json[\"snippet\"];\n\n// 필요한 정보 추출을 위한 정규표현식 패턴 정의\nconst codePattern = /코드를 입력하십시오\\.\\s*(\\d+)\\s*코드는/;\nconst datePattern = /Date\\s+([\\d\\/:\\sAPM]+)/;\nconst browserPattern = /Browser\\s+([^\\n]+)/;\nconst osPattern = /Operating System\\s+([^\\n]+)/;\nconst locationPattern = /Location\\s+([^\\n]+)/;\nconst namePattern = /안녕하세요([^\\s,]+)[님,|,\\n]/;\n\n// 각 정보 추출\nconst codeMatch = snippet.match(codePattern);\nconst dateMatch = snippet.match(datePattern);\nconst browserMatch = snippet.match(browserPattern);\nconst osMatch = snippet.match(osPattern);\nconst locationMatch = snippet.match(locationPattern);\nconst nameMatch = snippet.match(namePattern);\n\n// 추출된 데이터 변수에 저장\nconst code = codeMatch ? codeMatch[1] : '';\nconst date = dateMatch ? dateMatch[1] : '';\nconst browser = browserMatch ? browserMatch[1] : '';\nconst os = osMatch ? osMatch[1] : '';\nconst location = locationMatch ? locationMatch[1] : '';\nconst name = nameMatch ? nameMatch[1] : '고객';\n\n// 이미지 URL 수정 (실제 이미지 URL 사용)\nconst imageUrl = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRohD4e3zXSpC1mpURiV_opXy6Av6SY06v49g&s';\n\n// HTML 템플릿 작성 (헤더 배경색 제거 및 이미지 태그 수정)\nconst htmlContent = `\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Zoom 보안 알림</title>\n    <style type=\"text/css\">\n        body { font-family: '맑은 고딕', Arial, sans-serif; background-color: #EEEEEE; margin: 0; padding: 0; }\n        .container { max-width: 600px; margin: 0 auto; background-color: #FFFFFF; padding: 40px; }\n        .header { padding: 20px; text-align: center; } /* 배경색 제거 */\n        .header img { max-width: 100px; }\n        .content { margin-top: 40px; font-size: 14px; color: #232333; line-height: 1.5; }\n        .content h1 { font-size: 24px; }\n        .code { font-size: 28px; font-weight: bold; letter-spacing: 0.2em; margin: 20px 0; }\n        .details { background-color: #F7F7FC; padding: 20px; }\n        .details table { width: 100%; }\n        .details td { padding: 5px 0; }\n        .details td.label { color: #747487; width: 30%; }\n        .footer { margin-top: 40px; font-size: 12px; color: #747487; }\n        .footer a { color: #0E71EB; text-decoration: none; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <img src=\"${imageUrl}\" alt=\"Zoom Logo\" style=\"display:block; font-family:'Lato',Helvetica,sans-serif; font-size:18px; line-height:22px; color:#76798a; font-weight:bold; width:100%; max-width:100px\" width=\"100\">\n    </div>\n    <div class=\"container\">\n        <div class=\"content\">\n            <p>안녕하세요 ${name}님,</p>\n            <p>평소에 사용하지 않는 장치 또는 위치에서 비정상적인 로그인이 감지되었습니다. 귀하가 맞으면 Zoom에 로그인하기 위해 아래에 코드를 입력하십시오.</p>\n            <div class=\"code\">${code}</div>\n            <p>코드는 10분 후 만료됩니다.</p>\n            <p>아래 로그인 활동 세부 정보를 검토하십시오.</p>\n            <div class=\"details\">\n                <table>\n                    <tr>\n                        <td class=\"label\">Date</td>\n                        <td>${date}</td>\n                    </tr>\n                    <tr>\n                        <td class=\"label\">Browser</td>\n                        <td>${browser}</td>\n                    </tr>\n                    <tr>\n                        <td class=\"label\">Operating System</td>\n                        <td>${os}</td>\n                    </tr>\n                    <tr>\n                        <td class=\"label\">Location</td>\n                        <td>${location}</td>\n                    </tr>\n                </table>\n            </div>\n            <p>만약 귀하가 아니라면, <a href=\"https://zoom.us/security\">여기</a>에서 저희에게 알려주십시오. 계정 보안을 위해 암호를 업데이트하고 2단계 인증을 사용하는 것이 좋습니다.</p>\n            <p>감사합니다.<br>Zoom 운영팀</p>\n        </div>\n        <div class=\"footer\">\n            <p>계정의 보안을 강화하기 위해 로그인 경고를 활성화했습니다. 새로운 브라우저, 위치 또는 장치에서 로그인 활동이 감지되면 사용자에게 알려드립니다.</p>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\n// 결과를 json으로 반환\nreturn [{ json: { htmlContent } }];\n"},"id":"7f797df6-5869-4ef1-a455-5b863e188b7a","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[760,680]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"sender":"study2@gpters.org"}},"id":"bea8d541-3f37-4b9c-8e30-9f6b9248b5d1","name":"study2","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[-720,920],"credentials":{"gmailOAuth2":{"id":"OCvWFqduszTnx241","name":"Gmail account 2"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"sender":"study3@gpters.org"}},"id":"a540952a-3e11-4670-bf94-386522d784e6","name":"study3","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[-720,1100],"credentials":{"gmailOAuth2":{"id":"OCvWFqduszTnx241","name":"Gmail account 2"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"sender":"study4@gpters.org"}},"id":"d8e3bd0a-efcf-495c-80f8-d2966b9da230","name":"study4","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[-720,1280],"credentials":{"gmailOAuth2":{"id":"OCvWFqduszTnx241","name":"Gmail account 2"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"sender":"study5@gpters.org"}},"id":"95942f6d-ebc6-4b2b-98c7-a925a01bd610","name":"study5","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[-720,1460],"credentials":{"gmailOAuth2":{"id":"OCvWFqduszTnx241","name":"Gmail account 2"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"https://airtable.com/appq8xK4PLp7D7aCg/tblQNIOB0C8CXvgis/viwPDCwrCgox416za","mode":"url"},"table":{"__rl":true,"value":"tblP0bMmo1xuLnX2v","mode":"list","cachedResultName":"확정된 스터디(건들지X)","cachedResultUrl":"https://airtable.com/appq8xK4PLp7D7aCg/tblP0bMmo1xuLnX2v"},"options":{"view":{"__rl":true,"value":"viwZeCKCLliQZ5nWq","mode":"id"}}},"id":"24c58b7e-8751-47c6-a390-db1b0bcc257e","name":"getStudyCaptionData","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-100,1200],"credentials":{"airtableTokenApi":{"id":"v6sNKykfBVnEaT0g","name":"Airtable Personal Access Token account"}}},{"parameters":{"assignments":{"assignments":[{"id":"78346d82-c605-447b-91c2-ea72fff42ddf","name":"studyNumber","value":"={{ $json.To.slice(5,6) }}","type":"string"}]},"options":{}},"id":"7d4d7180-8893-4569-b104-baf57fa23479","name":"getStudyNumer","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,1200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb951351-470b-490e-bac8-e290de9101ab","leftValue":"={{ $json['줌계정'] }}","rightValue":"={{ $('getStudyNumer').item.json.studyNumber }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"2c1931de-ade2-4e37-a032-b94bce96514d","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[120,1200]},{"parameters":{"assignments":{"assignments":[{"id":"effa76bd-313b-402e-bdfa-fdafcb5943e6","name":"emails","value":"={{ $json['이메일 (from 스터디장s)'] }}","type":"string"}]},"options":{}},"id":"337dc349-c1f5-455e-82d2-d64f82c771d9","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,1100]},{"parameters":{"options":{}},"id":"ac4583cc-79c6-4a65-9fdc-8afffbd78f9b","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[420,680]},{"parameters":{"numberInputs":5},"id":"66696abe-1d4f-4aca-be02-df876179ac3d","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-500,1160]},{"parameters":{},"id":"9a56fd6e-c8cf-412a-b2f1-554856a91359","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[340,1340]},{"parameters":{"content":"## 줌 인증 메일이 오면 그 메일이 Study N 번째 인지 파싱합니다.","height":1002.3469387755102,"width":543.4438775510201},"id":"24be4c48-f861-4b7a-ba4a-ae5bc377e5db","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-740,660]},{"parameters":{"content":"## 현재 진행되는 확정된 스터디 에서만 스터디장의 이메일 정보를 가져옵니다.\n\n## 만약 인증 메일의 N 번째 숫자와 스터디장의 N 숫자가 같다면 ","height":997.3724489795927,"width":419.08163265306143},"id":"1929db6c-40bb-423d-9a1d-1f73cb26a492","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,660]},{"parameters":{"content":"## 각 스터디장에게 똑같은 인증 메일을 발송합니다.","height":669.0561224489797,"width":1082.3469387755108},"id":"5c3cffac-060d-46b2-b613-18984c5ff5a1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[300,600]}],"connections":{"sendEmail":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"sendEmail","type":"main","index":0}]]},"getStudyNumer":{"main":[[{"node":"getStudyCaptionData","type":"main","index":0}]]},"getStudyCaptionData":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"study1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"study2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"study3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"study4":{"main":[[{"node":"Merge","type":"main","index":3}]]},"study5":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Merge":{"main":[[{"node":"getStudyNumer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2FkHbmnpOA9Y42fo"},"staticData":{"node:study1":{"study1":{"lastTimeChecked":1735302268}},"node:study2":{"study2":{"lastTimeChecked":1735302268}},"node:study3":{"study3":{"lastTimeChecked":1735010509,"possibleDuplicates":["193f6af6d69709b7"]}},"node:study4":{"study4":{"lastTimeChecked":1735302269}},"node:study5":{"study5":{"lastTimeChecked":1732774788,"possibleDuplicates":["193716d04076947d"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"study1":[{"json":{"id":"1932a586e42e43bd","threadId":"1932a586e42e43bd","snippet":"Zoom Logo 안녕하세요지피터스 스터디장 1님, 평소에 사용하지 않는 장치 또는 위치에서 비정상적인 로그인이 감지되었습니다. 귀하가 맞으면 Zoom에 로그인하기 위해 아래에 코드를 입력하십시오. 499108 코드는 10분 후 만료됩니다. 아래 로그인 활동 세부 정보를 검토하십시오. Date 2024/11/14 08:04:14 PM Browser -","payload":{"mimeType":"text/html"},"sizeEstimate":41669,"historyId":"748943","internalDate":"1731582255000","labels":[{"id":"INBOX","name":"INBOX"},{"id":"IMPORTANT","name":"IMPORTANT"},{"id":"CATEGORY_FORUMS","name":"CATEGORY_FORUMS"},{"id":"UNREAD","name":"UNREAD"}],"From":"\"'Zoom' via 지피터스 스터디장1\" <study1@gpters.org>","Subject":"Zoom 로그인 코드","To":"study1@gpters.org"}}],"study2":[{"json":{"id":"1932a586e42e43bd","threadId":"1932a586e42e43bd","snippet":"Zoom Logo 안녕하세요지피터스 스터디장 1님, 평소에 사용하지 않는 장치 또는 위치에서 비정상적인 로그인이 감지되었습니다. 귀하가 맞으면 Zoom에 로그인하기 위해 아래에 코드를 입력하십시오. 499108 코드는 10분 후 만료됩니다. 아래 로그인 활동 세부 정보를 검토하십시오. Date 2024/11/14 08:04:14 PM Browser -","payload":{"mimeType":"text/html"},"sizeEstimate":41669,"historyId":"748943","internalDate":"1731582255000","labels":[{"id":"INBOX","name":"INBOX"},{"id":"IMPORTANT","name":"IMPORTANT"},{"id":"CATEGORY_FORUMS","name":"CATEGORY_FORUMS"},{"id":"UNREAD","name":"UNREAD"}],"From":"\"'Zoom' via 지피터스 스터디장1\" <study1@gpters.org>","Subject":"Zoom 로그인 코드","To":"study1@gpters.org"}}],"study4":[{"json":{"id":"1936c18a389c2893","threadId":"1936c18a389c2893","snippet":"Zoom Logo 안녕하세요지피터스 스터디장 2님, 평소에 사용하지 않는 장치 또는 위치에서 비정상적인 로그인이 감지되었습니다. 귀하가 맞으면 Zoom에 로그인하기 위해 아래에 코드를 입력하십시오. 201822 코드는 10분 후 만료됩니다. 아래 로그인 활동 세부 정보를 검토하십시오. Date 2024/11/27 02:29:31 PM Browser","payload":{"mimeType":"text/html"},"sizeEstimate":41577,"historyId":"767700","internalDate":"1732685371000","labels":[{"id":"INBOX","name":"INBOX"},{"id":"IMPORTANT","name":"IMPORTANT"},{"id":"CATEGORY_FORUMS","name":"CATEGORY_FORUMS"},{"id":"UNREAD","name":"UNREAD"}],"From":"\"'Zoom' via 지피터스 스터디장2\" <study2@gpters.org>","Subject":"Zoom 로그인 코드","To":"study2@gpters.org"}}],"study5":[{"json":{"id":"1936c18a389c2893","threadId":"1936c18a389c2893","snippet":"Zoom Logo 안녕하세요지피터스 스터디장 2님, 평소에 사용하지 않는 장치 또는 위치에서 비정상적인 로그인이 감지되었습니다. 귀하가 맞으면 Zoom에 로그인하기 위해 아래에 코드를 입력하십시오. 201822 코드는 10분 후 만료됩니다. 아래 로그인 활동 세부 정보를 검토하십시오. Date 2024/11/27 02:29:31 PM Browser","payload":{"mimeType":"text/html"},"sizeEstimate":41577,"historyId":"767700","internalDate":"1732685371000","labels":[{"id":"INBOX","name":"INBOX"},{"id":"IMPORTANT","name":"IMPORTANT"},{"id":"CATEGORY_FORUMS","name":"CATEGORY_FORUMS"},{"id":"UNREAD","name":"UNREAD"}],"From":"\"'Zoom' via 지피터스 스터디장2\" <study2@gpters.org>","Subject":"Zoom 로그인 코드","To":"study2@gpters.org"}}],"study3":[{"json":{"id":"1936c4f2eb38a58d","threadId":"1936c4c1d02fc4c4","snippet":"Zoom Logo 안녕하세요지피터스 스터디장 3님, 평소에 사용하지 않는 장치 또는 위치에서 비정상적인 로그인이 감지되었습니다. 귀하가 맞으면 Zoom에 로그인하기 위해 아래에 코드를 입력하십시오. 793630 코드는 10분 후 만료됩니다. 아래 로그인 활동 세부 정보를 검토하십시오. Date 2024/11/27 03:29:06 PM Browser","payload":{"mimeType":"text/html"},"sizeEstimate":41582,"historyId":"767967","internalDate":"1732688946000","labels":[{"id":"INBOX","name":"INBOX"},{"id":"IMPORTANT","name":"IMPORTANT"},{"id":"CATEGORY_FORUMS","name":"CATEGORY_FORUMS"},{"id":"UNREAD","name":"UNREAD"}],"From":"\"'Zoom' via 지피터스 스터디장3\" <study3@gpters.org>","Subject":"Zoom 로그인 코드","To":"study3@gpters.org"}}]},"versionId":"489373b6-4fbd-492c-b337-7196739c9e16","triggerCount":5,"tags":[{"createdAt":"2024-11-27T05:48:24.505Z","updatedAt":"2024-11-27T05:48:24.505Z","id":"Jn1LZemkM7Y8SDPh","name":"zoom"}]}