workflows/10_유저 쿠폰 추가하기.json
{"createdAt":"2024-11-15T09:22:17.380Z","updatedAt":"2024-12-26T05:40:21.000Z","id":"g2h3K5eO2G4CsV24","name":"10_유저 쿠폰 추가하기","active":true,"nodes":[{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.body.view.url }}","mode":"url"},"table":{"__rl":true,"value":"={{ $json.body.table }}","mode":"id"},"options":{"view":{"__rl":true,"value":"={{ $json.body.view.id }}","mode":"id"}}},"id":"b7f856b4-0078-4004-b380-cadcca9ac6c5","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[680,460],"credentials":{"airtableTokenApi":{"id":"v6sNKykfBVnEaT0g","name":"Airtable Personal Access Token account"}}},{"parameters":{"keys":{"key":[{"currentKey":"={{ $('Webhook').first().json.body.phoneKey }}","newKey":"phone"}]},"additionalOptions":{}},"id":"ec425c98-5023-4296-9d4d-a55cf39753ea","name":"Rename Keys","type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[880,460]},{"parameters":{"workflowId":{"__rl":true,"value":"XVWUaUPaaiGofxQ6","mode":"list","cachedResultName":"GPTers — slackNoti_airtable"},"options":{}},"id":"00185a49-5729-4cf2-a4f9-a3fadc19ee86","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2360,520]},{"parameters":{"assignments":{"assignments":[{"id":"a1cab5a1-4194-4e07-8027-82b298b52310","name":"text","value":"=쿠폰ID({{ $('Webhook').first().json.body.couponId }})를\n\n총 {{ $('Airtable').all().length }}명에게 발급요청 하였습니다.\n\n{{ $('Postgres').all().length }}명에게 쿠폰 발급 성공하였습니다.\n","type":"string"}]},"options":{}},"id":"d222b752-b509-4910-bf0a-b3a3c76fb3e2","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2120,520],"executeOnce":true},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"UserCoupon","mode":"list","cachedResultName":"UserCoupon"},"columns":{"mappingMode":"defineBelow","value":{"userId":"={{ $json.id }}","couponId":"={{ $('Webhook').item.json.body.couponId }}","issuedBy":"Admin"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"couponId","displayName":"couponId","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"issuedBy","displayName":"issuedBy","required":true,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"Admin","value":"Admin"},{"name":"Manual","value":"Manual"},{"name":"Url","value":"Url"},{"name":"Auto","value":"Auto"},{"name":"Calculate","value":"Calculate"}]},{"id":"customData","displayName":"customData","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"note","displayName":"note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"referrel__","displayName":"referrel__","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updatedAt","displayName":"updatedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}]},"options":{}},"id":"01be65a7-e4a7-4f16-a8d2-47c18b69db58","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1900,520],"credentials":{"postgres":{"id":"fWzctmu40cX0DjDn","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"User","mode":"list","cachedResultName":"User"},"limit":10,"where":{"values":[{"column":"phone","value":"={{ Array.isArray($json.phone) ? $json.phone[0] : $json.phone }}"}]},"options":{}},"id":"b8b67465-c02c-4219-90c9-e2e866e3e867","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1620,500],"credentials":{"postgres":{"id":"fWzctmu40cX0DjDn","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5548c073-d315-4922-9e59-f23f7eb71227","name":"phone","value":"={{ Array.isArray($json.phone) ? $json.phone[0] : $json.phone }}","type":"string"}]},"options":{}},"id":"4996cba5-47c9-44f0-9db9-fcd841fb17a9","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1320,460]},{"parameters":{"httpMethod":"POST","path":"addUserCoupon","options":{}},"id":"ccfef988-2022-4e09-88fc-51e380fa12ad","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[460,460],"webhookId":"7380b152-554b-472d-95d6-93bb436c44d7"},{"parameters":{"content":"Webhook 노드\n\n\n/addUserCoupon 엔드포인트로 POST 요청을 받는 시작점\n요청에는 Airtable 테이블 ID, 뷰 정보, 쿠폰 ID, 전화번호 필드명이 포함됨\n\n\nAirtable 노드\n\n\n받은 정보를 기반으로 Airtable에서 데이터를 검색\n지정된 테이블과 뷰에서 데이터를 가져옴\n\n\nRename Keys 노드\n\n\nAirtable에서 가져온 데이터의 키를 변경\nphoneKey 필드를 phone으로 이름 변경","height":554.8837209302324,"width":601.395348837209},"id":"0edeef23-39aa-4fb6-a59b-f98a139993c1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[440,100]},{"parameters":{"content":"Filter 노드\n\n\n전화번호가 비어있지 않은 데이터만 필터링\n전화번호 데이터가 있는 레코드만 다음 단계로 전달\n\n\nEdit Fields1 노드\n\n\n전화번호 데이터 형식 통일\n배열인 경우 첫 번째 값을, 아닌 경우 그대로 사용","height":412.5581395348838,"width":401.860465116279},"id":"54b5f107-c81c-4fc0-9630-2bfe7caa377d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1080,240]},{"parameters":{"content":"Postgres1 노드\n\n\nUser 테이블에서 전화번호로 유저 검색\n해당 전화번호를 가진 유저 정보 조회\n\n\nPostgres 노드\n\n\nUserCoupon 테이블에 새 레코드 추가\nuserId, couponId, issuedBy(Admin) 정보 입력\n\n\nEdit Fields 노드\n\n\n결과 메시지 생성\n쿠폰 발급 요청 수, 성공 수, 전화번호 없는 수, 유저 데이터에 없는 수 등 집계\n","height":621.8604651162796,"width":1006.0465116279067},"id":"17e6f58b-f96a-4e78-b288-b07bdcf58fb1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1600,60]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d11a33f2-ce30-47d8-8bb4-05b13c89ca28","leftValue":"={{ $json.phone.toString() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6edc035d-1170-4614-a1ee-179b6c5a750f","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1100,460]},{"parameters":{"fieldsToSummarize":{"values":[{"field":"id"}]},"options":{}},"id":"f0661b27-7053-490e-b4d3-b9627c3a497b","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1320,700]},{"parameters":{"assignments":{"assignments":[{"id":"77416dc5-7998-4d7b-af59-1c86789203d2","name":"text","value":"=<@U06BNH5R26T> {{ $json.count_id }} 명이 쿠폰 발급에 실패했습니다.","type":"string"}]},"options":{}},"id":"da88ddb2-6fc5-4107-9f88-8249b4dcf495","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1540,700]},{"parameters":{"workflowId":{"__rl":true,"value":"XVWUaUPaaiGofxQ6","mode":"list","cachedResultName":"GPTers — 03_slackNoti_airtable"},"options":{}},"id":"69453ed4-0e70-4f32-bbb0-acc2b2d5e5eb","name":"Execute Workflow1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1720,700],"executeOnce":true},{"parameters":{"options":{}},"id":"63c99c90-1690-49b7-b30f-e8c052f2c6a3","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,980]},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"UserCoupon","mode":"list","cachedResultName":"UserCoupon"},"columns":{"mappingMode":"defineBelow","value":{"userId":"={{ $json.id }}","issuedBy":"Admin","couponId":43293},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"couponId","displayName":"couponId","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"issuedBy","displayName":"issuedBy","required":true,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"Admin","value":"Admin"},{"name":"Manual","value":"Manual"},{"name":"Url","value":"Url"},{"name":"Auto","value":"Auto"},{"name":"Calculate","value":"Calculate"}]},{"id":"customData","displayName":"customData","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"note","displayName":"note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"referrel__","displayName":"referrel__","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updatedAt","displayName":"updatedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}]},"options":{}},"id":"52fa34ef-899d-49a7-afa9-af46b5bcf7ae","name":"Postgres2","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1560,980],"credentials":{"postgres":{"id":"fWzctmu40cX0DjDn","name":"Postgres account"}}},{"parameters":{"content":"## userId 배열을 만들고 쿠폰 넣어주기","height":197.2971876690102,"width":891.9548404542992},"id":"8d7cb967-5535-4662-93ef-4f582c063dfa","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,940]}],"connections":{"Airtable":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"Rename Keys":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Postgres2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2FkHbmnpOA9Y42fo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"geniefy.app.n8n.cloud","user-agent":"Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)","content-length":"231","accept":"*/*","accept-encoding":"gzip, br","authorization":"Basic Z3B0ZXJzOkdwdGVyczIwMjNAIw==","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"34.227.105.110","cf-ew-via":"15","cf-ipcountry":"US","cf-ray":"8f7d500fc4aa2426-IAD","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","x-airtable-source":"appq8xK4PLp7D7aCg/wflgDl9rAuIq1VA37","x-forwarded-for":"34.227.105.110, 172.71.222.217","x-forwarded-host":"geniefy.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-5-6fbf5bdbfc-6hns9","x-is-trusted":"yes","x-real-ip":"34.227.105.110"},"params":{},"query":{},"body":{"table":"tblAV1fM6DdHEMfWR","view":{"id":"viwS57M4bnYqQY66b","name":"재참여 유저","type":"grid","url":"https://airtable.com/appq8xK4PLp7D7aCg/tblAV1fM6DdHEMfWR/viwS57M4bnYqQY66b"},"couponId":"43293","phoneKey":"전화번호"},"webhookUrl":"https://geniefy.app.n8n.cloud/webhook/addUserCoupon","executionMode":"production"}}],"Edit Fields3":[{"json":{"id":34788}},{"json":{"id":34870}},{"json":{"id":34985}},{"json":{"id":35004}},{"json":{"id":35028}},{"json":{"id":35029}},{"json":{"id":35032}},{"json":{"id":35109}},{"json":{"id":35192}},{"json":{"id":35290}},{"json":{"id":35392}},{"json":{"id":35436}},{"json":{"id":35443}},{"json":{"id":35579}},{"json":{"id":35614}},{"json":{"id":35615}},{"json":{"id":35625}},{"json":{"id":35679}},{"json":{"id":35864}},{"json":{"id":36217}},{"json":{"id":36303}},{"json":{"id":36336}},{"json":{"id":36521}},{"json":{"id":36560}},{"json":{"id":38636}},{"json":{"id":42972}},{"json":{"id":43050}},{"json":{"id":44202}},{"json":{"id":45059}}]},"versionId":"5a52e04f-6b6a-4d88-a2f7-b8460f602552","triggerCount":1,"tags":[{"createdAt":"2024-12-19T05:45:30.834Z","updatedAt":"2024-12-19T05:45:30.834Z","id":"Ugx2dSIZrTnEVghd","name":"쿠폰"}]}