workflows/12_ZoomRecording 가져오기.json
{"createdAt":"2024-11-15T08:54:55.752Z","updatedAt":"2024-12-20T01:11:42.000Z","id":"mc5L1dzvaWTHztzG","name":"12_ZoomRecording 가져오기","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":30}]}},"id":"ca572b93-1cd6-478e-8021-cc28d0bcfbb4","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-60,460]},{"parameters":{"workflowId":{"__rl":true,"value":"h0vVFgUNOqCpOidm","mode":"list","cachedResultName":"GPTers — ZoomRecording 업로드[지니파이 드라이브]"},"options":{"waitForSubWorkflow":false}},"id":"05b7a734-4e3b-49da-a126-3f04e2da5bf8","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2720,460]},{"parameters":{"method":"POST","url":"https://zoom.us/oauth/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic TkFVNXN4Ym1TV2F6SmtGbVJieXB3OnJoTW1mWlhwVWdKbm1MMU9EMTJ4VTJrUnVKZVNEMTBK"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"account_credentials"},{"name":"account_id","value":"92oNFHvfQJ6EuQ3jwLgDzA"}]},"options":{}},"id":"34e0e4d7-95b7-4d35-8be4-94581572bc05","name":"getAccessToken","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,460]},{"parameters":{"url":"https://api.zoom.us/v2/groups/GL_F9AaqR06VmCmzi_8iTg/members","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"options":{}},"id":"30e93550-1b46-4dbc-afb3-bde3ffc87b6d","name":"getUsers","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,460]},{"parameters":{"fieldToSplitOut":"members","options":{}},"id":"17a12129-4501-4734-b6df-baa391529f6e","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[880,460]},{"parameters":{"url":"=https://api.zoom.us/v2/users/{{ $json.id }}/recordings","sendQuery":true,"queryParameters":{"parameters":[{"name":"from","value":"={{ $('Code1').first().json.result }}"},{"name":"to","value":"={{ $('Code1').first().json.dateStr }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('getAccessToken').item.json.access_token }}"}]},"options":{}},"id":"400475b0-a979-4bc2-b088-c81478c27b69","name":"loopGetRecordings","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,460]},{"parameters":{"jsCode":"\nconst members = $('getUsers').first().json.members\n\nconsole.log(members)\n\nconst allMeetings = $('loopGetRecordings').all().flatMap(item => item.json.meetings).map(item => ({\n...item,\n  email: members.find(({id}) => id === item.host_id).email,\n  recording_files_obj: item.recording_files.reduce((prev, cur) => {\nprev[cur.recording_type] = cur\n    return prev\n  }, {}) \n}));\n\n\nconst now = new Date();\nconst twentyFourHoursAgo = new Date(now - 24 * 60 * 60 * 1000);\n\nconsole.log(allMeetings)\n\nconst todayMeetings = allMeetings.filter(meeting => {\n     const meetingStartTime = new Date(meeting.start_time);\n     return meetingStartTime >= twentyFourHoursAgo && meetingStartTime <= now;\n    return true\n})\n\nreturn todayMeetings"},"id":"5484ad36-7ff1-4810-b977-46a13c9c3466","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1620,460],"notesInFlow":false},{"parameters":{"options":{}},"id":"fccfed11-5ed5-4dcd-86fd-f5b54e1917d0","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2000,460]},{"parameters":{"amount":20},"id":"2d61c66d-d489-4541-a5c8-94fd317221d1","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3140,460],"webhookId":"9e0d4502-a014-48a7-83a2-ea0e3edb5225"},{"parameters":{"workflowId":{"__rl":true,"value":"ZRcdNbQDxy7eWXSw","mode":"list","cachedResultName":"GPTers — Study_Monitoring_AUTO & UPLOAD VOD"},"options":{}},"id":"dd0b0d6a-61b9-46a9-bd99-1ced0f7a70cf","name":"Call Study_Monitor_AUTO","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2940,460],"executeOnce":false,"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const members = $('getUsers').first().json.members;\n\nconsole.log(members);\n\nconst allMeetings = $('loopGetRecordings').all().flatMap(item => item.json.meetings).map(item => ({\n  ...item,\n  email: members.find(({ id }) => id === item.host_id).email,\n  recording_files_obj: item.recording_files.reduce((prev, cur) => {\n    prev[cur.recording_type] = cur;\n    return prev;\n  }, {}),\n}));\n\nconst now = new Date();\nconst oneMonthAgo = new Date(now);\noneMonthAgo.setMonth(now.getMonth() - 1);\n\nconsole.log(allMeetings);\n\nconst monthMeetings = allMeetings.filter(meeting => {\n  const meetingStartTime = new Date(meeting.start_time);\n  return meetingStartTime >= oneMonthAgo && meetingStartTime <= now;\n});\n\nreturn monthMeetings;\n"},"id":"6e56f095-a6ab-4974-ad9e-522ad93e8468","name":"TestCode","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,640]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const dateStr = $('Schedule Trigger').item.json.timestamp.slice(0,10);\nconst date = new Date(dateStr);\ndate.setDate(date.getDate() - 14);\nconst result = date.toISOString().slice(0,10);\n\nreturn { dateStr, result };"},"id":"138e0e9a-0573-4cd7-9f7d-6cf51c42f49c","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[200,460],"executeOnce":true},{"parameters":{"content":"## 줌 인증을 통해 ACCESS TOKEN 가져오기\n\n## 가져온 토큰을 활용하여 줌 계정 정보 가져오기","height":521.3953488372092,"width":1268.2558139534888},"id":"5cfdfb22-c4fa-42b1-a5cf-30ab6eadedaf","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,240]},{"parameters":{"content":"## 줌 레코딩 가져오고 난 후 직전에 전 날에 진행된 녹화본만 가져오기","height":564.4186046511625,"width":769.1860465116281},"id":"53db4678-4887-4238-87d2-f612783ead86","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1160,220]},{"parameters":{"content":"## 녹화본 1개씩 loop를 돌면서 구글 드라이브 업로드와 줌 모니터링 자동화와 유튜브 업로드 진행","height":560.1162790697678,"width":1425.2906976744184},"id":"dd8b4162-292d-4d55-82cd-2665139ea7c0","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1960,220]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code1","type":"main","index":0}]]},"getAccessToken":{"main":[[{"node":"getUsers","type":"main","index":0}]]},"getUsers":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"loopGetRecordings","type":"main","index":0}]]},"loopGetRecordings":{"main":[[{"node":"Code","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Call Study_Monitor_AUTO","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Call Study_Monitor_AUTO":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Code1":{"main":[[{"node":"getAccessToken","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2FkHbmnpOA9Y42fo"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2024-12-13T06:30:41.004+09:00","Readable date":"December 13th 2024, 6:30:41 am","Readable time":"6:30:41 am","Day of week":"Friday","Year":"2024","Month":"December","Day of month":"13","Hour":"06","Minute":"30","Second":"41","Timezone":"Asia/Seoul (UTC+09:00)"}}],"Code":[{"json":{"uuid":"cIDt/CFHT8qn27EqOxES1w==","id":84694819350,"account_id":"92oNFHvfQJ6EuQ3jwLgDzA","host_id":"M76tXw-sT0-KXy4oZI73Kg","topic":"커뮤니티 성공 전략 스터디","type":8,"start_time":"2024-12-12T11:01:05Z","timezone":"Asia/Seoul","duration":121,"total_size":1767501742,"recording_count":7,"share_url":"https://us02web.zoom.us/rec/share/YMxwn52o5z-eJ9wIIToaDtpd4MMULh-TfNYvxoESGHFXCepNbobjG4nbUumeR5V2.q3h7W00pLNA3-3YY","recording_files":[{"id":"6871550c-b55b-4f50-8e4b-a0526c7bc9d2","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"MP4","file_extension":"MP4","file_size":383851015,"play_url":"https://us02web.zoom.us/rec/play/6mfnAxRGgzfoVvxGsfgsFeqLxRBxt1Almk8hJy9sNCOZtAsR6Kw6hodvd02I8pviLDw2zSY4nKCeTDZL.sZD7sf0OatUD1rU2","download_url":"https://us02web.zoom.us/rec/download/6mfnAxRGgzfoVvxGsfgsFeqLxRBxt1Almk8hJy9sNCOZtAsR6Kw6hodvd02I8pviLDw2zSY4nKCeTDZL.sZD7sf0OatUD1rU2","status":"completed","recording_type":"active_speaker"},{"id":"72585d47-57de-40f2-bc15-38ef4aead964","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"MP4","file_extension":"MP4","file_size":411119573,"play_url":"https://us02web.zoom.us/rec/play/1yMU2yDzJS3XOMou_Ldn8WTjEKV9H86Dflk3_3wC2zsKrA4A4cvXoIwf-2KbdAfGsROoGDKR1NvQKBPu.9RuuteQzpQ2RN7iG","download_url":"https://us02web.zoom.us/rec/download/1yMU2yDzJS3XOMou_Ldn8WTjEKV9H86Dflk3_3wC2zsKrA4A4cvXoIwf-2KbdAfGsROoGDKR1NvQKBPu.9RuuteQzpQ2RN7iG","status":"completed","recording_type":"shared_screen"},{"id":"858cfb61-2215-416e-81c3-33950c483ad0","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"MP4","file_extension":"MP4","file_size":853623730,"play_url":"https://us02web.zoom.us/rec/play/8JgHo29paheJ4xZpTkEjP347bNexY7h4N5_vRciYllq6p4qLgoR81U8tR3JqFDmYNCQI9ijKV50JoSRI.q7kJUWzdKxqU_O_S","download_url":"https://us02web.zoom.us/rec/download/8JgHo29paheJ4xZpTkEjP347bNexY7h4N5_vRciYllq6p4qLgoR81U8tR3JqFDmYNCQI9ijKV50JoSRI.q7kJUWzdKxqU_O_S","status":"completed","recording_type":"shared_screen_with_gallery_view"},{"id":"8bdfa9b4-5fd6-48fc-91ae-c8b74da2d9f1","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"TRANSCRIPT","file_extension":"VTT","file_size":109330,"play_url":"https://us02web.zoom.us/rec/play/zdUj64wnQChTNZy89d7GcIKQN2V88BGIRUmT7K-yQ8FHBlp7n73tGOnAGfsXXRO_kwGbynAz-vDvphS3.eUM49wlsiKaXVPgd","download_url":"https://us02web.zoom.us/rec/download/zdUj64wnQChTNZy89d7GcIKQN2V88BGIRUmT7K-yQ8FHBlp7n73tGOnAGfsXXRO_kwGbynAz-vDvphS3.eUM49wlsiKaXVPgd","status":"completed","recording_type":"audio_transcript"},{"id":"a1bea178-cb38-4b41-8dc5-705c27638f04","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"M4A","file_extension":"M4A","file_size":116242214,"play_url":"https://us02web.zoom.us/rec/play/DpF3VDcRGlCxXtABA2FaNWu1-iwlXRhRS7Q5aYQMaHPAgqnY08MJjnov7tsJdO7Xs38Yn1-hVItteCjO.dDi_CFw3qfzQlEyW","download_url":"https://us02web.zoom.us/rec/download/DpF3VDcRGlCxXtABA2FaNWu1-iwlXRhRS7Q5aYQMaHPAgqnY08MJjnov7tsJdO7Xs38Yn1-hVItteCjO.dDi_CFw3qfzQlEyW","status":"completed","recording_type":"audio_only"},{"id":"0bcc9071-ac5c-43e5-a012-63e4a7f4026f","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"TIMELINE","file_extension":"JSON","file_size":2542491,"download_url":"https://us02web.zoom.us/rec/download/cdwNzWmrMKWDqXl9vFkrwHUVp5_ix6Bv4YoDjlQj3VCMz7XIZKjTlFGOPACGgn7v91_19LFck2qXtgm1.XfaiOZW68jgqA4jU","status":"completed","recording_type":"timeline"},{"id":"bfa40e02-bc1b-4912-9a3f-40e65809b927","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"CHAT","file_extension":"TXT","file_size":13389,"play_url":"https://us02web.zoom.us/rec/play/EXy48EnZf7oaRvsPfHfPr0h-kAGk6DnoVvXBUjX4OrzA5s94LEk0x4qsjCPzolNFgSfzr87VZ1s0Mmtr.cAl6EpH56TbsTLgL","download_url":"https://us02web.zoom.us/rec/download/EXy48EnZf7oaRvsPfHfPr0h-kAGk6DnoVvXBUjX4OrzA5s94LEk0x4qsjCPzolNFgSfzr87VZ1s0Mmtr.cAl6EpH56TbsTLgL","status":"completed","recording_type":"chat_file"}],"recording_play_passcode":"","email":"study4@gpters.org","recording_files_obj":{"active_speaker":{"id":"6871550c-b55b-4f50-8e4b-a0526c7bc9d2","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"MP4","file_extension":"MP4","file_size":383851015,"play_url":"https://us02web.zoom.us/rec/play/6mfnAxRGgzfoVvxGsfgsFeqLxRBxt1Almk8hJy9sNCOZtAsR6Kw6hodvd02I8pviLDw2zSY4nKCeTDZL.sZD7sf0OatUD1rU2","download_url":"https://us02web.zoom.us/rec/download/6mfnAxRGgzfoVvxGsfgsFeqLxRBxt1Almk8hJy9sNCOZtAsR6Kw6hodvd02I8pviLDw2zSY4nKCeTDZL.sZD7sf0OatUD1rU2","status":"completed","recording_type":"active_speaker"},"shared_screen":{"id":"72585d47-57de-40f2-bc15-38ef4aead964","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"MP4","file_extension":"MP4","file_size":411119573,"play_url":"https://us02web.zoom.us/rec/play/1yMU2yDzJS3XOMou_Ldn8WTjEKV9H86Dflk3_3wC2zsKrA4A4cvXoIwf-2KbdAfGsROoGDKR1NvQKBPu.9RuuteQzpQ2RN7iG","download_url":"https://us02web.zoom.us/rec/download/1yMU2yDzJS3XOMou_Ldn8WTjEKV9H86Dflk3_3wC2zsKrA4A4cvXoIwf-2KbdAfGsROoGDKR1NvQKBPu.9RuuteQzpQ2RN7iG","status":"completed","recording_type":"shared_screen"},"shared_screen_with_gallery_view":{"id":"858cfb61-2215-416e-81c3-33950c483ad0","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"MP4","file_extension":"MP4","file_size":853623730,"play_url":"https://us02web.zoom.us/rec/play/8JgHo29paheJ4xZpTkEjP347bNexY7h4N5_vRciYllq6p4qLgoR81U8tR3JqFDmYNCQI9ijKV50JoSRI.q7kJUWzdKxqU_O_S","download_url":"https://us02web.zoom.us/rec/download/8JgHo29paheJ4xZpTkEjP347bNexY7h4N5_vRciYllq6p4qLgoR81U8tR3JqFDmYNCQI9ijKV50JoSRI.q7kJUWzdKxqU_O_S","status":"completed","recording_type":"shared_screen_with_gallery_view"},"audio_transcript":{"id":"8bdfa9b4-5fd6-48fc-91ae-c8b74da2d9f1","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"TRANSCRIPT","file_extension":"VTT","file_size":109330,"play_url":"https://us02web.zoom.us/rec/play/zdUj64wnQChTNZy89d7GcIKQN2V88BGIRUmT7K-yQ8FHBlp7n73tGOnAGfsXXRO_kwGbynAz-vDvphS3.eUM49wlsiKaXVPgd","download_url":"https://us02web.zoom.us/rec/download/zdUj64wnQChTNZy89d7GcIKQN2V88BGIRUmT7K-yQ8FHBlp7n73tGOnAGfsXXRO_kwGbynAz-vDvphS3.eUM49wlsiKaXVPgd","status":"completed","recording_type":"audio_transcript"},"audio_only":{"id":"a1bea178-cb38-4b41-8dc5-705c27638f04","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"M4A","file_extension":"M4A","file_size":116242214,"play_url":"https://us02web.zoom.us/rec/play/DpF3VDcRGlCxXtABA2FaNWu1-iwlXRhRS7Q5aYQMaHPAgqnY08MJjnov7tsJdO7Xs38Yn1-hVItteCjO.dDi_CFw3qfzQlEyW","download_url":"https://us02web.zoom.us/rec/download/DpF3VDcRGlCxXtABA2FaNWu1-iwlXRhRS7Q5aYQMaHPAgqnY08MJjnov7tsJdO7Xs38Yn1-hVItteCjO.dDi_CFw3qfzQlEyW","status":"completed","recording_type":"audio_only"},"timeline":{"id":"0bcc9071-ac5c-43e5-a012-63e4a7f4026f","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"TIMELINE","file_extension":"JSON","file_size":2542491,"download_url":"https://us02web.zoom.us/rec/download/cdwNzWmrMKWDqXl9vFkrwHUVp5_ix6Bv4YoDjlQj3VCMz7XIZKjTlFGOPACGgn7v91_19LFck2qXtgm1.XfaiOZW68jgqA4jU","status":"completed","recording_type":"timeline"},"chat_file":{"id":"bfa40e02-bc1b-4912-9a3f-40e65809b927","meeting_id":"cIDt/CFHT8qn27EqOxES1w==","recording_start":"2024-12-12T11:01:07Z","recording_end":"2024-12-12T13:02:51Z","file_type":"CHAT","file_extension":"TXT","file_size":13389,"play_url":"https://us02web.zoom.us/rec/play/EXy48EnZf7oaRvsPfHfPr0h-kAGk6DnoVvXBUjX4OrzA5s94LEk0x4qsjCPzolNFgSfzr87VZ1s0Mmtr.cAl6EpH56TbsTLgL","download_url":"https://us02web.zoom.us/rec/download/EXy48EnZf7oaRvsPfHfPr0h-kAGk6DnoVvXBUjX4OrzA5s94LEk0x4qsjCPzolNFgSfzr87VZ1s0Mmtr.cAl6EpH56TbsTLgL","status":"completed","recording_type":"chat_file"}}}},{"json":{"uuid":"1SdSLGw1TJimMDEg5hsc6w==","id":84694819350,"account_id":"92oNFHvfQJ6EuQ3jwLgDzA","host_id":"M76tXw-sT0-KXy4oZI73Kg","topic":"커뮤니티 성공 전략 스터디","type":8,"start_time":"2024-12-12T07:35:04Z","timezone":"Asia/Seoul","duration":3,"total_size":28734285,"recording_count":5,"share_url":"https://us02web.zoom.us/rec/share/f_FJIVAs2OOIfIhkN9YWvDmddbPpg26Hq3vRARfEAS87XgYsnssQiB193fLwI8g8.cDhtRXuEfhuXAlgr","recording_files":[{"id":"16c11034-fd73-4200-a801-a833f8d68733","meeting_id":"1SdSLGw1TJimMDEg5hsc6w==","recording_start":"2024-12-12T07:35:06Z","recording_end":"2024-12-12T07:38:09Z","file_type":"TRANSCRIPT","file_extension":"VTT","file_size":3881,"play_url":"https://us02web.zoom.us/rec/play/wjMpwdBB3K-elW48UoZkd32KJAbBEeZ7qpD6S_mAAr2vuMvKrvTqafsgXxMCxt77931G-s5XBRFXjTAk.tr3DIdHbegcnXLSA","download_url":"https://us02web.zoom.us/rec/download/wjMpwdBB3K-elW48UoZkd32KJAbBEeZ7qpD6S_mAAr2vuMvKrvTqafsgXxMCxt77931G-s5XBRFXjTAk.tr3DIdHbegcnXLSA","status":"completed","recording_type":"audio_transcript"},{"id":"2846d96a-c667-4f0d-aaa3-df54e99ec9b9","meeting_id":"1SdSLGw1TJimMDEg5hsc6w==","recording_start":"2024-12-12T07:35:06Z","recording_end":"2024-12-12T07:38:09Z","file_type":"MP4","file_extension":"MP4","file_size":16072007,"play_url":"https://us02web.zoom.us/rec/play/C9EEgb6VJ7RdbC8wI7MFKbouLu9NtEhLdezbKl2PHWbRaNVw_UUtc2PUxkDCm51o6i5bwnfMuBVcfhMe.zQC7ba3nKmoKsfSS","download_url":"https://us02web.zoom.us/rec/download/C9EEgb6VJ7RdbC8wI7MFKbouLu9NtEhLdezbKl2PHWbRaNVw_UUtc2PUxkDCm51o6i5bwnfMuBVcfhMe.zQC7ba3nKmoKsfSS","status":"completed","recording_type":"shared_screen_with_gallery_view"},{"id":"3c4cb5b3-6950-4ef9-bfbf-9ff9ceeded6b","meeting_id":"1SdSLGw1TJimMDEg5hsc6w==","recording_start":"2024-12-12T07:35:06Z","recording_end":"2024-12-12T07:38:09Z","file_type":"M4A","file_extension":"M4A","file_size":2909071,"play_url":"https://us02web.zoom.us/rec/play/cwWy70LC0I8s58_J1b1Mm-Z1Fr6Pa7p-46Rvy2SFQszQaqqV4fm2XJ9G13G_iwdfrDg2127jeGSwdLgM._iiSS1YWXGXnQtut","download_url":"https://us02web.zoom.us/rec/download/cwWy70LC0I8s58_J1b1Mm-Z1Fr6Pa7p-46Rvy2SFQszQaqqV4fm2XJ9G13G_iwdfrDg2127jeGSwdLgM._iiSS1YWXGXnQtut","status":"completed","recording_type":"audio_only"},{"id":"79418d9d-9e39-4dde-8ba4-406e4e74e5e7","meeting_id":"1SdSLGw1TJimMDEg5hsc6w==","recording_start":"2024-12-12T07:35:06Z","recording_end":"2024-12-12T07:38:09Z","file_type":"TIMELINE","file_extension":"JSON","file_size":95954,"download_url":"https://us02web.zoom.us/rec/download/2oU5KVgD3BiG1UM9fqsxTdfNxDK_G-w0fyYdt64IPe6sCMjY1t6ZGAcnCEzc_ynUb5EuBDHPbAZoEkdi.wrJQf6p97_Zw8Xry","status":"completed","recording_type":"timeline"},{"id":"5bb7b05d-a091-4aea-9096-a8c2a165ef2c","meeting_id":"1SdSLGw1TJimMDEg5hsc6w==","recording_start":"2024-12-12T07:35:06Z","recording_end":"2024-12-12T07:38:09Z","file_type":"MP4","file_extension":"MP4","file_size":9653372,"play_url":"https://us02web.zoom.us/rec/play/c7hsZpdF0fStaWBLOg3JstMZZtvt9VxrJi9wwI4-WJoB6G0DhkEiJAZ9DkW0Xpjws7N2CCRHd6mZpYDy.WIAm34vCAR0BK4KH","download_url":"https://us02web.zoom.us/rec/download/c7hsZpdF0fStaWBLOg3JstMZZtvt9VxrJi9wwI4-WJoB6G0DhkEiJAZ9DkW0Xpjws7N2CCRHd6mZpYDy.WIAm34vCAR0BK4KH","status":"completed","recording_type":"active_speaker"}],"recording_play_passcode":"","email":"study4@gpters.org","recording_files_obj":{"audio_transcript":{"id":"16c11034-fd73-4200-a801-a833f8d68733","meeting_id":"1SdSLGw1TJimMDEg5hsc6w==","recording_start":"2024-12-12T07:35:06Z","recording_end":"2024-12-12T07:38:09Z","file_type":"TRANSCRIPT","file_extension":"VTT","file_size":3881,"play_url":"https://us02web.zoom.us/rec/play/wjMpwdBB3K-elW48UoZkd32KJAbBEeZ7qpD6S_mAAr2vuMvKrvTqafsgXxMCxt77931G-s5XBRFXjTAk.tr3DIdHbegcnXLSA","download_url":"https://us02web.zoom.us/rec/download/wjMpwdBB3K-elW48UoZkd32KJAbBEeZ7qpD6S_mAAr2vuMvKrvTqafsgXxMCxt77931G-s5XBRFXjTAk.tr3DIdHbegcnXLSA","status":"completed","recording_type":"audio_transcript"},"shared_screen_with_gallery_view":{"id":"2846d96a-c667-4f0d-aaa3-df54e99ec9b9","meeting_id":"1SdSLGw1TJimMDEg5hsc6w==","recording_start":"2024-12-12T07:35:06Z","recording_end":"2024-12-12T07:38:09Z","file_type":"MP4","file_extension":"MP4","file_size":16072007,"play_url":"https://us02web.zoom.us/rec/play/C9EEgb6VJ7RdbC8wI7MFKbouLu9NtEhLdezbKl2PHWbRaNVw_UUtc2PUxkDCm51o6i5bwnfMuBVcfhMe.zQC7ba3nKmoKsfSS","download_url":"https://us02web.zoom.us/rec/download/C9EEgb6VJ7RdbC8wI7MFKbouLu9NtEhLdezbKl2PHWbRaNVw_UUtc2PUxkDCm51o6i5bwnfMuBVcfhMe.zQC7ba3nKmoKsfSS","status":"completed","recording_type":"shared_screen_with_gallery_view"},"audio_only":{"id":"3c4cb5b3-6950-4ef9-bfbf-9ff9ceeded6b","meeting_id":"1SdSLGw1TJimMDEg5hsc6w==","recording_start":"2024-12-12T07:35:06Z","recording_end":"2024-12-12T07:38:09Z","file_type":"M4A","file_extension":"M4A","file_size":2909071,"play_url":"https://us02web.zoom.us/rec/play/cwWy70LC0I8s58_J1b1Mm-Z1Fr6Pa7p-46Rvy2SFQszQaqqV4fm2XJ9G13G_iwdfrDg2127jeGSwdLgM._iiSS1YWXGXnQtut","download_url":"https://us02web.zoom.us/rec/download/cwWy70LC0I8s58_J1b1Mm-Z1Fr6Pa7p-46Rvy2SFQszQaqqV4fm2XJ9G13G_iwdfrDg2127jeGSwdLgM._iiSS1YWXGXnQtut","status":"completed","recording_type":"audio_only"},"timeline":{"id":"79418d9d-9e39-4dde-8ba4-406e4e74e5e7","meeting_id":"1SdSLGw1TJimMDEg5hsc6w==","recording_start":"2024-12-12T07:35:06Z","recording_end":"2024-12-12T07:38:09Z","file_type":"TIMELINE","file_extension":"JSON","file_size":95954,"download_url":"https://us02web.zoom.us/rec/download/2oU5KVgD3BiG1UM9fqsxTdfNxDK_G-w0fyYdt64IPe6sCMjY1t6ZGAcnCEzc_ynUb5EuBDHPbAZoEkdi.wrJQf6p97_Zw8Xry","status":"completed","recording_type":"timeline"},"active_speaker":{"id":"5bb7b05d-a091-4aea-9096-a8c2a165ef2c","meeting_id":"1SdSLGw1TJimMDEg5hsc6w==","recording_start":"2024-12-12T07:35:06Z","recording_end":"2024-12-12T07:38:09Z","file_type":"MP4","file_extension":"MP4","file_size":9653372,"play_url":"https://us02web.zoom.us/rec/play/c7hsZpdF0fStaWBLOg3JstMZZtvt9VxrJi9wwI4-WJoB6G0DhkEiJAZ9DkW0Xpjws7N2CCRHd6mZpYDy.WIAm34vCAR0BK4KH","download_url":"https://us02web.zoom.us/rec/download/c7hsZpdF0fStaWBLOg3JstMZZtvt9VxrJi9wwI4-WJoB6G0DhkEiJAZ9DkW0Xpjws7N2CCRHd6mZpYDy.WIAm34vCAR0BK4KH","status":"completed","recording_type":"active_speaker"}}}}]},"versionId":"7fb25918-63ec-4ef4-bbac-5d547af043ae","triggerCount":1,"tags":[{"createdAt":"2024-11-27T05:48:24.505Z","updatedAt":"2024-11-27T05:48:24.505Z","id":"Jn1LZemkM7Y8SDPh","name":"zoom"}]}