workflows/15_스터디장 베스트 사례 url 리마인드 예약 알림.json
{"createdAt":"2024-11-25T05:03:11.235Z","updatedAt":"2024-12-20T05:00:52.000Z","id":"vM6YExby89tPN0X2","name":"15_스터디장 베스트 사례 url 리마인드 예약 알림","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 11,13 * * 2-5"}]}},"id":"befca6e8-6f37-4e1e-bac8-c4f399b6e3ac","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[20,320]},{"parameters":{"method":"POST","url":"={{ $vars.gpters_internal_api_endpoint }}/solapi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $vars.gpters_internal_api_token_key}}","value":"={{ $vars.gpters_internal_api_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={ \"messages\": {{ JSON.stringify($json.messages) }} }"}]},"options":{}},"id":"066752cf-7b58-498a-a715-ed6a13433c46","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4160,240]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const inputTimestamp = $json[\"timestamp\"];\n\n// Parse timestamp\nconst date = new Date(inputTimestamp);\n\n// Find the current week's Monday\nconst dayOfWeek = date.getDay(); // Sunday: 0, Monday: 1, ..., Saturday: 6\nconst daysToMonday = (dayOfWeek === 0 ? -6 : 1) - dayOfWeek;\nconst mondayDate = new Date(date);\nmondayDate.setDate(date.getDate() + daysToMonday);\nmondayDate.setHours(0, 0, 0, 0); // Set to 00:00:00\n\n// Format to ISO string\nconst mondayISO = mondayDate.toISOString();\n\nreturn {\n    monday: mondayISO,\n};\n"},"id":"59145c05-360b-4d0d-be27-6eb83757c64c","name":"makeMondayDate","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,320]},{"parameters":{"jsCode":"// 영어 요일 -> 한글 요일 매핑\nconst dayMap = {\n  \"Monday\": \"월요일\",\n  \"Tuesday\": \"화요일\",\n  \"Wednesday\": \"수요일\",\n  \"Thursday\": \"목요일\",\n  \"Friday\": \"금요일\",\n  \"Saturday\": \"토요일\",\n  \"Sunday\": \"일요일\"\n};\n\n// 전일 요일을 매핑하기 위한 배열 (순환 구조로 처리하기 위함)\nconst daysInOrder = [\"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\"];\n\n// 데이터를 순회하며 \"요일\" 및 \"전일_요일\" 필드를 추가\nconst updatedData = $('Schedule Trigger').all().map(item => {\n  const currentDay = item.json[\"Day of week\"];\n  const koreanDay = dayMap[currentDay]; // 현재 요일을 한글로 변환\n  \n  // 전일 요일 계산\n  const currentIndex = daysInOrder.indexOf(currentDay);\n  const previousDay = daysInOrder[(currentIndex - 1 + daysInOrder.length) % daysInOrder.length];\n  const koreanPreviousDay = dayMap[previousDay]; // 전일을 한글로 변환\n\n  return {\n    json: {\n      ...item.json, // 기존 데이터 유지\n      \"요일\": koreanDay, // 새로운 필드 추가\n      \"전일_요일\": koreanPreviousDay // 전일 요일 필드 추가\n    }\n  };\n});\n\n// 디버깅: 결과 확인\nconsole.log(\"Updated Data:\", updatedData);\n\n// 결과 반환\nreturn updatedData;\n"},"id":"7dede28a-5e4e-4795-9527-75ff02b56fb4","name":"addDayOfWeekKorean","type":"n8n-nodes-base.code","typeVersion":2,"position":[580,320]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"https://airtable.com/appq8xK4PLp7D7aCg/tblQNIOB0C8CXvgis/viwPDCwrCgox416za","mode":"url"},"table":{"__rl":true,"value":"tblP0bMmo1xuLnX2v","mode":"list","cachedResultName":"확정된 스터디(건들지X)","cachedResultUrl":"https://airtable.com/appq8xK4PLp7D7aCg/tblP0bMmo1xuLnX2v"},"options":{"view":{"__rl":true,"value":"viwZeCKCLliQZ5nWq","mode":"id"}}},"id":"2934b43c-92fa-4a82-aec0-0939f4f0b491","name":"getStudyCaptionData","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1240,320],"credentials":{"airtableTokenApi":{"id":"v6sNKykfBVnEaT0g","name":"Airtable Personal Access Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9dc035f3-ae83-4cc3-9a4f-6919b96391f6","leftValue":"={{ $json[\"요일\"] }}","rightValue":"={{ $('addDayOfWeekKorean').item.json.전일_요일 }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"a7efa357-06f7-4ef3-b25b-14c9299272a1","name":"filterTodayCaptain","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1740,300]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"https://airtable.com/appq8xK4PLp7D7aCg/tblQNIOB0C8CXvgis/viwPDCwrCgox416za","mode":"url"},"table":{"__rl":true,"value":"tbll5v39Cr7GYkyXP","mode":"list","cachedResultName":"ZOOM_무기명설문","cachedResultUrl":"https://airtable.com/appq8xK4PLp7D7aCg/tbll5v39Cr7GYkyXP"},"options":{"view":{"__rl":true,"value":"viwuz8tOIJ1IJ0jFW","mode":"id"}}},"id":"f15cb1f7-faa5-4a10-ac56-808d2ec7bfad","name":"getUrlData","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2140,380],"credentials":{"airtableTokenApi":{"id":"v6sNKykfBVnEaT0g","name":"Airtable Personal Access Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c42e412-5a9a-45c3-8e19-7fd8900b9447","leftValue":"={{ $json.createdTime }}","rightValue":"={{ $('makeMondayDate').first().json.monday }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"id":"636f63e5-7c3f-4255-8e70-3c4e79c6fc02","name":"getDataAfterMonday","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2400,360]},{"parameters":{"jsCode":"// Input data from previous node\nconst items = $input.all(); \n\n// Create a map to track unique items by ID\nconst uniqueItemsMap = new Map();\n\n// Iterate through items\nfor (const item of items) {\n    const id = item.json.id; // Use the 'id' field to determine uniqueness\n    if (!uniqueItemsMap.has(id)) {\n        uniqueItemsMap.set(id, item.json);\n    }\n}\n\n// Convert unique items map back to an array\nconst uniqueItems = Array.from(uniqueItemsMap.values());\n\n// Return unique items\nreturn uniqueItems.map(item => ({ json: item }));\n"},"id":"9eba0755-b4b1-429c-a103-59cc195f4ba6","name":"deleteDupData","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,340]},{"parameters":{"jsCode":"// 입력 데이터 가져오기\nconst inputData = $input.all(); // 모든 입력 데이터를 가져옴\n\n// 데이터 추출 및 변환\nconst extractedData = inputData.map(item => {\n  const phoneKey = item.json[\"스터디장s_전화번호\"]; // 휴대폰번호 필드 가져오기\n  const studyLeader = item.json[\"스터디장 OOO\"]; // 스터디장 이름 필드 가져오기\n  const studyEmail = item.json[\"스터디장s_이메일\"][0];\n  const zoomNumber = item.json[\"줌계정\"];\n  \n  // phoneKey 타입 확인 및 처리\n  let phoneNumber = null;\n  if (typeof phoneKey === \"string\") {\n    // JSON 문자열을 배열로 파싱\n    const sanitizedPhoneKey = phoneKey.replace(/^\"|\"$/g, \"\"); // 양 끝 따옴표 제거\n    const phoneNumbers = JSON.parse(sanitizedPhoneKey); // 배열로 변환\n    phoneNumber = phoneNumbers[0]; // 첫 번째 번호 추출\n  } else if (Array.isArray(phoneKey)) {\n    // 이미 배열인 경우\n    phoneNumber = phoneKey[0]; // 첫 번째 번호 반환\n  } else {\n    // 예상치 못한 타입의 경우 로그 출력\n    console.error(\"Unexpected phoneKey type:\", phoneKey);\n  }\n\n  // 반환할 데이터 구성\n  return {\n    json: {\n      studyLeader: studyLeader, // 스터디장 이름\n      phoneNumber: phoneNumber, // 휴대폰번호\n      studyEmail: studyEmail,\n      zoomNumber : zoomNumber\n    }\n  };\n});\n\n// 디버깅: 결과 확인\nconsole.log(\"Extracted Data:\", extractedData);\n\n// 결과 반환\nreturn extractedData;\n"},"id":"d12639f5-0fb0-4ba9-bd4f-903ce2e80d09","name":"getStudyLeaderPhoneEmail","type":"n8n-nodes-base.code","typeVersion":2,"position":[2280,0]},{"parameters":{"jsCode":"// 매칭 및 업데이트 작업\nconst getStudyLeaderPhoneEmail = $('matchZoomNumberandUrl1');\nconst deleteDupData = $('deleteDupData');\n\n// 첫 번째 데이터: getStudyLeaderPhoneEmail 노드의 데이터\nconst studyLeaders = getStudyLeaderPhoneEmail.all();\n\n// 두 번째 데이터: deleteDupData 노드의 데이터\nconst studies = deleteDupData.all();\n\nconst updatedLeaders = studyLeaders.map(leader => {\n    // leader의 이메일 가져오기\n    const leaderEmail = leader.json.studyEmail;\n\n    // studies에서 매칭되는 데이터 검색\n    const matchingStudy = studies.find(study => \n        study.json[\"이메일 (from 스터디장s)\"].includes(leaderEmail)\n    );\n\n    // 매칭된 경우 studyURL과 zoomUrl 추가\n    if (matchingStudy) {\n        return {\n            json: {\n                ...leader.json,\n                studyURL: matchingStudy.json[\"베스트 발표자 사례 url\"], // 매칭된 URL 추가\n                JoomUrl: matchingStudy.json[\"줌 링크\"] // 줌 URL 추가\n            }\n        };\n    }\n\n    // 매칭되지 않으면 원본 데이터 그대로 반환\n    return leader;\n});\n\n// 결과 반환\nreturn updatedLeaders;\n"},"id":"aa253d6c-9531-49b5-96de-8e513b386662","name":"aggregateData","type":"n8n-nodes-base.code","typeVersion":2,"position":[2960,40]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ec9db64-d5fd-4d0d-bd62-f6a932f7d6e0","leftValue":"={{ $json.studyURL }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d3774750-264e-4089-92fc-f8aea0e8580c","name":"ifStudyUrlExit","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3180,40]},{"parameters":{"options":{}},"id":"249768f4-d751-469b-81c1-b620c2875d0e","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4080,-140],"executeOnce":false},{"parameters":{"workflowId":{"__rl":true,"value":"XVWUaUPaaiGofxQ6","mode":"list","cachedResultName":"GPTers — slackNoti_airtable"},"options":{}},"id":"74a09e19-a45c-485c-8f71-8c1bc8253ee9","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[4360,-140]},{"parameters":{"amount":1},"id":"8be8f0e5-1adb-4c2f-8435-027d82948ba4","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4580,-140],"webhookId":"72e05066-8940-46f2-a658-f5a4eb4fcf95"},{"parameters":{"assignments":{"assignments":[{"id":"2a5f7cf1-c358-4a71-bd74-3eb8b5efb6aa","name":"phoneKey","value":"={{ $json.phoneNumber }}","type":"string"},{"id":"374d0eca-5247-4d8d-b7b6-eb549b7e3915","name":"title","value":"[지피터스] 발표자 url을 제출해주세요","type":"string"},{"id":"c47dafc6-e86d-44da-9d31-4bb2a3590296","name":"content","value":"={{ $json.studyLeader }}님! 이번주 발표자 url을 제출해주세요! 제출하지 않으시면 누락돼요!\n\n링크 : https://airtable.com/appq8xK4PLp7D7aCg/pagvdlrZH0wiWWmx2/form","type":"string"}]},"options":{}},"id":"a349e150-5992-458a-a2ba-e10f88b1dec2","name":"makeSMSContent","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3640,240]},{"parameters":{"jsCode":"const input = $input.all()\nlet items = [];\nfor (const item of input) {\n  items.push({   \n    \"from\": \"028876749\",\n    \"to\": item.json['phoneKey'],\n    \"text\": item.json['content'],\n    \"subject\": item.json['title']\n  });\n}\n\nreturn {\n  messages: items\n}"},"id":"493695af-7e4f-49f1-b877-557b20d199ae","name":"makeFinalMessages","type":"n8n-nodes-base.code","typeVersion":2,"position":[3900,240]},{"parameters":{"assignments":{"assignments":[{"id":"8c1114ab-b2ac-427c-83de-0ee471e1b330","name":"text","value":"=```{{ $json.messages[0].text }}``` \n\n발송 완료","type":"string"}]},"options":{}},"id":"a079aaaf-c9c6-4f84-a265-027c0862edf7","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4380,240]},{"parameters":{"workflowId":{"__rl":true,"value":"XVWUaUPaaiGofxQ6","mode":"list","cachedResultName":"GPTers — slackNoti_airtable"},"options":{}},"id":"4ebfe3d5-82eb-4cf8-80a2-9f894d33c77a","name":"Execute Workflow1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[4600,240]},{"parameters":{"assignments":{"assignments":[{"id":"4b0e09db-fa61-45bb-84f8-3ed94697ee0c","name":"text","value":"={{ $json.studyLeader }} 발표 URL : {{ $json.studyURL }}","type":"string"}]},"options":{}},"id":"3d7f1520-d126-418b-a3ec-a6248aa02cad","name":"makeSlackNotiText","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3840,-140]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 23 * * 1-4"}]}},"id":"c40b37bd-53ae-4e68-a337-d73a80c2681f","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[20,0]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"https://airtable.com/appq8xK4PLp7D7aCg/tblQNIOB0C8CXvgis/viwPDCwrCgox416za","mode":"url"},"table":{"__rl":true,"value":"tblP0bMmo1xuLnX2v","mode":"list","cachedResultName":"확정된 스터디(건들지X)","cachedResultUrl":"https://airtable.com/appq8xK4PLp7D7aCg/tblP0bMmo1xuLnX2v"},"options":{"view":{"__rl":true,"value":"viwZeCKCLliQZ5nWq","mode":"id"}}},"id":"c1353a3a-881c-4229-9a85-11f0897b0121","name":"getStudyCaptionData1","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[580,0],"credentials":{"airtableTokenApi":{"id":"v6sNKykfBVnEaT0g","name":"Airtable Personal Access Token account"}}},{"parameters":{"jsCode":"// 영어 요일 -> 한글 요일 매핑\nconst dayMap = {\n  \"Monday\": \"월요일\",\n  \"Tuesday\": \"화요일\",\n  \"Wednesday\": \"수요일\",\n  \"Thursday\": \"목요일\",\n  \"Friday\": \"금요일\",\n  \"Saturday\": \"토요일\",\n  \"Sunday\": \"일요일\"\n};\n\n// 전일 요일을 매핑하기 위한 배열 (순환 구조로 처리하기 위함)\nconst daysInOrder = [\"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\"];\n\n// 데이터를 순회하며 \"요일\" 및 \"전일_요일\" 필드를 추가\nconst updatedData = $('Schedule Trigger1').all().map(item => {\n  const currentDay = item.json[\"Day of week\"];\n  const koreanDay = dayMap[currentDay]; // 현재 요일을 한글로 변환\n  \n  // 전일 요일 계산\n  const currentIndex = daysInOrder.indexOf(currentDay);\n  const previousDay = daysInOrder[(currentIndex - 1 + daysInOrder.length) % daysInOrder.length];\n  const koreanPreviousDay = dayMap[previousDay]; // 전일을 한글로 변환\n\n  return {\n    json: {\n      ...item.json, // 기존 데이터 유지\n      \"요일\": koreanDay, // 새로운 필드 추가\n      \"전일_요일\": koreanPreviousDay // 전일 요일 필드 추가\n    }\n  };\n});\n\n// 디버깅: 결과 확인\nconsole.log(\"Updated Data:\", updatedData);\n\n// 결과 반환\nreturn updatedData;\n"},"id":"e7362e61-d245-460e-913b-6c3e7f9dfae1","name":"addDayOfWeekKorean1","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9dc035f3-ae83-4cc3-9a4f-6919b96391f6","leftValue":"={{ $json[\"요일\"] }}","rightValue":"={{ $('addDayOfWeekKorean1').item.json.요일 }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"8fe5db1b-d80b-46db-8270-26bf54fb435c","name":"filterTodayCaptain1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,0]},{"parameters":{"jsCode":"// 입력 데이터 가져오기\nconst inputData = $input.all(); // 모든 입력 데이터를 가져옴\n\n// 데이터 추출 및 변환\nconst extractedData = inputData.map(item => {\n  const phoneKey = item.json[\"스터디장s_전화번호\"]; // 휴대폰번호 필드 가져오기\n  const studyLeader = item.json[\"스터디장 OOO\"]; // 스터디장 이름 필드 가져오기\n  const studyEmail = item.json[\"스터디장s_이메일\"][0];\n  const zoomNumber = item.json[\"줌계정\"];\n  \n  // phoneKey 타입 확인 및 처리\n  let phoneNumber = null;\n  if (typeof phoneKey === \"string\") {\n    // JSON 문자열을 배열로 파싱\n    const sanitizedPhoneKey = phoneKey.replace(/^\"|\"$/g, \"\"); // 양 끝 따옴표 제거\n    const phoneNumbers = JSON.parse(sanitizedPhoneKey); // 배열로 변환\n    phoneNumber = phoneNumbers[0]; // 첫 번째 번호 추출\n  } else if (Array.isArray(phoneKey)) {\n    // 이미 배열인 경우\n    phoneNumber = phoneKey[0]; // 첫 번째 번호 반환\n  } else {\n    // 예상치 못한 타입의 경우 로그 출력\n    console.error(\"Unexpected phoneKey type:\", phoneKey);\n  }\n\n  // 반환할 데이터 구성\n  return {\n    json: {\n      studyLeader: studyLeader, // 스터디장 이름\n      phoneNumber: phoneNumber, // 휴대폰번호\n      studyEmail: studyEmail,\n      zoomNumber : zoomNumber\n    }\n  };\n});\n\n// 디버깅: 결과 확인\nconsole.log(\"Extracted Data:\", extractedData);\n\n// 결과 반환\nreturn extractedData;\n"},"id":"74aafebd-bdab-49b8-b5d8-6012b6d1a9e2","name":"getStudyLeaderPhoneEmail1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,-140]},{"parameters":{"method":"POST","url":"={{ $vars.gpters_internal_api_endpoint }}/solapi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $vars.gpters_internal_api_token_key}}","value":"={{ $vars.gpters_internal_api_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={ \"messages\": {{ JSON.stringify($json.messages) }} }"}]},"options":{}},"id":"b7bb1ae9-e65f-4f6e-85cd-96d66af41e25","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2340,-280]},{"parameters":{"assignments":{"assignments":[{"id":"2a5f7cf1-c358-4a71-bd74-3eb8b5efb6aa","name":"phoneKey","value":"={{ $json.phoneNumber }}","type":"string"},{"id":"374d0eca-5247-4d8d-b7b6-eb549b7e3915","name":"title","value":"[지피터스] 발표자 url을 제출해주세요","type":"string"},{"id":"c47dafc6-e86d-44da-9d31-4bb2a3590296","name":"content","value":"={{ $json.studyLeader }}님! \n\n이번주 발표자 url을 ZOOM 설문조사에 꼭 제출해주세요! 제출하지 않으시면 토요발표때 누락돼요!\n\n링크 : https://airtable.com/appq8xK4PLp7D7aCg/pagvdlrZH0wiWWmx2/form\n","type":"string"}]},"options":{}},"id":"4ef08082-95cf-4a01-987d-36fbb233e4c7","name":"makeSMSContent1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,-280]},{"parameters":{"jsCode":"const input = $input.all()\nlet items = [];\nfor (const item of input) {\n  items.push({   \n    \"from\": \"028876749\",\n    \"to\": item.json['phoneKey'],\n    \"text\": item.json['content'],\n    \"subject\": item.json['title']\n  });\n}\n\nreturn {\n  messages: items\n}"},"id":"3936acd7-aaf4-465a-87e3-8cf843cf75ea","name":"makeFinalMessages1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,-280]},{"parameters":{"assignments":{"assignments":[{"id":"8c1114ab-b2ac-427c-83de-0ee471e1b330","name":"text","value":"=```{{ $('makeFinalMessages1').item.json.messages[0].text }}```\n\n발송 완료","type":"string"}]},"options":{}},"id":"ad89117a-291a-4724-8838-f9062339b505","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,-280]},{"parameters":{"workflowId":{"__rl":true,"value":"XVWUaUPaaiGofxQ6","mode":"list","cachedResultName":"GPTers — slackNoti_airtable"},"options":{}},"id":"f8d486ea-df03-4c29-b117-d7ba9e460d0c","name":"Execute Workflow2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2780,-280]},{"parameters":{"jsCode":"// Zoom URL 데이터 (const)\nconst zoomUrls = {\n  \"스터디장1\": \"https://s.zoom.us/m/bPvzV0QQZ\",\n  \"스터디장2\": \"https://s.zoom.us/m/bPFdFPBbr\",\n  \"스터디장3\": \"https://s.zoom.us/m/bPFbkuYA0\",\n  \"스터디장4\": \"https://s.zoom.us/m/bPvChltuI\"\n};\n\n// getStudyLeaderPhoneEmail1 데이터를 배열로 가져옴\nconst studyLeadersData = $('getStudyLeaderPhoneEmail1').all();\n\n// studyLeadersData를 순회하며 ZoomUrl 항목을 추가\nconst updatedData = studyLeadersData.map(item => {\n  // zoomNumber로 Zoom URL 찾기\n  const zoomUrl = zoomUrls[item.json[\"zoomNumber\"]];\n  \n  return {\n    json: {\n      ...item.json, // 기존 데이터 유지\n      \"ZoomUrl\": zoomUrl // 새로운 ZoomUrl 필드 추가\n    }\n  };\n});\n\n// 디버깅: 결과 확인\nconsole.log(\"Updated Data:\", updatedData);\n\n// 결과 반환\nreturn updatedData;\n"},"id":"46e10056-e385-4657-aa8e-a46878029b5c","name":"matchZoomNumberandUrl","type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,-140]},{"parameters":{"jsCode":"// Zoom URL 데이터 (const)\nconst zoomUrls = {\n  \"스터디장1\": \"https://s.zoom.us/m/bPvzV0QQZ\",\n  \"스터디장2\": \"https://s.zoom.us/m/bPFdFPBbr\",\n  \"스터디장3\": \"https://s.zoom.us/m/bPFbkuYA0\",\n  \"스터디장4\": \"https://s.zoom.us/m/bPvChltuI\"\n};\n\n// getStudyLeaderPhoneEmail1 데이터를 배열로 가져옴\nconst studyLeadersData = $('getStudyLeaderPhoneEmail').all();\n\n// studyLeadersData를 순회하며 ZoomUrl 항목을 추가\nconst updatedData = studyLeadersData.map(item => {\n  // zoomNumber로 Zoom URL 찾기\n  const zoomUrl = zoomUrls[item.json[\"zoomNumber\"]];\n  \n  return {\n    json: {\n      ...item.json, // 기존 데이터 유지\n      \"ZoomUrl\": zoomUrl // 새로운 ZoomUrl 필드 추가\n    }\n  };\n});\n\n// 디버깅: 결과 확인\nconsole.log(\"Updated Data:\", updatedData);\n\n// 결과 반환\nreturn updatedData;\n"},"id":"9c9a32dc-a4e1-48d6-abf9-3474fdb6dd3d","name":"matchZoomNumberandUrl1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2540,20]},{"parameters":{},"id":"4c031dea-1831-4860-9b4f-c08815ea1539","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2740,160]},{"parameters":{"content":"## 오후11시 금일 진행하는 스터디장의 데이터를 불러옵니다.\n에어테이블 > 확정된 스터디 > 진행중 스터디 에 목록이 있을 경우만 작동함.","height":423.8825795905765,"width":1610.5401477485598},"id":"d007eafb-f598-49ff-a701-a3dadfba4e85","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,-200]},{"parameters":{"content":"## 스터디장에게 꼭 베스트 사례를 제출하라고 문자를 발송합니다.","height":392.54652326419557,"width":1254.2986653012797},"id":"516e8f1e-46aa-4804-8c57-cf197abe176e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,-460]},{"parameters":{"content":"## 오전 11시 오후 13시에 스터디장의 데이터를 불러옵니다.","height":423.8825795905765,"width":2009.6625493793076},"id":"77068b63-6a17-4ca0-8680-50b238a2308a","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,260]},{"parameters":{"content":"## 각 스터디 베스트 사례가 제출 됐는지 확인","height":460.16643428428097,"width":810.6460783646226},"id":"c5fe75c1-23d8-46d8-b7a5-409381878754","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2080,158.35073387755904]},{"parameters":{"content":"## 베스트 사례를 제출 했다면, slack에 어떤 스터디가 어떤 사례가 베스트인지 출력","height":367.8075314275791,"width":1196.5743510158416},"id":"d6568d18-e788-477b-9911-50db692d49ca","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3580,-260]},{"parameters":{"content":"## 베스트 사례를 제출 안했다면, 문자 발송","height":367.8075314275791,"width":1196.5743510158416},"id":"f95eb047-8fd8-4fbd-80b9-a050e9dbc38e","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3580,160]}],"connections":{"Schedule Trigger":{"main":[[{"node":"makeMondayDate","type":"main","index":0}]]},"makeMondayDate":{"main":[[{"node":"addDayOfWeekKorean","type":"main","index":0}]]},"addDayOfWeekKorean":{"main":[[{"node":"getStudyCaptionData","type":"main","index":0}]]},"getStudyCaptionData":{"main":[[{"node":"filterTodayCaptain","type":"main","index":0}]]},"filterTodayCaptain":{"main":[[{"node":"getUrlData","type":"main","index":0},{"node":"getStudyLeaderPhoneEmail","type":"main","index":0}]]},"getUrlData":{"main":[[{"node":"getDataAfterMonday","type":"main","index":0}]]},"getDataAfterMonday":{"main":[[{"node":"deleteDupData","type":"main","index":0}]]},"getStudyLeaderPhoneEmail":{"main":[[{"node":"matchZoomNumberandUrl1","type":"main","index":0}]]},"aggregateData":{"main":[[{"node":"ifStudyUrlExit","type":"main","index":0}]]},"ifStudyUrlExit":{"main":[[{"node":"makeSlackNotiText","type":"main","index":0}],[{"node":"makeSMSContent","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]},"deleteDupData":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"makeSMSContent":{"main":[[{"node":"makeFinalMessages","type":"main","index":0}]]},"makeFinalMessages":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"makeSlackNotiText":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"addDayOfWeekKorean1","type":"main","index":0}]]},"addDayOfWeekKorean1":{"main":[[{"node":"getStudyCaptionData1","type":"main","index":0}]]},"getStudyCaptionData1":{"main":[[{"node":"filterTodayCaptain1","type":"main","index":0}]]},"filterTodayCaptain1":{"main":[[{"node":"getStudyLeaderPhoneEmail1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"makeSMSContent1":{"main":[[{"node":"makeFinalMessages1","type":"main","index":0}]]},"makeFinalMessages1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Execute Workflow2","type":"main","index":0}]]},"getStudyLeaderPhoneEmail1":{"main":[[{"node":"matchZoomNumberandUrl","type":"main","index":0}]]},"matchZoomNumberandUrl":{"main":[[{"node":"makeSMSContent1","type":"main","index":0}]]},"matchZoomNumberandUrl1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"aggregateData","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2FkHbmnpOA9Y42fo"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ecbc15a0-9094-4124-8e26-51e1fef6f001","triggerCount":2,"tags":[{"createdAt":"2024-12-19T05:42:26.692Z","updatedAt":"2024-12-19T05:42:26.692Z","id":"6jGNsGbeldyGRTIX","name":"문자"}]}