workflows/16_Study_Monitoring_AUTO & UPLOAD VOD.json
{"createdAt":"2024-11-15T08:48:47.405Z","updatedAt":"2024-12-24T03:20:56.000Z","id":"ZRcdNbQDxy7eWXSw","name":"16_Study_Monitoring_AUTO & UPLOAD VOD","active":false,"nodes":[{"parameters":{},"id":"b63fa0dd-06b1-4275-9897-fcdfbd2ae331","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1320,780]},{"parameters":{"method":"POST","url":"https://study-monitoring.gpters.org/analyze/vtt","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 13cd3c2b35daea15d218dad9e7d1881ecffb53aab2cf9e7b6b5d5166caf562de"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $('saveData').first().json.email }}"},{"name":"topic","value":"={{ $('saveData').first().json.topic }}"},{"name":"vtt_url","value":"={{ $('saveData').first().json.vtt_url }}"},{"name":"chat_url","value":"={{ $('saveData').first().json.chat_url }}"},{"name":"zoom_uid","value":"={{ $('saveData').first().json.zoom_uid }}"}]},"options":{}},"id":"d24ffb3d-04c0-4354-a869-6b05c63765cf","name":"FASTAPI 호출","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3640,540]},{"parameters":{"assignments":{"assignments":[{"id":"aa1c2d8d-0669-456d-83c2-e7af66846f18","name":"url","value":"={{ $('getSharedScreenUrls').item.json.download_url }}","type":"string"},{"id":"0bc88c9d-d653-407b-9b3e-8ea1072c5b9a","name":"title","value":"={{ $('Execute Workflow Trigger').first().json.start_time.slice(0,10) }} | {{ $('Execute Workflow Trigger').first().json.topic }}","type":"string"},{"id":"cad802b4-5e17-4549-8c8a-135db11e4649","name":"description","value":"={{ $('Execute Workflow Trigger').first().json.start_time }}","type":"string"},{"id":"dda21dc1-36be-4345-98ee-f9126deb9922","name":"id","value":"={{ $('Execute Workflow Trigger').item.json.id }}","type":"string"},{"id":"5622c177-e04d-4434-a43f-c0a14a8a4c1c","name":"formated Date","value":"={{ $('Execute Workflow Trigger').first().json.start_time.slice(0,10) }}","type":"string"},{"id":"9534e5fd-1861-4669-891a-85194d7222b2","name":"주제명","value":"={{ $('Execute Workflow Trigger').first().json.topic }}","type":"string"}]},"options":{}},"id":"03bfaf37-fd54-443c-887f-5972e4d3a6d0","name":"getZoomUrl","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3880,760]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const topic = $('Execute Workflow Trigger').item.json.topic;\n\n// topic이 정의되어 있는지 확인 후 조건 확인\nif (topic && topic.includes(\"[지피터스]\")) {\n    // Include data from the \"Execute Workflow Trigger\" node\n    return {\n        result: true,\n        data: $node[\"Execute Workflow Trigger\"].json\n    };\n} else {\n    return { result: false };\n}\n"},"id":"55d459e1-baea-4753-ab75-ddb2d3b68003","name":"Topic에 \"지피터스\"가 포함됐는지 확인","type":"n8n-nodes-base.code","typeVersion":2,"position":[2100,1000]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d535d42-c094-4d88-80b8-b739ead58a5c","leftValue":"={{ $json.result }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c170ac57-6f8b-44ff-8306-d6a5391f1307","name":"지피터스가 포함 됐다면","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2380,1000]},{"parameters":{},"id":"021d6238-2087-47bb-ad9a-3aaa99f19fc6","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2440,1340]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"https://airtable.com/appq8xK4PLp7D7aCg/tblP0bMmo1xuLnX2v/viwZeCKCLliQZ5nWq?blocks=hide","mode":"url"},"table":{"__rl":true,"value":"tblP0bMmo1xuLnX2v","mode":"list","cachedResultName":"확정된 스터디(건들지X)","cachedResultUrl":"https://airtable.com/appq8xK4PLp7D7aCg/tblP0bMmo1xuLnX2v"},"options":{"view":{"__rl":true,"value":"viwZeCKCLliQZ5nWq","mode":"list","cachedResultName":"[GPTers] 진행 중","cachedResultUrl":"https://airtable.com/appq8xK4PLp7D7aCg/tblP0bMmo1xuLnX2v/viwZeCKCLliQZ5nWq"}}},"id":"614f84e7-0f34-4a2b-8efa-c8703ab8af46","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2060,780],"credentials":{"airtableTokenApi":{"id":"v6sNKykfBVnEaT0g","name":"Airtable Personal Access Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f2ce2c8-4b42-40fc-b5c2-5867d715815e","leftValue":"={{ $json.hasId }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"fd658a87-8a7a-4863-bfa8-b304274ae833","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2760,780]},{"parameters":{},"id":"76455e9a-42ed-403e-aba7-ed91dee2528f","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2580,540]},{"parameters":{"method":"POST","url":"https://study-monitoring.gpters.org/analyze/vtt","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 13cd3c2b35daea15d218dad9e7d1881ecffb53aab2cf9e7b6b5d5166caf562de"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json[\"data\"][\"email\"] }}"},{"name":"topic","value":"={{ $json[\"data\"][\"topic\"] }}"},{"name":"vtt_url","value":"={{ $json[\"data\"][\"recording_files_obj\"][\"audio_transcript\"][\"download_url\"] }}"},{"name":"chat_url","value":"={{ $json[\"data\"][\"recording_files_obj\"][\"chat_file\"][\"download_url\"] }}"},{"name":"zoom_uid","value":"={{ $json[\"data\"][\"uuid\"] }}"}]},"options":{}},"id":"8bcde5f4-b68a-44ab-a9f3-07437c80b79b","name":"FASTAPI 호출1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3420,1080]},{"parameters":{"assignments":{"assignments":[{"id":"aa1c2d8d-0669-456d-83c2-e7af66846f18","name":"url","value":"={{ $('getSharedScreenUrls2').item.json.download_url }}","type":"string"},{"id":"0bc88c9d-d653-407b-9b3e-8ea1072c5b9a","name":"title","value":"={{ $('Execute Workflow Trigger').item.json.start_time.slice(0,10) }} | {{ $('Execute Workflow Trigger').item.json.topic }}","type":"string"},{"id":"cad802b4-5e17-4549-8c8a-135db11e4649","name":"description","value":"={{ $('Execute Workflow Trigger').item.json.start_time }}","type":"string"},{"id":"dda21dc1-36be-4345-98ee-f9126deb9922","name":"uid","value":"={{ $node[\"Execute Workflow Trigger\"].json[\"uuid\"] }}","type":"string"},{"id":"5622c177-e04d-4434-a43f-c0a14a8a4c1c","name":"formated Date","value":"={{ $('Execute Workflow Trigger').item.json.start_time.slice(0,10) }}","type":"string"},{"id":"9534e5fd-1861-4669-891a-85194d7222b2","name":"주제명","value":"={{ $('Execute Workflow Trigger').item.json.topic }}","type":"string"}]},"options":{}},"id":"e5b6c327-5c92-416d-be5e-a63295f546d1","name":"getZoomUrl1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4140,1080]},{"parameters":{"url":"={{ $('Execute Workflow Trigger').item.json.recording_files[3].download_url }}","options":{}},"id":"baa79df4-8f59-4752-ab82-4887daea131c","name":"Download VOD1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3820,1080]},{"parameters":{"assignments":{"assignments":[{"id":"735c8eb2-947c-4b03-bf45-2068c254b97f","name":"topic","value":"={{ $json.topic }}","type":"string"},{"id":"98472458-b63b-4ca4-aa3e-e13b822f0ded","name":"sharedScreen","value":"={{ $json.recording_files[3].download_url }}","type":"string"},{"id":"8168c43c-2c19-4dc5-ae08-2d25aa8897b8","name":"vtt_url","value":"={{ $json.recording_files_obj.audio_transcript.download_url }}","type":"string"},{"id":"892e2147-4e05-4a74-838f-3136ed225b55","name":"chat_url","value":"={{ $json.recording_files_obj.chat_file.download_url }}","type":"string"},{"id":"abc013f3-fd00-46f7-9298-e1a2826c3107","name":"zoom_uid","value":"={{ $('Execute Workflow Trigger').item.json.uuid }}","type":"string"},{"id":"b31dcaf5-fa9d-4918-b854-361024b23887","name":"email","value":"={{ $('Execute Workflow Trigger').item.json.email }}","type":"string"}]},"options":{}},"id":"dc84af68-1956-47a2-841e-6b6ac6655517","name":"saveData","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1800,780]},{"parameters":{},"id":"4a12e008-7df7-43a4-9a75-56826b9beeef","name":"No Operation, do nothing3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1540,1080]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a1a6fd5-4226-4c37-aa43-bd0487cb0361","leftValue":"={{ $json.recording_files_obj.audio_transcript.download_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"4ed93271-25bc-4c4e-8f15-fb860596a0ce","leftValue":"={{ $json.recording_files_obj.chat_file.download_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"fe8f1f39-986a-4e42-a088-6d6efe8b4168","name":"정상적인녹화인지체크","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1540,780]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Input: Current item and Execute Workflow Trigger data\nconst currentItem = $json; // Current Airtable item in Run Once for Each mode\n\n// Execute Workflow Trigger에서 id 가져오기\nconst targetTopic = $('Execute Workflow Trigger').item.json.id\n\n// Result container\nlet hasId = false;\n\n// Get the current item's ZOOM_ID\nconst airtableId = currentItem?.zoom_id?.trim() || \"\"; // ZOOM_ID 가져오기 및 공백 제거\n\n// Debugging logs\nconsole.log(\"Current Item:\", currentItem);\nconsole.log(\"Target id:\", targetTopic);\nconsole.log(\"Airtable id:\", airtableId);\n\n// Check if the id matches\nif (String(airtableId) === String(targetTopic)) {\n  hasId = true;\n}\n\n\n// Output results\nconsole.log(\"Has Id:\", hasId);\nreturn {\n  hasId,\n  matchedItem: hasId ? currentItem : null\n};\n"},"id":"0c37efd1-c38c-4544-99f7-b4a4269a5a44","name":"ifTitleInAirtable","type":"n8n-nodes-base.code","typeVersion":2,"position":[2280,780],"alwaysOutputData":true},{"parameters":{"jsCode":"// recording_files 배열 가져오기\nconst recordingFiles = $node[\"Execute Workflow Trigger\"].json[\"recording_files\"];\n\n// 결과를 저장할 배열 초기화\nlet sharedScreenUrls = [];\n\n// recording_files 배열을 순회하면서 조건에 맞는 항목 찾기\nfor (let i = 0; i < recordingFiles.length; i++) {\n  if (recordingFiles[i].recording_type === \"shared_screen\") {\n    // 조건에 맞는 항목의 download_url을 배열에 추가\n    sharedScreenUrls.push({ download_url: recordingFiles[i].download_url });\n  }\n}\n\n// 결과 반환: 조건에 맞는 항목이 없으면 빈 배열 반환\nreturn sharedScreenUrls;\n"},"id":"270185fa-59ee-4f43-8692-322319a38824","name":"getSharedScreenUrls","type":"n8n-nodes-base.code","typeVersion":2,"position":[3640,760]},{"parameters":{"jsCode":"// recording_files 배열 가져오기\nconst recordingFiles = $node[\"Execute Workflow Trigger\"].json[\"recording_files\"];\n\n// 결과를 저장할 배열 초기화\nlet sharedScreenUrls = [];\n\n// recording_files 배열을 순회하면서 조건에 맞는 항목 찾기\nfor (let i = 0; i < recordingFiles.length; i++) {\n  if (recordingFiles[i].recording_type === \"shared_screen\") {\n    // 조건에 맞는 항목의 download_url을 배열에 추가\n    sharedScreenUrls.push({ download_url: recordingFiles[i].download_url });\n  }\n}\n\n// 결과 반환: 조건에 맞는 항목이 없으면 빈 배열 반환\nreturn sharedScreenUrls;\n"},"id":"ddda2f6b-23bd-4826-9c85-223daaeedc46","name":"getSharedScreenUrls2","type":"n8n-nodes-base.code","typeVersion":2,"position":[3620,1080]},{"parameters":{"method":"POST","url":"https://hooks.zapier.com/hooks/catch/16062411/2tpqe2r/","sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"={{ $json.title }}"},{"name":"url","value":"={{ $json.url }}"},{"name":"description","value":"={{ $json.description }}"},{"name":"id","value":"={{ $json.id }}"},{"name":"주제명","value":"={{ $json.주제명 }}"},{"name":"Formated Date","value":"={{ $json['formated Date'] }}"}]},"options":{}},"id":"d188708d-f583-4274-a808-4c4e89da19ce","name":"sendHookZapier","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4100,760]},{"parameters":{"method":"POST","url":"https://hooks.zapier.com/hooks/catch/16062411/2tpqe2r/","sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"={{ $json.title }}"},{"name":"url","value":"={{ $json.url }}"},{"name":"description","value":"={{ $json.description }}"},{"name":"uid","value":"={{ $json.uid }}"},{"name":"주제명","value":"={{ $json.주제명 }}"},{"name":"Formated Date","value":"={{ $json['formated Date'] }}"}]},"options":{}},"id":"c0c9a942-f285-4507-9aa1-dc23b94e5159","name":"sendHookZapier2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4400,1060]},{"parameters":{"content":"## VTT 파일과 Chat 파일이 있어야 정상적인 녹화입니다.\n\n## 정상적으로 판단되면 DATA를 저장합니다.","height":611.662790697674,"width":631.3023255813954},"id":"1033b72f-5ccf-43af-8a33-3e2250e8ed20","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,640]},{"parameters":{"content":"## 현재 진행중인 스터디인지 에어테이블에서 데이터를 가져오고 있다면 모니터링 자동화와 유튜브 업로드를 진행합니다.","height":465.96511627907023,"width":2527.4534883720908},"id":"cd2d43d0-6542-4bcd-96b5-ea29219a51b3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1980,480]},{"parameters":{"content":"## Topic에 [지피터스] 가 있다면 이 것도 모니터링 자동화 분석과 유튜브 업로드를 진행합니다.","height":561.7093023255811,"width":2635.686046511627},"id":"dd6dcf86-5db9-4e14-806b-7f77b1451ea1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1960,960]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"정상적인녹화인지체크","type":"main","index":0}]]},"FASTAPI 호출":{"main":[[]]},"getZoomUrl":{"main":[[{"node":"sendHookZapier","type":"main","index":0}]]},"Topic에 \"지피터스\"가 포함됐는지 확인":{"main":[[{"node":"지피터스가 포함 됐다면","type":"main","index":0}]]},"지피터스가 포함 됐다면":{"main":[[{"node":"FASTAPI 호출1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"ifTitleInAirtable","type":"main","index":0}]]},"If":{"main":[[{"node":"FASTAPI 호출","type":"main","index":0},{"node":"getSharedScreenUrls","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"FASTAPI 호출1":{"main":[[{"node":"getSharedScreenUrls2","type":"main","index":0}]]},"getZoomUrl1":{"main":[[{"node":"sendHookZapier2","type":"main","index":0}]]},"Download VOD1":{"main":[[{"node":"getZoomUrl1","type":"main","index":0}]]},"saveData":{"main":[[{"node":"Airtable","type":"main","index":0},{"node":"Topic에 \"지피터스\"가 포함됐는지 확인","type":"main","index":0}]]},"정상적인녹화인지체크":{"main":[[{"node":"saveData","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"ifTitleInAirtable":{"main":[[{"node":"If","type":"main","index":0}]]},"getSharedScreenUrls":{"main":[[{"node":"getZoomUrl","type":"main","index":0}]]},"getSharedScreenUrls2":{"main":[[{"node":"Download VOD1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2FkHbmnpOA9Y42fo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"uuid":"veLxKO3zSpa3p0GjqXpgXQ==","id":85034324197,"account_id":"92oNFHvfQJ6EuQ3jwLgDzA","host_id":"YFAvSIBERy6O-b8PR6DjEg","topic":"지피터스 AI 활용사례 탐색 스터디","type":8,"start_time":"2024-12-23T10:50:20Z","timezone":"Asia/Seoul","duration":134,"total_size":2810481161,"recording_count":7,"share_url":"https://us02web.zoom.us/rec/share/B2K7i2DrPP7vik132VUJMb7ucj-k-k0sGnNOYCig9upnKHrzzDjSqQWK7tvJPxl2.yN102FCPKNZu9vjR","recording_files":[{"id":"27ad67cd-fd5d-4fcf-ae4b-8f41eb5fedb7","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"MP4","file_extension":"MP4","file_size":678194305,"play_url":"https://us02web.zoom.us/rec/play/sVMi3OlLxrfQpl2B1ub-PD_npQChsGjygIKvHwVhPoaVMF1Wf4RKVFQfCymVMmxwtw-mFW32Y_lg6Gbf.m9ZoX8IzOBygmQFW","download_url":"https://us02web.zoom.us/rec/download/sVMi3OlLxrfQpl2B1ub-PD_npQChsGjygIKvHwVhPoaVMF1Wf4RKVFQfCymVMmxwtw-mFW32Y_lg6Gbf.m9ZoX8IzOBygmQFW","status":"completed","recording_type":"shared_screen"},{"id":"316897b0-02bb-40b9-86d5-c55cd2daa2ff","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"M4A","file_extension":"M4A","file_size":128130589,"play_url":"https://us02web.zoom.us/rec/play/F27lL5Lr13JFjgWPCustN16Y51TXAq5m1hqY2PskaOBsenddalb3E0Crt0iaK7gk7JPxhipJZG9JMGPs.GskubrK8HnfyZ6QY","download_url":"https://us02web.zoom.us/rec/download/F27lL5Lr13JFjgWPCustN16Y51TXAq5m1hqY2PskaOBsenddalb3E0Crt0iaK7gk7JPxhipJZG9JMGPs.GskubrK8HnfyZ6QY","status":"completed","recording_type":"audio_only"},{"id":"481bbcaa-be7d-48d3-a015-ca747178bd21","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"TIMELINE","file_extension":"JSON","file_size":4063337,"download_url":"https://us02web.zoom.us/rec/download/OTJ_lznA-dWe2R4GyEXHptgQITIxel3dlMdn3zlXCzQ59MJ8DehR4k-0HwDz4scrCWuuwpimb7poY-EW.Wdns7XCtWMQfJxTt","status":"completed","recording_type":"timeline"},{"id":"442ead61-3d83-4ee8-8375-7956571a284f","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"TRANSCRIPT","file_extension":"VTT","file_size":186799,"play_url":"https://us02web.zoom.us/rec/play/rAqcZ0Z55bxVeiZSB7uwzdJuK6h1oNGEJLrMgt--3_MbqlWmYvVa2EXrTfw8CqwB3zWj81BTZ4JmUP2p.o3AQUX_PR399tGLi","download_url":"https://us02web.zoom.us/rec/download/rAqcZ0Z55bxVeiZSB7uwzdJuK6h1oNGEJLrMgt--3_MbqlWmYvVa2EXrTfw8CqwB3zWj81BTZ4JmUP2p.o3AQUX_PR399tGLi","status":"completed","recording_type":"audio_transcript"},{"id":"49734e36-1175-48f4-8841-bbaba6c923ed","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"CHAT","file_extension":"TXT","file_size":21312,"play_url":"https://us02web.zoom.us/rec/play/yAJM138uQrIrEhy74uUqxk_6oh9PiEPsEl-qoX-g6aCuGHqopA5y1J-_W-ZcVgjlHzQRm8E71qM7Hg.rPBwIo5KUu-Q0spP","download_url":"https://us02web.zoom.us/rec/download/yAJM138uQrIrEhy74uUqxk_6oh9PiEPsEl-qoX-g6aCuGHqopA5y1J-_W-ZcVgjlHzQRm8E71qM7Hg.rPBwIo5KUu-Q0spP","status":"completed","recording_type":"chat_file"},{"id":"54002434-1fd1-4e92-8fa1-46227ba0d440","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"MP4","file_extension":"MP4","file_size":1552512742,"play_url":"https://us02web.zoom.us/rec/play/COYHRk2IU5bs9xa7NJJhUj8-hbwHDLX-nkEOEleDjcKoNxdkXnZjo0f1KNyoxZt7D6-kndaybSaPF0mk.mggJ6Tq4doiht1gS","download_url":"https://us02web.zoom.us/rec/download/COYHRk2IU5bs9xa7NJJhUj8-hbwHDLX-nkEOEleDjcKoNxdkXnZjo0f1KNyoxZt7D6-kndaybSaPF0mk.mggJ6Tq4doiht1gS","status":"completed","recording_type":"shared_screen_with_gallery_view"},{"id":"6adac188-4396-41af-bd44-5e545e373c89","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"MP4","file_extension":"MP4","file_size":447372077,"play_url":"https://us02web.zoom.us/rec/play/jU0tl0XHx9CApKPVu1pCxcg6Cr9syagtpuI74G76EUmhQqp-ZA1TgFEUcqs2nqxpPVQ5X3g3-J64C1iu._tJeLnV-JjZVRcGn","download_url":"https://us02web.zoom.us/rec/download/jU0tl0XHx9CApKPVu1pCxcg6Cr9syagtpuI74G76EUmhQqp-ZA1TgFEUcqs2nqxpPVQ5X3g3-J64C1iu._tJeLnV-JjZVRcGn","status":"completed","recording_type":"active_speaker"}],"recording_play_passcode":"","email":"study3@gpters.org","recording_files_obj":{"shared_screen":{"id":"27ad67cd-fd5d-4fcf-ae4b-8f41eb5fedb7","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"MP4","file_extension":"MP4","file_size":678194305,"play_url":"https://us02web.zoom.us/rec/play/sVMi3OlLxrfQpl2B1ub-PD_npQChsGjygIKvHwVhPoaVMF1Wf4RKVFQfCymVMmxwtw-mFW32Y_lg6Gbf.m9ZoX8IzOBygmQFW","download_url":"https://us02web.zoom.us/rec/download/sVMi3OlLxrfQpl2B1ub-PD_npQChsGjygIKvHwVhPoaVMF1Wf4RKVFQfCymVMmxwtw-mFW32Y_lg6Gbf.m9ZoX8IzOBygmQFW","status":"completed","recording_type":"shared_screen"},"audio_only":{"id":"316897b0-02bb-40b9-86d5-c55cd2daa2ff","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"M4A","file_extension":"M4A","file_size":128130589,"play_url":"https://us02web.zoom.us/rec/play/F27lL5Lr13JFjgWPCustN16Y51TXAq5m1hqY2PskaOBsenddalb3E0Crt0iaK7gk7JPxhipJZG9JMGPs.GskubrK8HnfyZ6QY","download_url":"https://us02web.zoom.us/rec/download/F27lL5Lr13JFjgWPCustN16Y51TXAq5m1hqY2PskaOBsenddalb3E0Crt0iaK7gk7JPxhipJZG9JMGPs.GskubrK8HnfyZ6QY","status":"completed","recording_type":"audio_only"},"timeline":{"id":"481bbcaa-be7d-48d3-a015-ca747178bd21","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"TIMELINE","file_extension":"JSON","file_size":4063337,"download_url":"https://us02web.zoom.us/rec/download/OTJ_lznA-dWe2R4GyEXHptgQITIxel3dlMdn3zlXCzQ59MJ8DehR4k-0HwDz4scrCWuuwpimb7poY-EW.Wdns7XCtWMQfJxTt","status":"completed","recording_type":"timeline"},"audio_transcript":{"id":"442ead61-3d83-4ee8-8375-7956571a284f","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"TRANSCRIPT","file_extension":"VTT","file_size":186799,"play_url":"https://us02web.zoom.us/rec/play/rAqcZ0Z55bxVeiZSB7uwzdJuK6h1oNGEJLrMgt--3_MbqlWmYvVa2EXrTfw8CqwB3zWj81BTZ4JmUP2p.o3AQUX_PR399tGLi","download_url":"https://us02web.zoom.us/rec/download/rAqcZ0Z55bxVeiZSB7uwzdJuK6h1oNGEJLrMgt--3_MbqlWmYvVa2EXrTfw8CqwB3zWj81BTZ4JmUP2p.o3AQUX_PR399tGLi","status":"completed","recording_type":"audio_transcript"},"chat_file":{"id":"49734e36-1175-48f4-8841-bbaba6c923ed","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"CHAT","file_extension":"TXT","file_size":21312,"play_url":"https://us02web.zoom.us/rec/play/yAJM138uQrIrEhy74uUqxk_6oh9PiEPsEl-qoX-g6aCuGHqopA5y1J-_W-ZcVgjlHzQRm8E71qM7Hg.rPBwIo5KUu-Q0spP","download_url":"https://us02web.zoom.us/rec/download/yAJM138uQrIrEhy74uUqxk_6oh9PiEPsEl-qoX-g6aCuGHqopA5y1J-_W-ZcVgjlHzQRm8E71qM7Hg.rPBwIo5KUu-Q0spP","status":"completed","recording_type":"chat_file"},"shared_screen_with_gallery_view":{"id":"54002434-1fd1-4e92-8fa1-46227ba0d440","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"MP4","file_extension":"MP4","file_size":1552512742,"play_url":"https://us02web.zoom.us/rec/play/COYHRk2IU5bs9xa7NJJhUj8-hbwHDLX-nkEOEleDjcKoNxdkXnZjo0f1KNyoxZt7D6-kndaybSaPF0mk.mggJ6Tq4doiht1gS","download_url":"https://us02web.zoom.us/rec/download/COYHRk2IU5bs9xa7NJJhUj8-hbwHDLX-nkEOEleDjcKoNxdkXnZjo0f1KNyoxZt7D6-kndaybSaPF0mk.mggJ6Tq4doiht1gS","status":"completed","recording_type":"shared_screen_with_gallery_view"},"active_speaker":{"id":"6adac188-4396-41af-bd44-5e545e373c89","meeting_id":"veLxKO3zSpa3p0GjqXpgXQ==","recording_start":"2024-12-23T10:50:22Z","recording_end":"2024-12-23T13:04:34Z","file_type":"MP4","file_extension":"MP4","file_size":447372077,"play_url":"https://us02web.zoom.us/rec/play/jU0tl0XHx9CApKPVu1pCxcg6Cr9syagtpuI74G76EUmhQqp-ZA1TgFEUcqs2nqxpPVQ5X3g3-J64C1iu._tJeLnV-JjZVRcGn","download_url":"https://us02web.zoom.us/rec/download/jU0tl0XHx9CApKPVu1pCxcg6Cr9syagtpuI74G76EUmhQqp-ZA1TgFEUcqs2nqxpPVQ5X3g3-J64C1iu._tJeLnV-JjZVRcGn","status":"completed","recording_type":"active_speaker"}}}}]},"versionId":"cbc2479d-5bef-4077-8389-877395035b43","triggerCount":0,"tags":[{"createdAt":"2024-12-19T05:44:08.223Z","updatedAt":"2024-12-19T05:44:08.223Z","id":"Og7y3lpDSf0XaUA6","name":"유튜브"},{"createdAt":"2024-12-19T05:44:06.519Z","updatedAt":"2024-12-19T05:44:06.519Z","id":"WquHcRC8eU2BuyLP","name":"에어테이블"}]}