workflows/17_전일 실패 Execution 발송과 active 오토메이션 발송.json
{"createdAt":"2024-12-16T00:19:07.591Z","updatedAt":"2024-12-19T05:43:04.000Z","id":"1bh8x3RwTlinWTwp","name":"17_전일 실패 Execution 발송과 active 오토메이션 발송","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":15}]}},"id":"f4b604cb-3525-4142-8583-0caf3868f86b","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[580,320]},{"parameters":{"resource":"execution","limit":50,"filters":{"status":"error"},"options":{"activeWorkflows":true},"requestOptions":{}},"id":"2cc0ab68-2dc3-446d-9b21-ef2f3cb5ac12","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1260,320],"credentials":{"n8nApi":{"id":"ykVxboYEOcHC8vk2","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"48945b2d-9764-4a38-9c42-ee4a6063a1ff","leftValue":"={{ $json.startedAt }}","rightValue":"={{ $('어제와 오늘 날짜 계산').item.json.yesterday }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"id":"fbdf1a77-a28e-45d0-a660-f1e850a07bf2","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1480,320]},{"parameters":{"jsCode":"const timestamp = new Date($json[\"timestamp\"]);\n\n// Set today 9 AM\nconst today9am = new Date(timestamp);\ntoday9am.setUTCHours(0, 0, 0, 0);\ntoday9am.setDate(today9am.getDate()); // Move to the previous day for \"today\"\n\n// Set yesterday 9 AM\nconst yesterday9am = new Date(today9am);\nyesterday9am.setDate(yesterday9am.getDate() - 1); // Move to the day before \"yesterday\"\n\n// Format to ISO 8601 without milliseconds\nconst formattedToday = today9am.toISOString().split('.')[0] + 'Z';\nconst formattedYesterday = yesterday9am.toISOString().split('.')[0] + 'Z';\n\nreturn {\n  today: formattedToday,\n  yesterday: formattedYesterday\n};\n"},"id":"310fee7b-bb5e-4f5d-857a-c8caac9c8186","name":"어제와 오늘 날짜 계산","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,320],"notes":"어제와 오늘 날짜를 ISO 형식으로 계산합니다."},{"parameters":{"assignments":{"assignments":[{"id":"cfc97fa0-8b66-46a7-baf3-4a3b8bb54c94","name":"text","value":"=ID : {{ $json.id }}\nWORKFLOW : {{ $json.workflowData.name }} \n에러 발생","type":"string"}]},"options":{}},"id":"aeeb2d1a-86e9-427b-adee-585a2aaac94f","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1700,320]},{"parameters":{"filters":{"activeWorkflows":true},"requestOptions":{}},"id":"d44011bf-aec6-4da5-9a26-29c7de99ad49","name":"n8n1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1060,600],"credentials":{"n8nApi":{"id":"ykVxboYEOcHC8vk2","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"852350cd-8f5a-4022-bda8-697f6cad385c","name":"workflow_name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"id":"3d753caf-63a5-42c9-80e4-62cfdb8ccdc8","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,600]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"workflow_name"}]},"options":{}},"id":"8d4b436a-d9de-49b1-9d52-eed90e81d9da","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[1500,600]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"workflow_name"}]},"options":{}},"id":"df2850cd-8732-4573-957a-f47f68b8cc8e","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1720,600]},{"parameters":{"jsCode":"// HTML 이메일 템플릿 생성\nconst currentDate = new Date().toLocaleDateString('ko-KR', {\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst htmlContent = `\n  <!DOCTYPE html>\n  <html>\n  <head>\n    <meta charset=\"UTF-8\">\n    <style>\n      .container {\n        font-family: 'Arial', sans-serif;\n        max-width: 800px;\n        margin: 0 auto;\n        padding: 20px;\n      }\n      .header {\n        background-color: #f8f9fa;\n        padding: 15px;\n        border-radius: 5px;\n        margin-bottom: 20px;\n      }\n      .workflow-list {\n        list-style-type: none;\n        padding: 0;\n      }\n      .workflow-item {\n        padding: 10px;\n        margin: 5px 0;\n        background-color: #ffffff;\n        border-left: 4px solid #007bff;\n        box-shadow: 0 1px 3px rgba(0,0,0,0.1);\n      }\n      .date {\n        color: #666;\n        font-size: 0.9em;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <div class=\"header\">\n        <h2>현재 ACTIVE 상태의 N8N Workflow 목록</h2>\n        <p class=\"date\">생성일: ${currentDate}</p>\n      </div>\n      \n      <div>\n        <ul class=\"workflow-list\">\n          ${$json.workflow_name.map(workflow => \n            `<li class=\"workflow-item\">${workflow}</li>`\n          ).join('')}\n        </ul>\n      </div>\n    </div>\n  </body>\n  </html>\n`;\n\n// Return an array with a single object containing the HTML content\nreturn [{\n  html: htmlContent,\n  subject: '현재 ACTIVE 상태의 N8N Workflow'\n}];"},"id":"a107736a-203d-4238-8c20-d2b0c8e1ffd3","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,600]},{"parameters":{"method":"POST","url":"={{ $vars.gpters_internal_api_endpoint }}/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $vars.gpters_internal_api_token_key }}","value":"={{ $vars.gpters_internal_api_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.html }}"},{"name":"bcc","value":"={{ [JSON.stringify(\"all@gpters.org\") ]}}"},{"name":"title","value":"={{ $json.subject }}를 발송해드립니다."},{"name":"preview","value":"={{ $json.subject }}를 발송해드립니다."}]},"options":{}},"id":"2f8a8fc9-ff4e-4c2d-a7e5-e2c9536f4cc5","name":"요약 이메일 발송","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2180,600],"notes":"생성된 이메일 요약 내용을 내부 API를 통해 팀에게 발송합니다."},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"id":"17f6abfc-ac2d-4ea6-bb54-e0924a8b1cee","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1920,320]},{"parameters":{"jsCode":"// 텍스트를 파싱하여 구조화된 데이터로 변환하는 함수\nconst parseExecutionText = (text) => {\n  const lines = text.split('\\n');\n  return {\n    id: lines[0].split(':')[1].trim(),\n    workflow: lines[1].split(':')[1].trim()\n  };\n};\n\n// 현재 날짜 포맷팅\nconst currentDate = new Date().toLocaleDateString('ko-KR', {\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\n// 실패 목록을 파싱\nconst failedExecutions = $json.text.map(parseExecutionText);\n\nconst htmlContent = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    .container {\n      font-family: 'Arial', sans-serif;\n      max-width: 800px;\n      margin: 0 auto;\n      padding: 20px;\n    }\n    .header {\n      background-color: #fee2e2;\n      padding: 15px;\n      border-radius: 5px;\n      margin-bottom: 20px;\n    }\n    .execution-list {\n      list-style-type: none;\n      padding: 0;\n    }\n    .execution-item {\n      padding: 15px;\n      margin: 10px 0;\n      background-color: #ffffff;\n      border-left: 4px solid #dc2626;\n      box-shadow: 0 1px 3px rgba(0,0,0,0.1);\n    }\n    .execution-id {\n      font-weight: bold;\n      color: #dc2626;\n      margin-bottom: 5px;\n    }\n    .workflow-name {\n      color: #374151;\n    }\n    .date {\n      color: #666;\n      font-size: 0.9em;\n    }\n    .summary {\n      background-color: #f9fafb;\n      padding: 10px;\n      margin-top: 20px;\n      border-radius: 5px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2>전일 실패한 Execution 목록</h2>\n      <p class=\"date\">생성일: ${currentDate}</p>\n    </div>\n    \n    <div class=\"summary\">\n      <strong>총 실패 건수:</strong> ${failedExecutions.length}건\n    </div>\n\n    <div>\n      <ul class=\"execution-list\">\n        ${failedExecutions.map(exec => `\n          <li class=\"execution-item\">\n            <div class=\"execution-id\">Execution ID: ${exec.id}</div>\n            <div class=\"workflow-name\">Workflow: ${exec.workflow}</div>\n          </li>\n        `).join('')}\n      </ul>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\n// n8n에서 사용할 수 있도록 객체 배열 반환\nreturn [{\n  html: htmlContent,\n  subject: '전일 실패한 Execution'\n}];"},"id":"423268e2-12b6-4825-b576-355a88c03579","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2140,320]},{"parameters":{"method":"POST","url":"={{ $vars.gpters_internal_api_endpoint }}/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $vars.gpters_internal_api_token_key }}","value":"={{ $vars.gpters_internal_api_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.html }}"},{"name":"bcc","value":"={{ [JSON.stringify(\"all@gpters.org\") ]}}"},{"name":"title","value":"={{ $json.subject }}를 발송해드립니다."},{"name":"preview","value":"={{ $json.subject }}를 발송해드립니다."}]},"options":{}},"id":"d8c3ba83-4fe5-464f-b08b-69d17aff2eb1","name":"요약 이메일 발송1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2360,320],"notes":"생성된 이메일 요약 내용을 내부 API를 통해 팀에게 발송합니다."},{"parameters":{"content":"## 전일 실행된 내역 중에 ERROR 내역만 가져와서 정리하여 이메일로 송부합니다.","height":275.63819457633804,"width":1707.3202022908645},"id":"fd828c66-c27a-4cdd-a638-bf23389276d0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1020,243.2290435557302]},{"parameters":{"content":"## 지금 ACTIVE 하게 켜져있는 WORKFLOW를 정리하여 이메일로 송부합니다.","height":244.80134268931437,"width":1699.6109893191083},"id":"38e8f5b9-e25e-43ca-abe5-0fb82406064e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1020,540]}],"connections":{"Schedule Trigger":{"main":[[{"node":"어제와 오늘 날짜 계산","type":"main","index":0},{"node":"n8n1","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Filter","type":"main","index":0}]]},"어제와 오늘 날짜 계산":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"요약 이메일 발송","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"요약 이메일 발송1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2FkHbmnpOA9Y42fo"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ae9d4d21-6a7a-4fd7-a1d0-7b369985406c","triggerCount":1,"tags":[{"createdAt":"2024-10-30T08:32:06.157Z","updatedAt":"2024-10-30T08:32:06.157Z","id":"6XNkyT4y92x85aDE","name":"이메일"},{"createdAt":"2024-11-07T05:54:01.688Z","updatedAt":"2024-11-07T05:54:01.688Z","id":"gSS36I86ulOrjU5u","name":"에러"}]}