workflows/18_ZoomRecording 업로드[지니파이 드라이브].json
{"createdAt":"2024-11-15T08:51:17.045Z","updatedAt":"2024-12-19T05:44:56.000Z","id":"h0vVFgUNOqCpOidm","name":"18_ZoomRecording 업로드[지니파이 드라이브]","active":false,"nodes":[{"parameters":{},"id":"16d3d00f-580e-445f-a3a6-8725212d6ed4","name":"trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-260,480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ddf17830-3d4d-4cd2-9e76-f100aef8e036","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"9dcfaf40-5d6d-46b0-ac02-201a618691f3","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[660,940]},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.topic }}","limit":1,"filter":{"folderId":{"__rl":true,"value":"1RTQShPMz768FQQv0Acns2e4yVvtJMf7l","mode":"list","cachedResultName":"090 줌 녹화영상","cachedResultUrl":"https://drive.google.com/drive/folders/1RTQShPMz768FQQv0Acns2e4yVvtJMf7l"}},"options":{}},"id":"8a2d7edd-7151-4842-8918-fb4244dbf1f2","name":"findFolder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[440,940],"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"NWnrHyjTqPrRa3n7","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $('trigger').item.json.topic }}({{ $('trigger').item.json.email }})","driveId":{"__rl":true,"value":"0AA74-yP6nL5NUk9PVA","mode":"list","cachedResultName":"GPTers","cachedResultUrl":"https://drive.google.com/drive/folders/0AA74-yP6nL5NUk9PVA"},"folderId":{"__rl":true,"value":"1RTQShPMz768FQQv0Acns2e4yVvtJMf7l","mode":"list","cachedResultName":"090 줌 녹화영상","cachedResultUrl":"https://drive.google.com/drive/folders/1RTQShPMz768FQQv0Acns2e4yVvtJMf7l"},"options":{}},"id":"735a5ec6-b17b-4286-a4ea-74b9b9f2395a","name":"createFolder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[840,840],"credentials":{"googleDriveOAuth2Api":{"id":"NWnrHyjTqPrRa3n7","name":"Google Drive account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"topicFolderId\": \"{{ $('findFolder')?.item?.json?.id || $('createFolder').item.json.id }}\",\n  \"detailFolderName\": \"{{ DateTime.fromISO($('trigger').item.json.start_time).setZone(\"Asia/Seoul\").toFormat(\"yyyy-MM-dd HH:mm(EEE)\") }} {{ $('trigger').item.json.topic }}\"\n}","options":{}},"id":"2e0d335a-bc70-4885-aa24-4c2d1b96b26f","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,960],"alwaysOutputData":true,"executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ddf17830-3d4d-4cd2-9e76-f100aef8e036","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b90f2d3b-46ed-4b5a-aef4-c86477c5dcd5","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,1440]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"detailFolderId\": \"{{ $('findFolderDetail')?.last()?.json?.id || $('createFolderDetail').last().json.id }}\"\n}","options":{}},"id":"4e9ca7ea-3913-4faf-946e-7f2d4d55b8dc","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1900,1440],"alwaysOutputData":true,"executeOnce":false},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.detailFolderName }}","limit":1,"filter":{"folderId":{"__rl":true,"value":"={{ $json.topicFolderId }}","mode":"id"}},"options":{}},"id":"aaff9213-08ef-41e8-8b2e-17d7eded2419","name":"findFolderDetail","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1360,1440],"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"NWnrHyjTqPrRa3n7","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $('Edit Fields').item.json.detailFolderName }}","driveId":{"__rl":true,"value":"0AA74-yP6nL5NUk9PVA","mode":"list","cachedResultName":"GPTers","cachedResultUrl":"https://drive.google.com/drive/folders/0AA74-yP6nL5NUk9PVA"},"folderId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.topicFolderId }}","mode":"id"},"options":{}},"id":"5a723726-593c-417c-a683-9117a9dd78a7","name":"createFolderDetail","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1700,1320],"credentials":{"googleDriveOAuth2Api":{"id":"NWnrHyjTqPrRa3n7","name":"Google Drive account"}}},{"parameters":{"options":{}},"id":"547c4262-b9bc-4e9a-bda4-66b2c9e3def9","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2500,1780],"retryOnFail":false},{"parameters":{"resource":"video","operation":"upload","title":"=","regionCode":"KR","categoryId":"27","options":{"privacyStatus":"unlisted"}},"id":"16c3a55a-a9b3-49c7-993d-06e0dffd589f","name":"YouTube1","type":"n8n-nodes-base.youTube","typeVersion":1,"position":[3520,2280],"disabled":true},{"parameters":{"content":"## 090 줌 녹화영상/<폴더> 를 찾거나 생성","height":80,"width":531.277354484164},"id":"eea5deed-4834-45e3-9d6d-dc081f4a14ef","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,700]},{"parameters":{"content":"## /090 줌 녹화영상/<폴더>/<폴더> 를 찾거나 생성","height":80,"width":531.277354484164},"id":"e870ae42-d7b5-4794-b23f-ba2f333f2246","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1340,1220]},{"parameters":{"content":"## /090 줌 녹화영상/<폴더>/<폴더> 에 영상 업로드","height":80,"width":531.277354484164},"id":"82daef73-ec5c-4972-8f62-ae2dbf085f7e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2260,1520]},{"parameters":{"workflowId":{"__rl":true,"value":"XVWUaUPaaiGofxQ6","mode":"list","cachedResultName":"GPTers — slackNoti_airtable"},"options":{}},"id":"21957b22-5b9e-466c-956c-a358435a89bd","name":"slackNotification","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3440,1700],"executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"87dbe8d5-8379-4b0b-8b41-0cc5721cfc3c","name":"text","value":"={{ $('Edit Fields').item.json.detailFolderName }} 구글 드라이브 처리가 완료되었습니다.","type":"string"}]},"options":{}},"id":"d13a5326-dd94-46ef-b788-80d6bee4e4fe","name":"slackNotificationInput","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3000,1700]},{"parameters":{},"id":"2ed215cf-13ba-462f-81e9-e5568c0d3ff4","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[460,460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1b76ed7-c252-4ee9-a01e-d7c7e44c7aca","leftValue":"={{ $json.duration }}","rightValue":3,"operator":{"type":"number","operation":"lt"}}],"combinator":"or"},"options":{}},"id":"a76603b5-7907-4102-96dd-c4de404936b5","name":"condition","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,480],"notesInFlow":true,"notes":"5분 미만 또는\n녹화본이 없는 경우 스킵"},{"parameters":{"jsCode":"return $('trigger').item.json.recording_files"},"id":"ed421d70-3463-4dce-9bf9-06053f11713a","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,1700]},{"parameters":{"name":"={{ $('Edit Fields').item.json.detailFolderName }} {{ $json.recording_type }}.{{ $json.file_extension.toLowerCase() }}","driveId":{"__rl":true,"value":"0AA74-yP6nL5NUk9PVA","mode":"list","cachedResultName":"GPTers","cachedResultUrl":"https://drive.google.com/drive/folders/0AA74-yP6nL5NUk9PVA"},"folderId":{"__rl":true,"value":"={{ $('Edit Fields1').item.json.detailFolderId }}","mode":"id"},"options":{}},"id":"f8049efa-df6a-494c-bb4c-10b6edf550df","name":"Google Drive1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3100,1960],"credentials":{"googleDriveOAuth2Api":{"id":"NWnrHyjTqPrRa3n7","name":"Google Drive account"}}},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"5e26e9e4-061f-413e-8956-ce65b395077e","name":"download","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2740,1860],"notesInFlow":true,"notes":"Zoom 녹화 다운로드"},{"parameters":{"workflowId":{"__rl":true,"value":"NdYsl2DxRQEFUXG9","mode":"list","cachedResultName":"GPTers — slackNoti_n8n_log"},"mode":"each","options":{}},"id":"7193f6bf-ef4c-41a9-80c8-4deaf599e638","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3640,1960],"executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"5b1e16f1-9528-4408-be56-9f20e177d63b","name":"text","value":"={{ $('Edit Fields').item.json.detailFolderName }} {{ $('download').item.json.recording_type }}.{{ $('download').item.json.file_extension.toLowerCase() }} 를 GoogleDrive 업로드 성공!\n\nfile_size : {{ $('download').item.json.file_size /1000 }}KB","type":"string"}]},"options":{}},"id":"ab98f865-9ae8-4525-ae30-76fcedd8c925","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3320,1960]},{"parameters":{"method":"POST","url":"https://zoom.us/oauth/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic TkFVNXN4Ym1TV2F6SmtGbVJieXB3OnJoTW1mWlhwVWdKbm1MMU9EMTJ4VTJrUnVKZVNEMTBK"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"account_credentials"},{"name":"account_id","value":"92oNFHvfQJ6EuQ3jwLgDzA"}]},"options":{}},"id":"62f2bc45-25f8-4642-aaee-2aa733f17736","name":"getAccessToken","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,1700]},{"parameters":{"method":"DELETE","url":"=https://api.zoom.us/v2/meetings/{{ $('trigger').item.json.recording_files[0].meeting_id }}/recordings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('getAccessToken').item.json.access_token }}"}]},"options":{}},"id":"9f644d24-20c3-4bb6-81f0-6b9b320886a5","name":"delete_files","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3780,1700]},{"parameters":{"content":"## /90 에 파일이 성공적으로 올라갔다면, 클라우드 녹화본 파일을 휴지통으로 옮깁니다.","height":153.67515471599347,"width":874.5928101619922},"id":"263457a5-cb1b-4b6a-9499-ea69ace952d8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3000,1520]}],"connections":{"trigger":{"main":[[{"node":"condition","type":"main","index":0}]]},"If":{"main":[[{"node":"createFolder","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"findFolder":{"main":[[{"node":"If","type":"main","index":0}]]},"createFolder":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"findFolderDetail","type":"main","index":0}]]},"If1":{"main":[[{"node":"createFolderDetail","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"findFolderDetail":{"main":[[{"node":"If1","type":"main","index":0}]]},"createFolderDetail":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"getAccessToken","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"slackNotificationInput","type":"main","index":0}],[{"node":"download","type":"main","index":0}]]},"slackNotificationInput":{"main":[[{"node":"slackNotification","type":"main","index":0}]]},"condition":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"findFolder","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"download":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"getAccessToken":{"main":[[{"node":"Code","type":"main","index":0}]]},"slackNotification":{"main":[[{"node":"delete_files","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2FkHbmnpOA9Y42fo"},"staticData":null,"meta":null,"pinData":{"trigger":[{"json":{"uuid":"qLM4WbegT9iJ88WX/NBsNQ==","id":85355412885,"account_id":"92oNFHvfQJ6EuQ3jwLgDzA","host_id":"z1LTeiqiSBixhdSufEM_Kg","topic":"LangGraph 공식 강의 보고 나만의 AI 에이전트 구현 스터디","type":8,"start_time":"2024-11-26T11:47:46Z","timezone":"Asia/Seoul","duration":126,"total_size":1753136466,"recording_count":7,"share_url":"https://us02web.zoom.us/rec/share/pJdmwQbWmYtpEhmLRklk1JUDENPinbbV0DyT6VzCXLzgJnPjvyNjQRUO-QJGTvOf.CVu30LSnF0M0Eh-X","recording_files":[{"id":"069ab7e9-5758-4c17-b647-9723e64e9a6b","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"MP4","file_extension":"MP4","file_size":565745677,"play_url":"https://us02web.zoom.us/rec/play/JY2bi3qdH3jOXU9yesh6kxQP-3OJmarRBMuWxecvf-brs-3YKgExvfSwCdn-KChvxaxsOr4Kox7BQu6b.pDtl_iO5Waj9cCxu","download_url":"https://us02web.zoom.us/rec/download/JY2bi3qdH3jOXU9yesh6kxQP-3OJmarRBMuWxecvf-brs-3YKgExvfSwCdn-KChvxaxsOr4Kox7BQu6b.pDtl_iO5Waj9cCxu","status":"completed","recording_type":"shared_screen"},{"id":"23cb3039-a7a1-4d0d-992e-8b67124df271","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"MP4","file_extension":"MP4","file_size":690475477,"play_url":"https://us02web.zoom.us/rec/play/K50lqSPoaCZk8iHfx0vFpot9Ko5heAM8dsnl7OZrpaHjoFpNgsI-nJIF2_f5P6-HTUCJYdi-tNMVFOpP.N_ZX9uQGPuT-dQCv","download_url":"https://us02web.zoom.us/rec/download/K50lqSPoaCZk8iHfx0vFpot9Ko5heAM8dsnl7OZrpaHjoFpNgsI-nJIF2_f5P6-HTUCJYdi-tNMVFOpP.N_ZX9uQGPuT-dQCv","status":"completed","recording_type":"shared_screen_with_gallery_view"},{"id":"2c4fb52c-78a7-46cd-9ba6-a6c101c1db39","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"TRANSCRIPT","file_extension":"VTT","file_size":178251,"play_url":"https://us02web.zoom.us/rec/play/nCe4JrG7cca8-FK8Z0I2HWwaWxBl-p3mMTxbXSSMJ4WumIargQGYx-2b-4jkh0YCHu_c9GGMLJuMvFkH.UL1UpUYe-K1Yj-Ym","download_url":"https://us02web.zoom.us/rec/download/nCe4JrG7cca8-FK8Z0I2HWwaWxBl-p3mMTxbXSSMJ4WumIargQGYx-2b-4jkh0YCHu_c9GGMLJuMvFkH.UL1UpUYe-K1Yj-Ym","status":"completed","recording_type":"audio_transcript"},{"id":"681808e0-0099-4022-837e-7ec53cf33885","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"MP4","file_extension":"MP4","file_size":373029840,"play_url":"https://us02web.zoom.us/rec/play/3_f_HbscoGaaPHXrXqdJvad5ic1H6V0CA5POL2NDgiEf0FsVBeLC9Wv1Lt7cVn9ZM08wViBjAGWeRJ4_.5Qe8BKXhMftq8Wj0","download_url":"https://us02web.zoom.us/rec/download/3_f_HbscoGaaPHXrXqdJvad5ic1H6V0CA5POL2NDgiEf0FsVBeLC9Wv1Lt7cVn9ZM08wViBjAGWeRJ4_.5Qe8BKXhMftq8Wj0","status":"completed","recording_type":"active_speaker"},{"id":"b5f4bfb5-4e31-42cb-a7ac-50076166cb9e","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"M4A","file_extension":"M4A","file_size":120755126,"play_url":"https://us02web.zoom.us/rec/play/iTWYNzqmA-Ofhmo7BHbiLzTJW68UjqrXW95YBHLkmZyLaWwPl5E7lRXS1C8hyDpxcAJ1cqAbZog92ORh.y7c3vCGoya-iIpb1","download_url":"https://us02web.zoom.us/rec/download/iTWYNzqmA-Ofhmo7BHbiLzTJW68UjqrXW95YBHLkmZyLaWwPl5E7lRXS1C8hyDpxcAJ1cqAbZog92ORh.y7c3vCGoya-iIpb1","status":"completed","recording_type":"audio_only"},{"id":"e00b355f-5fac-4cbf-bf03-6f83461544e0","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"TIMELINE","file_extension":"JSON","file_size":2947936,"download_url":"https://us02web.zoom.us/rec/download/wgYizeYlCnPjubwUWMb3SXA21n59VYf4R1qG50fdJtxwcYsNUAp_nL_saHeeljDD8fKEneEkIK_08hI9.Lvc_-UU8TXg6yAu7","status":"completed","recording_type":"timeline"},{"id":"c10c6659-ee74-4c40-a145-6687a0b9a6e8","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"CHAT","file_extension":"TXT","file_size":4159,"play_url":"https://us02web.zoom.us/rec/play/x-W5M-w2tJTLWCzJtgIcBm1bVepqmPwqYN2-PdMB9N2ew-HhQihh7wIV8aNAcHNyTtPpoWk8rr_XEGR3.yLBGl7W6Go-4mUC6","download_url":"https://us02web.zoom.us/rec/download/x-W5M-w2tJTLWCzJtgIcBm1bVepqmPwqYN2-PdMB9N2ew-HhQihh7wIV8aNAcHNyTtPpoWk8rr_XEGR3.yLBGl7W6Go-4mUC6","status":"completed","recording_type":"chat_file"}],"recording_play_passcode":"","email":"study1@gpters.org","recording_files_obj":{"shared_screen":{"id":"069ab7e9-5758-4c17-b647-9723e64e9a6b","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"MP4","file_extension":"MP4","file_size":565745677,"play_url":"https://us02web.zoom.us/rec/play/JY2bi3qdH3jOXU9yesh6kxQP-3OJmarRBMuWxecvf-brs-3YKgExvfSwCdn-KChvxaxsOr4Kox7BQu6b.pDtl_iO5Waj9cCxu","download_url":"https://us02web.zoom.us/rec/download/JY2bi3qdH3jOXU9yesh6kxQP-3OJmarRBMuWxecvf-brs-3YKgExvfSwCdn-KChvxaxsOr4Kox7BQu6b.pDtl_iO5Waj9cCxu","status":"completed","recording_type":"shared_screen"},"shared_screen_with_gallery_view":{"id":"23cb3039-a7a1-4d0d-992e-8b67124df271","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"MP4","file_extension":"MP4","file_size":690475477,"play_url":"https://us02web.zoom.us/rec/play/K50lqSPoaCZk8iHfx0vFpot9Ko5heAM8dsnl7OZrpaHjoFpNgsI-nJIF2_f5P6-HTUCJYdi-tNMVFOpP.N_ZX9uQGPuT-dQCv","download_url":"https://us02web.zoom.us/rec/download/K50lqSPoaCZk8iHfx0vFpot9Ko5heAM8dsnl7OZrpaHjoFpNgsI-nJIF2_f5P6-HTUCJYdi-tNMVFOpP.N_ZX9uQGPuT-dQCv","status":"completed","recording_type":"shared_screen_with_gallery_view"},"audio_transcript":{"id":"2c4fb52c-78a7-46cd-9ba6-a6c101c1db39","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"TRANSCRIPT","file_extension":"VTT","file_size":178251,"play_url":"https://us02web.zoom.us/rec/play/nCe4JrG7cca8-FK8Z0I2HWwaWxBl-p3mMTxbXSSMJ4WumIargQGYx-2b-4jkh0YCHu_c9GGMLJuMvFkH.UL1UpUYe-K1Yj-Ym","download_url":"https://us02web.zoom.us/rec/download/nCe4JrG7cca8-FK8Z0I2HWwaWxBl-p3mMTxbXSSMJ4WumIargQGYx-2b-4jkh0YCHu_c9GGMLJuMvFkH.UL1UpUYe-K1Yj-Ym","status":"completed","recording_type":"audio_transcript"},"active_speaker":{"id":"681808e0-0099-4022-837e-7ec53cf33885","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"MP4","file_extension":"MP4","file_size":373029840,"play_url":"https://us02web.zoom.us/rec/play/3_f_HbscoGaaPHXrXqdJvad5ic1H6V0CA5POL2NDgiEf0FsVBeLC9Wv1Lt7cVn9ZM08wViBjAGWeRJ4_.5Qe8BKXhMftq8Wj0","download_url":"https://us02web.zoom.us/rec/download/3_f_HbscoGaaPHXrXqdJvad5ic1H6V0CA5POL2NDgiEf0FsVBeLC9Wv1Lt7cVn9ZM08wViBjAGWeRJ4_.5Qe8BKXhMftq8Wj0","status":"completed","recording_type":"active_speaker"},"audio_only":{"id":"b5f4bfb5-4e31-42cb-a7ac-50076166cb9e","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"M4A","file_extension":"M4A","file_size":120755126,"play_url":"https://us02web.zoom.us/rec/play/iTWYNzqmA-Ofhmo7BHbiLzTJW68UjqrXW95YBHLkmZyLaWwPl5E7lRXS1C8hyDpxcAJ1cqAbZog92ORh.y7c3vCGoya-iIpb1","download_url":"https://us02web.zoom.us/rec/download/iTWYNzqmA-Ofhmo7BHbiLzTJW68UjqrXW95YBHLkmZyLaWwPl5E7lRXS1C8hyDpxcAJ1cqAbZog92ORh.y7c3vCGoya-iIpb1","status":"completed","recording_type":"audio_only"},"timeline":{"id":"e00b355f-5fac-4cbf-bf03-6f83461544e0","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"TIMELINE","file_extension":"JSON","file_size":2947936,"download_url":"https://us02web.zoom.us/rec/download/wgYizeYlCnPjubwUWMb3SXA21n59VYf4R1qG50fdJtxwcYsNUAp_nL_saHeeljDD8fKEneEkIK_08hI9.Lvc_-UU8TXg6yAu7","status":"completed","recording_type":"timeline"},"chat_file":{"id":"c10c6659-ee74-4c40-a145-6687a0b9a6e8","meeting_id":"qLM4WbegT9iJ88WX/NBsNQ==","recording_start":"2024-11-26T11:47:48Z","recording_end":"2024-11-26T13:54:16Z","file_type":"CHAT","file_extension":"TXT","file_size":4159,"play_url":"https://us02web.zoom.us/rec/play/x-W5M-w2tJTLWCzJtgIcBm1bVepqmPwqYN2-PdMB9N2ew-HhQihh7wIV8aNAcHNyTtPpoWk8rr_XEGR3.yLBGl7W6Go-4mUC6","download_url":"https://us02web.zoom.us/rec/download/x-W5M-w2tJTLWCzJtgIcBm1bVepqmPwqYN2-PdMB9N2ew-HhQihh7wIV8aNAcHNyTtPpoWk8rr_XEGR3.yLBGl7W6Go-4mUC6","status":"completed","recording_type":"chat_file"}}}}]},"versionId":"f8755ba4-0a35-45f7-ba09-8894c0d8b43d","triggerCount":0,"tags":[{"createdAt":"2024-11-27T05:48:24.505Z","updatedAt":"2024-11-27T05:48:24.505Z","id":"Jn1LZemkM7Y8SDPh","name":"zoom"},{"createdAt":"2024-12-19T05:44:55.756Z","updatedAt":"2024-12-19T05:44:55.756Z","id":"ydFLXHoRGuDk4Ql5","name":"구글드라이브"}]}