workflows/19_processTemplates.json
{"createdAt":"2024-11-07T05:50:56.847Z","updatedAt":"2024-12-17T08:38:35.000Z","id":"SGAjCx2dbQq1d4zG","name":"19_processTemplates","active":false,"nodes":[{"parameters":{},"id":"085fa67c-c18e-418a-a638-bb25d25accd5","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[480,1040]},{"parameters":{"jsCode":"const items = $input.all();\nconst updatedItems = items.map((item) => {\n  let content = item?.json?.content;\n  for (const key in item?.json?.data) {\n    content = content.replace(\n      new RegExp(`<${key}>`, \"g\"),\n      item?.json?.data[key],\n    );\n  }\n  return { content };\n});\nreturn updatedItems;\n"},"id":"be3d30ce-3df4-4ff4-965e-5da9882ce293","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,1040]},{"parameters":{"content":"## 사용 설명\n\n- 데이터 목록을 가져와서\n- 각 항목의 content 문자열에서\n- <태그> 형태의 텍스트를\n- data에 있는 실제 값으로 교체합니다.\n\n예시:\n\"안녕하세요 <name>님\" → \"안녕하세요 홍길동님\"","height":228.79999999999944,"width":403.20000000000005},"id":"2b82d416-d2fd-4fa5-bc9a-70adec4cc66e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,760]},{"parameters":{"content":"## 사용 예시","height":80,"width":150},"id":"fe478a26-696f-4e5e-81f3-e33d3b83a6bd","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"assignments":{"assignments":[{"id":"8cf453a2-d615-479f-b47b-29ade400b05f","name":"url","value":"https://airtable.com/appq8xK4PLp7D7aCg/tblAV1fM6DdHEMfWR/viwGyHh0A6owLmrjO?blocks=hide","type":"string"}]},"options":{}},"id":"298fa9c3-9ee5-43cb-914c-56754af857d2","name":"불러올_에어테이블_url입력","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,560],"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"B1b2lDP0zgZYsUP0","mode":"list","cachedResultName":"GPTers — url로 에어테이블 view 가져오기"},"options":{}},"id":"aa9ba759-019b-482b-a6ac-62fdc64336c9","name":"에어테이블 view 가져오기","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[940,560],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"42f571d9-9786-4cc2-9a20-af5551dc3bb2","name":"data","value":"={{ $json }}","type":"object"},{"id":"7ec4f70a-b37c-47d0-90f4-249cd7f0e420","name":"content","value":"<이름>님 안녕히세요. 닉네임은 <닉네임>이고 유저Id는 <bettermode 유저 id>입니다. 전화번호는 <전화번호>입니다.","type":"string"}]},"options":{}},"id":"abee69a8-3a59-40f6-acce-3b191bb7182b","name":"변환할 데이터 입력","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1160,560],"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"BIZEiLfHGlIXD2fo","mode":"list","cachedResultName":"GPTers — processTemplates"},"options":{}},"id":"45682262-d5c8-4bee-afa9-2ad17eeab870","name":"content 변환하기","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1380,560],"disabled":true},{"parameters":{},"id":"7298ab44-5730-47a3-ac52-cff2bb96e365","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[500,560],"disabled":true}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"불러올_에어테이블_url입력":{"main":[[{"node":"에어테이블 view 가져오기","type":"main","index":0}]]},"에어테이블 view 가져오기":{"main":[[{"node":"변환할 데이터 입력","type":"main","index":0}]]},"변환할 데이터 입력":{"main":[[{"node":"content 변환하기","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"불러올_에어테이블_url입력","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2FkHbmnpOA9Y42fo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"data":{"id":"rec8yNd1Xd9dDW9vs","createdTime":"2024-12-13T21:02:44.000Z","portoneId":"X-083f63d6-af89-4290-8e28-146c330d9bff","paymentId":30255,"userId":65088,"productId":32129,"결제수단":"None","실결제금액":0,"결제통화":"KRW","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["장원근"],"요약":"장원근(장원근_퍼널해커) funnelhacker8@gmail.com 30255","_13기_게시글":"(베스트)(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(베스트)(#)//KLxSodedLeDUiTj","13기_게시글_개수":3,"_내스터디_게시글":"(베스트)(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(베스트)(#)//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"(#)//KLxSodedLeDUiTj,[\"13기 마케터\"]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_베스트게시글":2,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["rec9aNB6eQ87eVRny"],"이름":["장원근"],"닉네임":["장원근_퍼널해커"],"bettermode_user_id":["vqryGgbb4C"],"멤버_게시글(Sync)":["recPOEr3YjrO7QblO","rec3TLBErU1hVJfvf","recEaYfkAixnO9Hh1"],"게시글_정보":["(베스트)[\"13기 마케터\"]//KLxSodedLeDUiTj","[\"13기 마케터\"]//KLxSodedLeDUiTj","(베스트)[\"13기 마케터\"]//KLxSodedLeDUiTj"],"게시글_베스트":["recQnd9jcMcrg0qVL","recD42YCLxPCvRqs5"],"참여기수 (from 멤버)":["[\"\",\"13\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01020098407"],"emailKey":["funnelhacker8@gmail.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recvlJmboJS2mLAOb","createdTime":"2024-12-17T07:39:50.000Z","portoneId":"X-1fe517cf-89f7-4fd9-b585-9924a544418b","paymentId":30279,"userId":36297,"productId":32129,"결제수단":"None","실결제금액":0,"결제통화":"KRW","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["김태현"],"요약":"김태현(김태현) tkim@gpters.org 30279","_13기_게시글":"[\"교육/학습하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"서비스 기획\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"챗봇 개발\"]//KLxSodedLeDUiTj,[\"AI 도구 모음\"]//70cQB70yFjV8o9X,[\"교육/학습하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"SNS 콘텐츠\"]//KLxSodedLeDUiTj,[\"o1 2409\",\"스터디 4주차\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"AI 도구 모음\"]//70cQB70yFjV8o9X,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"챗봇 개발\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"AI 도구 모음\"]//70cQB70yFjV8o9X,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"AI 도구 모음\"]//70cQB70yFjV8o9X,[\"개발\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"가입인사\"]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"서비스 기획\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"AI 도구 모음\"]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"서비스 기획\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"서비스 기획\"]//KLxSodedLeDUiTj,[\"서비스 기획\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[]//oce5r2AeOZsfGLc,[]//70cQB70yFjV8o9X,[\"사업하기\"]//KLxSodedLeDUiTj,[]//oce5r2AeOZsfGLc,[]//oce5r2AeOZsfGLc,[]//70cQB70yFjV8o9X,[]//oce5r2AeOZsfGLc,[]//oce5r2AeOZsfGLc,[\"사업하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"연구하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"대학생방\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"사업하기\"]//KLxSodedLeDUiTj,[\"연구하기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"챗봇 개발\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"사업하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"자유 게시글\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"구인/구직\"]//PQi3CLXSRYqO9uD,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//ysHbSWVC5pKKZ0K,[\"o1 2409\",\"스터디 3주차\"]//KLxSodedLeDUiTj,[\"o1 2409\",\"스터디 4주차\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"채용 공고\"]//70cQB70yFjV8o9X,[\"채용 공고\"]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X","13기_게시글_개수":4,"_내스터디_게시글":"(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//oce5r2AeOZsfGLc,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//oce5r2AeOZsfGLc,[]//oce5r2AeOZsfGLc,[]//70cQB70yFjV8o9X,[]//oce5r2AeOZsfGLc,[]//oce5r2AeOZsfGLc,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,(#)//PQi3CLXSRYqO9uD,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//ysHbSWVC5pKKZ0K,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//70cQB70yFjV8o9X,(#)//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[\"교육/학습하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"서비스 기획\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"챗봇 개발\"]//KLxSodedLeDUiTj,[\"AI 도구 모음\"]//70cQB70yFjV8o9X,[\"교육/학습하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"SNS 콘텐츠\"]//KLxSodedLeDUiTj,[\"o1 2409\",\"스터디 4주차\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"AI 도구 모음\"]//70cQB70yFjV8o9X,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"챗봇 개발\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"AI 도구 모음\"]//70cQB70yFjV8o9X,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"AI 도구 모음\"]//70cQB70yFjV8o9X,[\"개발\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"가입인사\"]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"서비스 기획\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"AI 도구 모음\"]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"서비스 기획\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"서비스 기획\"]//KLxSodedLeDUiTj,[\"서비스 기획\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[]//oce5r2AeOZsfGLc,[]//70cQB70yFjV8o9X,[\"사업하기\"]//KLxSodedLeDUiTj,[]//oce5r2AeOZsfGLc,[]//oce5r2AeOZsfGLc,[]//70cQB70yFjV8o9X,[]//oce5r2AeOZsfGLc,[]//oce5r2AeOZsfGLc,[\"사업하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"연구하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"대학생방\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"사업하기\"]//KLxSodedLeDUiTj,[\"연구하기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"챗봇 개발\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"사업하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"자유 게시글\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"구인/구직\"]//PQi3CLXSRYqO9uD,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//ysHbSWVC5pKKZ0K,[\"o1 2409\",\"스터디 3주차\"]//KLxSodedLeDUiTj,[\"o1 2409\",\"스터디 4주차\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"채용 공고\"]//70cQB70yFjV8o9X,[\"채용 공고\"]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"13기 원소스멀티유즈\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"13기 원소스멀티유즈\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"13기 원소스멀티유즈\"]//KLxSodedLeDUiTj,[\"13기 원소스멀티유즈\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recDaD4mhwHfbvpvh"],"이름":["김태현"],"닉네임":["김태현"],"bettermode_user_id":["LttgcnvNfH"],"멤버_게시글(Sync)":["recWJbjjLmBIF06HW","recJAnSphYAGsAhOA","recqmpVTUSC5Wg0Vp","recoRM5fVyIPjcnzD","recD68tv7vOHKanXd","recAJ5pLcKH2ZziHh","recXindo4yRL6oFzD","recVML3FpDozM72N0","recucbazqW2yQ0LHv","rec8WqUs9ScAXF4E2","recSbtEjI0fsGLeYV","recyNUNsjDATkCuj9","recYowbmE37Q1HsN5","recxV8RcufM9ZL9rB","recYaJpzIe7duwe8t","recACDSG8KQaZMZAU","rec8ep7Xo5jXfqcQe","recg37MLeH48OHq4I","rec8BsoRCgaP47aGa","recYxrTU9M6lUJefR","recOfOQNORG409hlj","rec9jlRgTlx3iu3DN","recGVTuxd6FpptOYt","recAgr4935O0wnS7k","recwBFoiX2rqGp38Z","recggxeYKhIYyLr9Q","rec4eA69gDLxT7uC2","reckSthCyUyNZjQvb","rece04eTON6WOvZTb","recVh9iS0a23fSvaR","recygruiupFrlKX2C","rec6EaJlh1wxxyi9N","recOG2EzN8zfwJprg","recWjZaahmNa2N75P","recgOL9Ix7OPelBp8","recGDZ27qAvDpHU6n","recDvRfqke4yZ65eb","recCOduDb3Eere4aJ","recDuifyDtbeNN1J0","rec3P1ZTrX6Izs4xE","recERNpE1okTR4gqA","recyqdivIdf2gMxbi","rec304Q10MrZyFnBJ","recwVWAJEF2BqKHlg","recvuUH8FjK8jDBo7","recSLw2jZDGI8TQQV","recR3zgpK0fhxF2nX","recXMBJMbavIDetuS","recV202PHtnUnxnzm","recxSO9UvkIUpE8Zt","recATvzqZlRYv7m0f","rec7fJdVhXQHD15XP","recZHQkaRlG8HAyHb","recQ4Mvd0sPeuEyve","rec75Gm8aonX6C8yC","recFljHUTTYkgapV3","recNJItb6jhDK8Ugb","rechaWPEux2kguLqQ","recpPZYYJR9mElvBh","recfXbePP5BGHQRd1","rec82cg5WNLR131b0","recQ1dasH9YX2Z5F8","recDfa9TRlK8bFVgX","rec3vsv9hGY42pbMW","rec0WUlOJtbpEjQzO","recrW5fxvnS6lite9","recXFvJ64xte5huC9","recF8Wjt2EJiyuqKR","rec7fal0tvWvWKdLu","recoQcBRKErk8JdSZ","recsGdi1Xj5BLsRG8","reczNtZ9hOCGrC3RL","rec8G1pqUJ6BeBnCM","recLNfvAOeP4O8xqe","reciAVpsoBHybzIgK","recQlVsMbC5YPuEbv","recS6treP7C17NlrN","recX07SrR3AOEHB21","recjBbRfek82VlXiD","recKRO8H2xIJwXLGZ","reckHIBjPTPUp89Ne","recKS60oUSm3vtBhs","recls2EeeSdwB10jU","recUoC1zGSBi23SA6","rec8UCl7ANS0V9RZw","rec1f48n6ivz4ZD0p","recDVX35kgMYOEwdy","rec8Jl88h7LjYQ8Ta","recbHB9M5B801zRYG","recH7rmxpVLM5mcEo","recNz2xBYOP3xZojA","recfUWr0SoNj4pC6A","rec1atvX7FvxUZgDs","recg8LShYpktLI4Fi","recIUeCEjscjClSFf","rec50XqLj5P0s6rnF","recAe59PgvMbsH2Ut","recwlYENYH0XKpYzz","recOJoqVWcyE2nNcW","recbOGsqmCxyqTjMa","recFD3NUVtwomNZzp","recF98gs9bXRraTgh","recBhKNdwD5Fw5Z9L","recCqw6Zbd3wUj2M5","recPHpMYRwtjNCuyb","recs05oe16ZjFNbk2","reca99AZVbQ2NmwoA","recwhfwoGZbKepqOY","recyCtY5OlmyuyNXx","rec9Po9T7wcl5Yub6","recPkqetgjQIPuslB","recasZbRinW3omO6Y","reck2hodqjHxaE5Ea","recqxWC5NVKyhnOqq","reca3DvDKVlcM0cZw","recridCsi42FXDBHf","reciQFJaYkgAFIlR0","recfuM8saR7AKnAaj","reczb4RQEvWRpgnq7","recmRCsDheZEQJq8y","rec0EJ2ruvVKFTJJI","recatMmrbllSlDCOW","recrDeLragtd38arW","rechbpHO2qNh7lBM2","recDli047h2kAy7qa"],"게시글_정보":["[\"교육/학습하기\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"서비스 기획\"]//KLxSodedLeDUiTj","[\"자유 게시글\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"챗봇 개발\"]//KLxSodedLeDUiTj","[\"AI 도구 모음\"]//70cQB70yFjV8o9X","[\"교육/학습하기\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"SNS 콘텐츠\"]//KLxSodedLeDUiTj","[\"o1 2409\",\"스터디 4주차\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"AI 도구 모음\"]//70cQB70yFjV8o9X","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[\"챗봇 개발\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"자유 게시글\"]//KLxSodedLeDUiTj","[\"자유 게시글\"]//KLxSodedLeDUiTj","[\"AI 도구 모음\"]//70cQB70yFjV8o9X","[\"자유 게시글\"]//KLxSodedLeDUiTj","[\"AI 도구 모음\"]//70cQB70yFjV8o9X","[\"개발\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"가입인사\"]//70cQB70yFjV8o9X","[]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"서비스 기획\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"AI 도구 모음\"]//70cQB70yFjV8o9X","[]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"서비스 기획\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"서비스 기획\"]//KLxSodedLeDUiTj","[\"서비스 기획\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"자유 게시글\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[]//oce5r2AeOZsfGLc","[]//70cQB70yFjV8o9X","[\"사업하기\"]//KLxSodedLeDUiTj","[]//oce5r2AeOZsfGLc","[]//oce5r2AeOZsfGLc","[]//70cQB70yFjV8o9X","[]//oce5r2AeOZsfGLc","[]//oce5r2AeOZsfGLc","[\"사업하기\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"연구하기\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"대학생방\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[\"사업하기\"]//KLxSodedLeDUiTj","[\"연구하기\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"챗봇 개발\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[\"사업하기\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"자유 게시글\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[\"구인/구직\"]//PQi3CLXSRYqO9uD","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[]//KLxSodedLeDUiTj","[]//ysHbSWVC5pKKZ0K","[\"o1 2409\",\"스터디 3주차\"]//KLxSodedLeDUiTj","[\"o1 2409\",\"스터디 4주차\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"채용 공고\"]//70cQB70yFjV8o9X","[\"채용 공고\"]//70cQB70yFjV8o9X","[]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"13기 원소스멀티유즈\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"13기 원소스멀티유즈\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"13기 원소스멀티유즈\"]//KLxSodedLeDUiTj","[\"13기 원소스멀티유즈\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X"],"참여기수 (from 멤버)":["[\"\",\"10\",\"11\",\"12\",\"13\",\"9\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01043060325"],"emailKey":["tkim@gpters.org"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"rec7MYKjFQ2zK8q1G","createdTime":"2024-12-17T07:39:50.000Z","portoneId":"X-c978e991-e9be-4000-aa6f-d597767264d9","paymentId":30278,"userId":35956,"productId":32129,"결제수단":"None","실결제금액":0,"결제통화":"KRW","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["송다혜"],"요약":"송다혜(닿) dahye@gpters.org 30278","_13기_게시글":"[]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"개발\",\"문과생도AI#\"]//KLxSodedLeDUiTj,[\"10기업무자동화\",\"each\",\"업무자동화\"]//KLxSodedLeDUiTj,[\"11기문과생도AI\",\"업무자동화\"]//KLxSodedLeDUiTj,[\"스티커챌린지\"]//KLxSodedLeDUiTj,[\"재피어\",\"리툴\"]//KLxSodedLeDUiTj,[\"1인개발 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj,[\"랭체인 2409\",\"스터디 3주차\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj","13기_게시글_개수":0,"_내스터디_게시글":"[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"개발\",\"문과생도AI#\"]//KLxSodedLeDUiTj,[\"10기업무자동화\",\"each\",\"업무자동화\"]//KLxSodedLeDUiTj,[\"11기문과생도AI\",\"업무자동화\"]//KLxSodedLeDUiTj,[\"스티커챌린지\"]//KLxSodedLeDUiTj,[\"재피어\",\"리툴\"]//KLxSodedLeDUiTj,[\"1인개발 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj,[\"랭체인 2409\",\"스터디 3주차\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recUcg7cmBbZkpU59"],"이름":["송다혜"],"닉네임":["닿"],"bettermode_user_id":["pxKBUPj6EE"],"멤버_게시글(Sync)":["recdHhUNINoxsufxx","rec3MOabeOHru2qjw","recgUFteYCtruifnW","rec54KpXfbYaIyX7Y","recAm9cXhsh39KdJL","recyy8vg2CwiA3sRz","recXwetcAfpzKw5E7","recZUaBdWgjNRESTo","rec0i8TkUwyhrbE7h","rec8HgX3V47JidVED","recAYwOWNHjueAKeO","recW6jQyYH9FsloYG","recYT8WS1Zts7itBX","recMCYFF8uH5dZxbH","rec38gXU5xcfZHm5R","recIVOAwByVcNq9wm","recR4Zb08D25UAPmh","rec3Z0cMGeBbMqQ4N","recWNDFBfH6yc9hph","recmYzKJLX7bc3LJm","recAR5p6whmsOhbmC"],"게시글_정보":["[]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj","[\"데이터 분석\"]//KLxSodedLeDUiTj","[\"데이터 분석\"]//KLxSodedLeDUiTj","[\"자유 게시글\"]//KLxSodedLeDUiTj","[\"데이터 분석\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj","[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"자유 게시글\"]//KLxSodedLeDUiTj","[\"개발\",\"문과생도AI#\"]//KLxSodedLeDUiTj","[\"10기업무자동화\",\"each\",\"업무자동화\"]//KLxSodedLeDUiTj","[\"11기문과생도AI\",\"업무자동화\"]//KLxSodedLeDUiTj","[\"스티커챌린지\"]//KLxSodedLeDUiTj","[\"재피어\",\"리툴\"]//KLxSodedLeDUiTj","[\"1인개발 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj","[\"랭체인 2409\",\"스터디 3주차\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj"],"참여기수 (from 멤버)":["[\"\",\"10\",\"11\",\"12\",\"13\",\"7\",\"8\",\"9\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01044535752"],"emailKey":["dahye@gpters.org"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recQfmwN1LEjzpZ0q","createdTime":"2024-12-17T07:39:50.000Z","portoneId":"X-2b09c582-4040-4332-b689-7f0d0db7ab45","paymentId":30280,"userId":36530,"productId":32129,"결제수단":"None","실결제금액":0,"결제통화":"KRW","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["이석구"],"요약":"이석구(이석구(챗사피엔스)) ninestone.lee@gmail.com 30280","_13기_게시글":"(#)//gh9VEKjD3bVW49Z,[]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"키크니\",\"서비스 기획\"]//KLxSodedLeDUiTj,[\"할아버지프롬프트\",\"할아버지GPTs\",\"서비스 기획\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"마케터 2409\"]//ysHbSWVC5pKKZ0K","13기_게시글_개수":1,"_내스터디_게시글":"(#)//gh9VEKjD3bVW49Z,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//ysHbSWVC5pKKZ0K","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[\"13기 마케터\"]//gh9VEKjD3bVW49Z,[]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"키크니\",\"서비스 기획\"]//KLxSodedLeDUiTj,[\"할아버지프롬프트\",\"할아버지GPTs\",\"서비스 기획\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"마케터 2409\"]//ysHbSWVC5pKKZ0K","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recR727kZ3FlZDIrj"],"이름":["이석구"],"닉네임":["이석구(챗사피엔스)"],"bettermode_user_id":["yAmnPRuHpt"],"멤버_게시글(Sync)":["recjM1T7uh7BfIQaL","recZz3LULeBA0XZBB","recz7LUCKdTWmtF2l","recKoM7VsmTSNTpve","rec2MMFMW5y0ztgY2","reclfKAHLJhD50nRj","recUkIIBPhtVhf8hG","recGqIHEV3p67ft9w","recwFfXiiN2rEc7EH","recSLd6pSizVauMiO"],"게시글_정보":["[\"13기 마케터\"]//gh9VEKjD3bVW49Z","[]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"키크니\",\"서비스 기획\"]//KLxSodedLeDUiTj","[\"할아버지프롬프트\",\"할아버지GPTs\",\"서비스 기획\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"마케터 2409\"]//ysHbSWVC5pKKZ0K"],"참여기수 (from 멤버)":["[\"\",\"10\",\"11\",\"12\",\"13\",\"6\",\"8\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01042905773"],"emailKey":["ninestone.lee@gmail.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recQlrqV5ulfuP698","createdTime":"2024-12-17T07:39:50.000Z","portoneId":"X-8bfef307-af11-4f6f-a506-439669592e23","paymentId":30276,"userId":35030,"productId":32129,"결제수단":"None","실결제금액":0,"결제통화":"KRW","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["윤누리"],"요약":"윤누리(윤누리) ny@gpters.org 30276","_13기_게시글":"[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"개발\"]//KLxSodedLeDUiTj,[\"노트/메모\"]//KLxSodedLeDUiTj,[\"10기어벤져스\",\"10기로우코드\",\"업무자동화\"]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"10기RAG\",\"업무자동화\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"테스트태그\"]//ysHbSWVC5pKKZ0K,[\"개발\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[]//oce5r2AeOZsfGLc,[\"사업하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"음악\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"연구하기\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"어쩌다사업자.\",\"뷰저블\",\"사업하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"음악\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"연구하기\"]//KLxSodedLeDUiTj,[\"연구하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"개발\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"개발\"]//KLxSodedLeDUiTj,[\"음악\"]//KLxSodedLeDUiTj,[\"챗봇 개발\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"음악\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"9기임팩트\"]//KLxSodedLeDUiTj,[\"9기임팩트\",\"AI임팩트\",\"자유 게시글\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"업무자동화\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"10기어벤져스\",\"10기로우코드\",\"업무자동화\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"업무자동화\"]//KLxSodedLeDUiTj,[\"스티커챌린지\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"아티팩트 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj,[\"o1 2409\",\"스터디 2주차\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"o1 2409\",\"스터디 4주차\"]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_게시글_개수":2,"_내스터디_게시글":"[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//ysHbSWVC5pKKZ0K,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//oce5r2AeOZsfGLc,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"개발\"]//KLxSodedLeDUiTj,[\"노트/메모\"]//KLxSodedLeDUiTj,[\"10기어벤져스\",\"10기로우코드\",\"업무자동화\"]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"10기RAG\",\"업무자동화\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"테스트태그\"]//ysHbSWVC5pKKZ0K,[\"개발\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[]//oce5r2AeOZsfGLc,[\"사업하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"음악\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"연구하기\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"어쩌다사업자.\",\"뷰저블\",\"사업하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"음악\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"연구하기\"]//KLxSodedLeDUiTj,[\"연구하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"개발\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"개발\"]//KLxSodedLeDUiTj,[\"음악\"]//KLxSodedLeDUiTj,[\"챗봇 개발\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"음악\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"9기임팩트\"]//KLxSodedLeDUiTj,[\"9기임팩트\",\"AI임팩트\",\"자유 게시글\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"업무자동화\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[]//70cQB70yFjV8o9X,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"10기어벤져스\",\"10기로우코드\",\"업무자동화\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"업무자동화\"]//KLxSodedLeDUiTj,[\"스티커챌린지\"]//KLxSodedLeDUiTj,[]//70cQB70yFjV8o9X,[\"아티팩트 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj,[\"o1 2409\",\"스터디 2주차\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"o1 2409\",\"스터디 4주차\"]//KLxSodedLeDUiTj,[\"13기 파이썬코딩\"]//KLxSodedLeDUiTj,[\"13기 파이썬코딩\"]//KLxSodedLeDUiTj","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recoRBJf0wxK2BB4k"],"이름":["윤누리"],"닉네임":["윤누리"],"bettermode_user_id":["Wq23Fqroas"],"멤버_게시글(Sync)":["recuNSfb8EuvZpPAx","recyee0pSSfEkSbGm","rechWkgUB85b19YBK","recJmfRGdifKtwpXw","rec5gH2uf8brQQGoy","recMZmlWu2v87nUl6","recYN09GpMb3TdWOc","recfq0oL6YjMD6ZzN","recnXYE4IQ3P9tifO","recbHKx9UZP8AybvA","recOoTI6Ikr98dkmh","reci7aljUkwgr6ZQf","recFw9L49WEe7aVyt","recaaZxUAcCzfZcpm","recE8LjoUI449FFhQ","reciOXMtK9SMpyN6F","rec6ZFF0ox4kcy6ZS","recfz7QB8Akploqwp","recLZap8qiYjklO08","recZicWQtsihwvNX2","recDqMKLoyNZG4SfN","recFqwZRCEgYiCQJb","recqticO1aoHlJBQg","recNt0oIlaJGKTQNO","rec7eOn808J7s5Dfk","recoFMkAC8Q6PoLZm","recBlyoJXmNVVW2FE","rec3jDubsHMeJFH7r","recGaoLfCzGG7IoLe","recxWzS40IJOEdMzD","recbxJ4iytwT5l65t","recbfseGxGTvYKBXK","recnIk0hgF9qbjH7p","recNhiF49JtxsVHzR","rectNqz6IMHfCiMp5","rec7dcR86ND7uLIn0","recl4JcLgERtklYKk","recRr14yGZVEtTgES","rec9UftYKUDVvRO2d","rec686l9HjUDlYxhj","rec6G9dTXtUmo4S5N","rec9aT9Ctk2Y6WHBa","rec1WBIpS91IpZbaQ","recamQ9KVpTwMNk57","rec4Lg5kIEhkzvTZ9","recjSGzNxlEo64mXO","recgKQwSrBE7XtiCz","recC3doG5d8WGJTCN","recfF1krupzi2ELp2","recHmfCX6kGK9bmoi","rec2CB94SEWGwpc0e","recbl8bi4ouAk2BpS","recrp0CULslb6cOps","recPlxHCQTF7frhTP","reciMTzh9NPVaab9o","recw7mAl1Uurj87RY","recNcsNHWcYFwScnl","recqMWh9j6gSVkSDA","reclarjHyD7DRF2a8","rec8OpNP3TRtk2vPC","recTDgcn2XqM5v6w7","recSNG507q8l6az2z","recVNfAx2Z5maEsg0","rec9grLxSsftaDdWZ","recxHVYtDrwteqETH","recM47DjXfRLjA71e","recvTX3F2Vmjvrupp","recxHcZzGz0UHh0wA","recsLYlYiOnO0lJ01","rech2BitM8ONNVeeZ","recTYIDoqRBjFT7No","rec6W4C8cSd4v5V6g","rece6Ou6arEzc1Ugh","recG77fIgouMJUIYU","rec4WEhB208gbf4yS","reczwaJiUm8HRgsz0","recsbMyFJpkHm8JLa","rec8X7IqPsk9WCTQG","recw9arxTugNDI7wg","recMTL3NSxZWVtqLI","recJgJavCTqzVpJYf","recm7HCABRaMRyXTE","recxSgPnpG6to7amp","recB2e7UZwjrOZuQ8","rec6V4wDBjJRRHUh1","rec8LOXOot0VzoZl0","recegTezEqulFTcJj","recRAGZPka13R1kQb"],"게시글_정보":["[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[\"개발\"]//KLxSodedLeDUiTj","[\"노트/메모\"]//KLxSodedLeDUiTj","[\"10기어벤져스\",\"10기로우코드\",\"업무자동화\"]//KLxSodedLeDUiTj","[\"업무자동화\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"자유 게시글\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"10기RAG\",\"업무자동화\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"자유 게시글\"]//KLxSodedLeDUiTj","[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","[\"업무자동화\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"자유 게시글\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj","[\"테스트태그\"]//ysHbSWVC5pKKZ0K","[\"개발\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[]//oce5r2AeOZsfGLc","[\"사업하기\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[\"음악\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"연구하기\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"업무자동화\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"어쩌다사업자.\",\"뷰저블\",\"사업하기\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"음악\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"업무자동화\"]//KLxSodedLeDUiTj","[\"자유 게시글\"]//KLxSodedLeDUiTj","[\"연구하기\"]//KLxSodedLeDUiTj","[\"연구하기\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"개발\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"개발\"]//KLxSodedLeDUiTj","[\"음악\"]//KLxSodedLeDUiTj","[\"챗봇 개발\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[]//KLxSodedLeDUiTj","[\"자유 게시글\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"음악\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"9기임팩트\"]//KLxSodedLeDUiTj","[\"9기임팩트\",\"AI임팩트\",\"자유 게시글\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[\"업무자동화\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[]//70cQB70yFjV8o9X","[\"자유 게시글\"]//KLxSodedLeDUiTj","[\"10기어벤져스\",\"10기로우코드\",\"업무자동화\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"업무자동화\"]//KLxSodedLeDUiTj","[\"스티커챌린지\"]//KLxSodedLeDUiTj","[]//70cQB70yFjV8o9X","[\"아티팩트 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj","[\"o1 2409\",\"스터디 2주차\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"o1 2409\",\"스터디 4주차\"]//KLxSodedLeDUiTj","[\"13기 파이썬코딩\"]//KLxSodedLeDUiTj","[\"13기 파이썬코딩\"]//KLxSodedLeDUiTj"],"참여기수 (from 멤버)":["[\"\",\"10\",\"11\",\"13\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01064067539"],"emailKey":["ny@gpters.org"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recTYyATmnhTyCh3z","createdTime":"2024-12-17T07:39:50.000Z","portoneId":"X-5552238e-263e-4e97-9338-7aa398f5c8ca","paymentId":30277,"userId":35283,"productId":32129,"결제수단":"None","실결제금액":0,"결제통화":"KRW","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["김현철"],"요약":"김현철(광밤) fe@gpters.org 30277","_13기_게시글":"[]//oce5r2AeOZsfGLc,[\"업무자동화\",\"사무자동화\"]//KLxSodedLeDUiTj,[\"10기문과생도AI\",\"개발\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"초보\"]//70cQB70yFjV8o9X,[\"초보\"]//70cQB70yFjV8o9X,[\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"구인/구직\"]//PQi3CLXSRYqO9uD,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_게시글_개수":2,"_내스터디_게시글":"[]//oce5r2AeOZsfGLc,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//70cQB70yFjV8o9X,(#)//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//PQi3CLXSRYqO9uD,[]//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[]//oce5r2AeOZsfGLc,[\"업무자동화\",\"사무자동화\"]//KLxSodedLeDUiTj,[\"10기문과생도AI\",\"개발\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"초보\"]//70cQB70yFjV8o9X,[\"초보\"]//70cQB70yFjV8o9X,[\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"구인/구직\"]//PQi3CLXSRYqO9uD,[]//70cQB70yFjV8o9X,[\"13기 원소스멀티유즈\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"13기 원소스멀티유즈\"]//KLxSodedLeDUiTj","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recaf0acRs31GX3yC"],"이름":["김현철"],"닉네임":["광밤"],"bettermode_user_id":["szuLQLRwKr"],"멤버_게시글(Sync)":["recg0oHFhZ6bBM5sP","reciPN4DjrBgDtWfZ","recFGhfclErgsM7da","recZgWka35iwjgn4r","recE59Km142mJ04Ci","rec74B8fRViLL7nZ0","recodGwGuWYoKFEfF","recx3JwcQIuQQygTF","recdKjDaUPmtkcPUY","recGcHYVl6Yk4tu1x","recf8K7aNa0xObPHk","rec2F9g8OKpeQ0bWI","recOlnH0HQwq4ryHu","rec9prg4N21xn08bC","recMvb5kKoRjAosFf"],"게시글_정보":["[]//oce5r2AeOZsfGLc","[\"업무자동화\",\"사무자동화\"]//KLxSodedLeDUiTj","[\"10기문과생도AI\",\"개발\"]//KLxSodedLeDUiTj","[\"자유 게시글\"]//KLxSodedLeDUiTj","[\"자유 게시글\"]//KLxSodedLeDUiTj","[\"초보\"]//70cQB70yFjV8o9X","[\"초보\"]//70cQB70yFjV8o9X","[\"교육/학습하기\"]//KLxSodedLeDUiTj","[\"교육/학습하기\"]//KLxSodedLeDUiTj","[\"교육/학습하기\"]//KLxSodedLeDUiTj","[\"구인/구직\"]//PQi3CLXSRYqO9uD","[]//70cQB70yFjV8o9X","[\"13기 원소스멀티유즈\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"13기 원소스멀티유즈\"]//KLxSodedLeDUiTj"],"참여기수 (from 멤버)":["[\"\",\"1\",\"10\",\"11\",\"12\",\"13\",\"4\",\"5\",\"7\",\"8\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01036580626"],"emailKey":["fe@gpters.org"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"rec9vJ22Sr4BvPbVi","createdTime":"2024-12-17T07:49:59.000Z","portoneId":"X-9741da37-2878-4d89-b2e8-4a0d95b3062f","paymentId":30281,"userId":35805,"productId":32129,"결제수단":"None","실결제금액":0,"결제통화":"KRW","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["박정기"],"요약":"박정기(박정기) jgpark1998@gmail.com 30281","_13기_게시글":"(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"11기문과생도AI\",\"챗봇\",\"ollama\",\"SLLM\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"9기문과생도AI\",\"개발\"]//KLxSodedLeDUiTj,[\"9기문과생도AI\",\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"라마인덱스 2408\"]//ysHbSWVC5pKKZ0K,[\"OPENAI\",\"SearchGPT\"]//70cQB70yFjV8o9X,[\"11기문과생도AI\",\"AUTORAG\",\"RAG\"]//KLxSodedLeDUiTj,[\"AI에이전트\",\"CrewAI\"]//KLxSodedLeDUiTj,[\"LLAMA INDEX\",\"NOTION API\",\"RAG\"]//KLxSodedLeDUiTj,[\"GROQ\",\"Llama3.1\",\"LLAMA INDEX\",\"RAG\"]//KLxSodedLeDUiTj,[\"API\",\"firebase\",\"gemini\"]//KLxSodedLeDUiTj,[\"test_test\"]//ysHbSWVC5pKKZ0K,[\"test_test\"]//ysHbSWVC5pKKZ0K,[\"test_test\"]//ysHbSWVC5pKKZ0K,[\"test_test\"]//ysHbSWVC5pKKZ0K,[\"test_test\"]//ysHbSWVC5pKKZ0K,[\"라마인덱스 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//gh9VEKjD3bVW49Z,(#)//KLxSodedLeDUiTj,(베스트)(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_게시글_개수":17,"_내스터디_게시글":"(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//ysHbSWVC5pKKZ0K,(#)//70cQB70yFjV8o9X,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//ysHbSWVC5pKKZ0K,(#)//ysHbSWVC5pKKZ0K,(#)//ysHbSWVC5pKKZ0K,(#)//ysHbSWVC5pKKZ0K,(#)//ysHbSWVC5pKKZ0K,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//gh9VEKjD3bVW49Z,(#)//KLxSodedLeDUiTj,(베스트)(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[\"13기 랭그래프\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"11기문과생도AI\",\"챗봇\",\"ollama\",\"SLLM\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"9기문과생도AI\",\"개발\"]//KLxSodedLeDUiTj,[\"9기문과생도AI\",\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"개발\"]//KLxSodedLeDUiTj,[\"라마인덱스 2408\"]//ysHbSWVC5pKKZ0K,[\"OPENAI\",\"SearchGPT\"]//70cQB70yFjV8o9X,[\"11기문과생도AI\",\"AUTORAG\",\"RAG\"]//KLxSodedLeDUiTj,[\"AI에이전트\",\"CrewAI\"]//KLxSodedLeDUiTj,[\"LLAMA INDEX\",\"NOTION API\",\"RAG\"]//KLxSodedLeDUiTj,[\"GROQ\",\"Llama3.1\",\"LLAMA INDEX\",\"RAG\"]//KLxSodedLeDUiTj,[\"API\",\"firebase\",\"gemini\"]//KLxSodedLeDUiTj,[\"test_test\"]//ysHbSWVC5pKKZ0K,[\"test_test\"]//ysHbSWVC5pKKZ0K,[\"test_test\"]//ysHbSWVC5pKKZ0K,[\"test_test\"]//ysHbSWVC5pKKZ0K,[\"test_test\"]//ysHbSWVC5pKKZ0K,[\"라마인덱스 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//gh9VEKjD3bVW49Z,[\"13기 랭그래프\"]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj","13기_베스트게시글":1,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["reciaX4uXvndss1cV"],"이름":["박정기"],"닉네임":["박정기"],"bettermode_user_id":["yjQGVOIgPO"],"멤버_게시글(Sync)":["recQGBKudL5hKGgJk","recWKR3Y58V3q21CA","recOkzS3cuBVkmDxj","recsrFgLj6MOEUue1","recMRmc4UTuQXafsh","rechHRPL8ICwHbdbv","recCCKoE3LJqeaXVR","rectAJoC0mmPadJbP","recsrDP1lx00wgxO5","recCc4BOUYF4O20Yg","recaJWOFvxKs0MtsG","rec3WvRWJuCi1DFmp","rec6kRX5klXdElhe7","rectnRuEyRjZ3AnG1","recEdpmcq4NCegrsd","recBBro1Vz2lG9OrB","recVnbfGpl3OttO3e","recZPyzW0USoE5XTf","recVQUTbf8RZoAijD","recHqfr6FtzJW2wXf","recFyytSMA37tDa9f","recVSCbYJ1me0FqRB","recq0YMYrleV2jC5g","recJ5A548d7EMnsZd","recJHkvSRhOPptcTw","recMuGsrmJU4WUXjv","recta5eOpyoy8j7sA","recBaguXhSZxuryPE","recUTJfXmGbNEXRrp","rec1IdIMhajOapkup","recnS2sOnE5UlBOF9","recyM7p6vrFgWbg5p","recqFwcFuNQzWeWZr","recXTAjjcR8Wvmnex","recs0mg6Pty1kr4fT","recSpHwhiQF5WDTHV","recZ4EbzEnIDjwWer","recK9x02DjqMsgVhE","recyKJL5yiOnSzLVF","reca4yQWGCzPa6bP0","recomBGjDlLTIyF8g","recimVVV6hVZsFAUd","recPAm5DvHYM2hihZ","recM6hddMEkfisV2V","recLcrAmfYvY3kHob","reczT9OJNUkKVTBUK","reci4SgrzZdk7f7hb","recCbCgo9dzIZZo2N","receZFMSujlaLLkni","recovdq5XEJKEvJ9t"],"게시글_정보":["[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"11기문과생도AI\",\"챗봇\",\"ollama\",\"SLLM\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj","[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj","[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"9기문과생도AI\",\"개발\"]//KLxSodedLeDUiTj","[\"9기문과생도AI\",\"개발\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"개발\"]//KLxSodedLeDUiTj","[\"라마인덱스 2408\"]//ysHbSWVC5pKKZ0K","[\"OPENAI\",\"SearchGPT\"]//70cQB70yFjV8o9X","[\"11기문과생도AI\",\"AUTORAG\",\"RAG\"]//KLxSodedLeDUiTj","[\"AI에이전트\",\"CrewAI\"]//KLxSodedLeDUiTj","[\"LLAMA INDEX\",\"NOTION API\",\"RAG\"]//KLxSodedLeDUiTj","[\"GROQ\",\"Llama3.1\",\"LLAMA INDEX\",\"RAG\"]//KLxSodedLeDUiTj","[\"API\",\"firebase\",\"gemini\"]//KLxSodedLeDUiTj","[\"test_test\"]//ysHbSWVC5pKKZ0K","[\"test_test\"]//ysHbSWVC5pKKZ0K","[\"test_test\"]//ysHbSWVC5pKKZ0K","[\"test_test\"]//ysHbSWVC5pKKZ0K","[\"test_test\"]//ysHbSWVC5pKKZ0K","[\"라마인덱스 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//gh9VEKjD3bVW49Z","[\"13기 랭그래프\"]//KLxSodedLeDUiTj","(베스트)[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj"],"게시글_베스트":["rec4MCdWPOsN14L7S"],"참여기수 (from 멤버)":["[\"\",\"10\",\"12\",\"13\",\"7\",\"8\",\"9\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01041140750"],"emailKey":["jgpark1998@gmail.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recWNVmoeT7QgQP6W","createdTime":"2024-12-12T21:02:29.000Z","portoneId":"imp_000128809335","paymentId":30247,"userId":65609,"productId":32129,"결제수단":"TossCard","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-12T12:58:04.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["박상신"],"요약":"박상신(사용자) sangshin.678@gmail.com 30247","13기_게시글_개수":0,"13기_내스터디_게시글_개수":0,"13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recdvC1InMGKj1tB9"],"이름":["박상신"],"닉네임":["사용자"],"bettermode_user_id":["xZLW61xtT2"],"참여기수 (from 멤버)":["[\"\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01090262889"],"emailKey":["sangshin.678@gmail.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recGN1aLWh0PCDb8f","createdTime":"2024-12-12T21:02:29.000Z","portoneId":"imp_109946639876","paymentId":30248,"userId":34729,"productId":32129,"결제수단":"TossCard","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-12T14:50:29.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["이재엽"],"요약":"이재엽(이재엽_miniLAB) nest4000@gmail.com 30248","_13기_게시글":"[\"사업하기\"]//KLxSodedLeDUiTj,[\"11기스타트업\",\"사업하기\"]//KLxSodedLeDUiTj,[\"9기이커머스\",\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[]//PQi3CLXSRYqO9uD,[\"스타트업 실험실 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"10기어벤저스\",\"업무자동화\"]//KLxSodedLeDUiTj,[\"10기어벤져스\",\"개발\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_게시글_개수":3,"_내스터디_게시글":"(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//PQi3CLXSRYqO9uD,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[\"사업하기\"]//KLxSodedLeDUiTj,[\"11기스타트업\",\"사업하기\"]//KLxSodedLeDUiTj,[\"9기이커머스\",\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[]//PQi3CLXSRYqO9uD,[\"스타트업 실험실 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"10기어벤저스\",\"업무자동화\"]//KLxSodedLeDUiTj,[\"10기어벤져스\",\"개발\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"13기 스타트업실험실\"]//KLxSodedLeDUiTj,[\"13기 스타트업실험실\"]//KLxSodedLeDUiTj,[\"13기 스타트업실험실\"]//KLxSodedLeDUiTj","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recP4Zp3XSUPmBd9Z"],"이름":["이재엽"],"닉네임":["이재엽_miniLAB"],"bettermode_user_id":["xcyt6T8TDh"],"멤버_게시글(Sync)":["recdjqkbuKNIVobZW","recNihTlDXM2kkNKj","rechMnTLmgzKTIYOF","recBNIaOdruebdt4s","rec5ys4YNOuo0HnkR","recNLxuO3JSb9bJdk","recR8E5O9tPOGoHvJ","recSdj4uQg2IM2ZHM","recsv47SiQQyu5gHv","rechhVmK8Hy5RFWgT","recsiqzianjhjNNaY","reciE85H2kfPXOztX"],"게시글_정보":["[\"사업하기\"]//KLxSodedLeDUiTj","[\"11기스타트업\",\"사업하기\"]//KLxSodedLeDUiTj","[\"9기이커머스\",\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","[]//PQi3CLXSRYqO9uD","[\"스타트업 실험실 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj","[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","[\"10기어벤저스\",\"업무자동화\"]//KLxSodedLeDUiTj","[\"10기어벤져스\",\"개발\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"13기 스타트업실험실\"]//KLxSodedLeDUiTj","[\"13기 스타트업실험실\"]//KLxSodedLeDUiTj","[\"13기 스타트업실험실\"]//KLxSodedLeDUiTj"],"참여기수 (from 멤버)":["[\"\",\"10\",\"11\",\"12\",\"13\",\"9\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01077084000"],"emailKey":["nest4000@gmail.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recVwLZhNWLHsRlf9","createdTime":"2024-12-13T21:02:44.000Z","portoneId":"imp_440279954332","paymentId":30249,"userId":69665,"productId":32129,"결제수단":"TossCard","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-12T21:54:55.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["이현우"],"요약":"이현우(이현우) leehw1997@daum.net 30249","13기_게시글_개수":0,"13기_내스터디_게시글_개수":0,"13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recrQ9EvNxgd7vPVh"],"이름":["이현우"],"닉네임":["이현우"],"bettermode_user_id":["jqseIIG5ia"],"참여기수 (from 멤버)":["[\"\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01051001001"],"emailKey":["leehw1997@daum.net"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recc2yAOIo16jQsAC","createdTime":"2024-12-13T21:02:44.000Z","portoneId":"imp_241834741978","paymentId":30256,"userId":35520,"productId":32129,"결제수단":"TossCard","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-13T05:48:44.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["김태형"],"요약":"김태형(김태형) patern0723@gmail.com 30256","_13기_게시글":"[]//KLxSodedLeDUiTj,[\"음악\"]//KLxSodedLeDUiTj,[\"음악\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_게시글_개수":2,"_내스터디_게시글":"[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[]//KLxSodedLeDUiTj,[\"음악\"]//KLxSodedLeDUiTj,[\"음악\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"13기 프롬프트\"]//KLxSodedLeDUiTj,[\"13기 프롬프트\"]//KLxSodedLeDUiTj","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["rectu52J0U0fMzrkP"],"이름":["김태형"],"닉네임":["김태형"],"bettermode_user_id":["YeDmkT6IfT"],"멤버_게시글(Sync)":["recwgjPrHBffhGdzp","recMlARQ60hUCcN6L","recrEEBikqKFZZ1JO","recxvmnLxFcunqb1D","reciUoQxj44bxMJGC","recacR0f2FgWvwqgh"],"게시글_정보":["[]//KLxSodedLeDUiTj","[\"음악\"]//KLxSodedLeDUiTj","[\"음악\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"13기 프롬프트\"]//KLxSodedLeDUiTj","[\"13기 프롬프트\"]//KLxSodedLeDUiTj"],"참여기수 (from 멤버)":["[\"\",\"1\",\"13\",\"5\",\"6\",\"7\",\"8\",\"9\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01043503494"],"emailKey":["patern0723@gmail.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recaHm70b3vjveIDO","createdTime":"2024-12-13T21:02:44.000Z","portoneId":"imp_298941103115","paymentId":30257,"userId":36611,"productId":32129,"결제수단":"Kakao","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-13T06:56:10.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["김민철"],"요약":"김민철(김민철) mincheol10007@gmail.com 30257","_13기_게시글":"[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"WEB\",\"대학생방\"]//KLxSodedLeDUiTj,[\"재테크하기\"]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_게시글_개수":1,"_내스터디_게시글":"(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"WEB\",\"대학생방\"]//KLxSodedLeDUiTj,[\"재테크하기\"]//KLxSodedLeDUiTj,[\"13기 마케터\"]//KLxSodedLeDUiTj","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["rec2iDZXyoop6igri"],"이름":["김민철"],"닉네임":["김민철"],"bettermode_user_id":["20aT8j7MHK"],"멤버_게시글(Sync)":["recgVWWeVf9zT0AOC","recNTZcN4Rjcoyza6","recWk7HS9hc7ySbTN","recLmbbiOnBNO3L1O","recWEIfnYkNorlIB6","recWW6jBBHLBAc0rO","recOfBMvoe5P7F2VW","rec9SsalFAemJPibZ"],"게시글_정보":["[\"사업하기\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"데이터 분석\"]//KLxSodedLeDUiTj","[\"데이터 분석\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"WEB\",\"대학생방\"]//KLxSodedLeDUiTj","[\"재테크하기\"]//KLxSodedLeDUiTj","[\"13기 마케터\"]//KLxSodedLeDUiTj"],"참여기수 (from 멤버)":["[\"\",\"13\",\"6\",\"7\",\"9\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01059140489"],"emailKey":["mincheol10007@gmail.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recSSE0cTdO40q7QZ","createdTime":"2024-12-13T21:02:44.000Z","portoneId":"imp_113189062037","paymentId":30258,"userId":69685,"productId":32129,"결제수단":"Kakao","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-13T12:33:17.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["이지유"],"요약":"이지유(-) jeeyoulee@naver.com 30258","13기_게시글_개수":0,"13기_내스터디_게시글_개수":0,"13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recjPVGb3S9zmf0bt"],"이름":["이지유"],"닉네임":["-"],"bettermode_user_id":["MPZs0d0KyK"],"참여기수 (from 멤버)":["[\"\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01041372293"],"emailKey":["jeeyoulee@naver.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recRBH0tLnBRGWa0V","createdTime":"2024-12-14T21:02:23.000Z","portoneId":"imp_566480142267","paymentId":30259,"userId":36909,"productId":32129,"결제수단":"Kakao","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-14T00:01:28.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["정지원"],"요약":"정지원(MAS) jjeong3504@gmail.com 30259","_13기_게시글":"[\"업무자동화\"]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj","13기_게시글_개수":0,"_내스터디_게시글":"(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[\"업무자동화\"]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recFfTBliWUdEOK3q"],"이름":["정지원"],"닉네임":["MAS"],"bettermode_user_id":["hI2kvKQpKK"],"멤버_게시글(Sync)":["recgf2ZwGR3eeJWs3","recZs19U0h0iNgnJH","recuPa2tXY5FBVlZx"],"게시글_정보":["[\"업무자동화\"]//KLxSodedLeDUiTj","[\"업무자동화\"]//KLxSodedLeDUiTj","[\"업무자동화\"]//KLxSodedLeDUiTj"],"참여기수 (from 멤버)":["[\"\",\"11\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01055843504"],"emailKey":["jjeong3504@gmail.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recQw9btE2yAHzSrN","createdTime":"2024-12-14T21:02:23.000Z","portoneId":"imp_125657722764","paymentId":30260,"userId":64553,"productId":32129,"결제수단":"TossCard","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-14T09:32:57.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["이유선"],"요약":"이유선(이노베이션) onion22222@naver.com 30260","_13기_게시글":"[\"부크크\",\"GPT\",\"GPTersAI캠프\",\"전자책\",\"전자책 2409\",\"종이책\",\"컨설턴트\",\"클로드3.5소넷\",\"크몽\",\"멘토\",\"평가위원\",\"스터디 5주차\",\"유페이퍼\"]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_게시글_개수":2,"_내스터디_게시글":"(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[\"부크크\",\"GPT\",\"GPTersAI캠프\",\"전자책\",\"전자책 2409\",\"종이책\",\"컨설턴트\",\"클로드3.5소넷\",\"크몽\",\"멘토\",\"평가위원\",\"스터디 5주차\",\"유페이퍼\"]//KLxSodedLeDUiTj,[\"13기 마케터\"]//KLxSodedLeDUiTj,[\"13기 마케터\"]//KLxSodedLeDUiTj","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recucVcbIqXWaMioA"],"이름":["이유선"],"닉네임":["이노베이션"],"bettermode_user_id":["gzUjgVAOpT"],"멤버_게시글(Sync)":["recX0WHF9QBFRitks","recs8TQo8yfXaSfrI","reci7cu21VjDfalva"],"게시글_정보":["[\"부크크\",\"GPT\",\"GPTersAI캠프\",\"전자책\",\"전자책 2409\",\"종이책\",\"컨설턴트\",\"클로드3.5소넷\",\"크몽\",\"멘토\",\"평가위원\",\"스터디 5주차\",\"유페이퍼\"]//KLxSodedLeDUiTj","[\"13기 마케터\"]//KLxSodedLeDUiTj","[\"13기 마케터\"]//KLxSodedLeDUiTj"],"참여기수 (from 멤버)":["[\"\",\"12\",\"13\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01096401661"],"emailKey":["onion22222@naver.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"reczjrpErk1dWp2HQ","createdTime":"2024-12-14T21:02:23.000Z","portoneId":"imp_890131973006","paymentId":30261,"userId":69322,"productId":32129,"결제수단":"TossCard","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-14T20:03:52.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["이소윤"],"요약":"이소윤(Kaylin) kikanbo@naver.com 30261","13기_게시글_개수":0,"13기_내스터디_게시글_개수":0,"13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["rec1F3tVpWoqmMEFZ"],"이름":["이소윤"],"닉네임":["Kaylin"],"bettermode_user_id":["UFfOk2W6NN"],"참여기수 (from 멤버)":["[\"\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01087285555"],"emailKey":["kikanbo@naver.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"reckBeCnK0cB7pPXR","createdTime":"2024-12-15T21:02:28.000Z","portoneId":"imp_741686133552","paymentId":30262,"userId":62505,"productId":32129,"결제수단":"TossCard","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-15T01:55:14.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["강현정"],"요약":"강현정(미엔느) ennnnnnnne@naver.com 30262","13기_게시글_개수":0,"13기_내스터디_게시글_개수":0,"13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recuyk34qFdMegqGW"],"이름":["강현정"],"닉네임":["미엔느"],"bettermode_user_id":["ohQCdqDwZY"],"참여기수 (from 멤버)":["[\"\",\"13\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01053981193"],"emailKey":["ennnnnnnne@naver.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"rec0sLgbwVoijD7V3","createdTime":"2024-12-15T21:02:28.000Z","portoneId":"imp_884954673687","paymentId":30263,"userId":66579,"productId":32129,"결제수단":"Kakao","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-15T13:39:55.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["박경화"],"요약":"박경화(해피해피) anjtduskdu@gmail.com 30263","13기_게시글_개수":0,"13기_내스터디_게시글_개수":0,"13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recRHdvIU1oy9G9eq"],"이름":["박경화"],"닉네임":["해피해피"],"bettermode_user_id":["UUIeMyXzEE"],"참여기수 (from 멤버)":["[\"\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01089522565"],"emailKey":["anjtduskdu@gmail.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recd7O8tjTdFvApqo","createdTime":"2024-12-16T21:02:36.000Z","portoneId":"imp_311180085003","paymentId":30264,"userId":66506,"productId":32129,"결제수단":"Kakao","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-16T00:16:51.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["최아연"],"요약":"최아연(아욘) aychoi@naver.com 30264","13기_게시글_개수":0,"13기_내스터디_게시글_개수":0,"13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["reccjxOBI7T5MSo4Y"],"이름":["최아연"],"닉네임":["아욘"],"bettermode_user_id":["GjOAr7cObh"],"참여기수 (from 멤버)":["[\"\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01031678035"],"emailKey":["aychoi@naver.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recsxkmPYQIdOVqF6","createdTime":"2024-12-16T21:02:36.000Z","portoneId":"imp_357073762906","paymentId":30265,"userId":36746,"productId":32129,"결제수단":"TossVBank","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-16T01:21:39.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["이태윤"],"요약":"이태윤(Tony) lee.taeyoon@gmail.com 30265","_13기_게시글":"[\"라마인덱스 2408\",\"스터디 3주차\"]//KLxSodedLeDUiTj,[\"라마인덱스 2408\",\"스터디 4주차\"]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_게시글_개수":2,"_내스터디_게시글":"(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[\"라마인덱스 2408\",\"스터디 3주차\"]//KLxSodedLeDUiTj,[\"라마인덱스 2408\",\"스터디 4주차\"]//KLxSodedLeDUiTj,[\"13기 옵시디언\"]//KLxSodedLeDUiTj,[\"13기 옵시디언\"]//KLxSodedLeDUiTj","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recrswMRbkySAp01E"],"이름":["이태윤"],"닉네임":["Tony"],"bettermode_user_id":["0K24Q2QjTs"],"멤버_게시글(Sync)":["recnZi2NO3gcArLNy","recsnWqjjOlVKtiiE","recf5kCyy6z30Wshh","recfUNYwMOvyVg6iU"],"게시글_정보":["[\"라마인덱스 2408\",\"스터디 3주차\"]//KLxSodedLeDUiTj","[\"라마인덱스 2408\",\"스터디 4주차\"]//KLxSodedLeDUiTj","[\"13기 옵시디언\"]//KLxSodedLeDUiTj","[\"13기 옵시디언\"]//KLxSodedLeDUiTj"],"참여기수 (from 멤버)":["[\"\",\"12\",\"13\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["6784316600"],"emailKey":["lee.taeyoon@gmail.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recobUlwHcGvohkXq","createdTime":"2024-12-16T21:02:36.000Z","portoneId":"imp_093087939633","paymentId":30266,"userId":36523,"productId":32129,"결제수단":"TossCard","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-16T01:55:30.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["김태규"],"요약":"김태규(윈셀) kdale0123@gmail.com 30266","_13기_게시글":"[\"11기문과생도AI\",\"개발\"]//KLxSodedLeDUiTj,[\"노트/메모\"]//KLxSodedLeDUiTj,[\"노트/메모\"]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_게시글_개수":1,"_내스터디_게시글":"(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[\"11기문과생도AI\",\"개발\"]//KLxSodedLeDUiTj,[\"노트/메모\"]//KLxSodedLeDUiTj,[\"노트/메모\"]//KLxSodedLeDUiTj,[\"13기 랭그래프\"]//KLxSodedLeDUiTj","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["rece0w1VnUhXZI6kw"],"이름":["김태규"],"닉네임":["윈셀"],"bettermode_user_id":["cVDTbZIh9d"],"멤버_게시글(Sync)":["recODo7jk3MrQFQ4t","rec6E0nGAvjYnwW1q","rec1zBsAmqe5O0RlO","recE4qKeGqUPx9G56"],"게시글_정보":["[\"11기문과생도AI\",\"개발\"]//KLxSodedLeDUiTj","[\"노트/메모\"]//KLxSodedLeDUiTj","[\"노트/메모\"]//KLxSodedLeDUiTj","[\"13기 랭그래프\"]//KLxSodedLeDUiTj"],"참여기수 (from 멤버)":["[\"\",\"10\",\"11\",\"12\",\"13\",\"9\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01044128226"],"emailKey":["kdale0123@gmail.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recgcOidf2g6hXaX9","createdTime":"2024-12-16T21:02:36.000Z","portoneId":"imp_008912622153","paymentId":30267,"userId":35072,"productId":32129,"결제수단":"TossCard","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-16T02:09:34.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["이현구"],"요약":"이현구(이현구) franklee.sec@gmail.com 30267","_13기_게시글":"[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"시장규모\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj","13기_게시글_개수":0,"_내스터디_게시글":"(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"시장규모\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj,[]//KLxSodedLeDUiTj","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["reczbP7VVYwHydtcy"],"이름":["이현구"],"닉네임":["이현구"],"bettermode_user_id":["7gIrrbnMnU"],"멤버_게시글(Sync)":["recf1eoHaWtz4uLEI","recuWN99e0X4HmQrq","recsH7xz7lOWkEICW","recFSw6hKWg76Zq6c","recryy9IQlPGC07Ni","recVPmkMphD0rjVXU","recXYgmYaGFmJF3UL","recueiOBCCKLXRB4C","recoPfqkMzLjp9z3z","recyFJ9r9QXMVsJhr","recoylk9jYMhUk4HW"],"게시글_정보":["[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj","[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"시장규모\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[\"프롬프트 엔지니어링\"]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj","[]//KLxSodedLeDUiTj"],"참여기수 (from 멤버)":["[\"\",\"6\",\"7\",\"8\",\"9\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01066097151"],"emailKey":["franklee.sec@gmail.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recrAN23EBdMv68le","createdTime":"2024-12-16T21:02:36.000Z","portoneId":"imp_278214596361","paymentId":30268,"userId":61971,"productId":32129,"결제수단":"TossCard","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-16T03:04:15.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["권호걸"],"요약":"권호걸(힘내!!) noon00@naver.com 30268","13기_게시글_개수":0,"13기_내스터디_게시글_개수":0,"13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recqrlX8Rh5z488aM"],"이름":["권호걸"],"닉네임":["힘내!!"],"bettermode_user_id":["uLtXFZnDVY"],"참여기수 (from 멤버)":["[\"\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01031022468"],"emailKey":["noon00@naver.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recRUfqfXyKNFGsLK","createdTime":"2024-12-16T21:02:36.000Z","portoneId":"imp_842549666739","paymentId":30269,"userId":35066,"productId":32129,"결제수단":"Kakao","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-16T03:59:53.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["한이룸"],"요약":"한이룸(한이룸) redpill@naver.com 30269","_13기_게시글":"[\"사업하기\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"챗봇 개발\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","13기_게시글_개수":0,"_내스터디_게시글":"(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[\"사업하기\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"사업하기\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj,[\"데이터 분석\"]//KLxSodedLeDUiTj,[\"업무자동화\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"챗봇 개발\"]//KLxSodedLeDUiTj,[\"자유 게시글\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj,[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["rec2yoxHVywxQI4Sh"],"이름":["한이룸"],"닉네임":["한이룸"],"bettermode_user_id":["ajmIXQhUy3"],"멤버_게시글(Sync)":["recrMJc5TR721mQbC","recQcBg04mRVq8RIo","rec5PKA30NdoFoKK8","rec1QHRMUrovxXq4t","recMbeC9xoZmiGBO2","recSsqiVJEgCUMRk0","rechuxpb37fruSTrQ","rec3wxFUyUqCkv9bB","recTsrVKmTagDTXOK","rechlrqYPzTRit8dc","recLQwkErFA1OsC6M","recKNzrotx6ZFRQ9a","rec9HvwyXqCCemvht","rec4WQSYLNYCmT23e","recC3Gst7QTmwyJDH","recI9xiGasONBGTac"],"게시글_정보":["[\"사업하기\"]//KLxSodedLeDUiTj","[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"사업하기\"]//KLxSodedLeDUiTj","[\"데이터 분석\"]//KLxSodedLeDUiTj","[\"이미지 영상 만들기\"]//KLxSodedLeDUiTj","[\"데이터 분석\"]//KLxSodedLeDUiTj","[\"업무자동화\"]//KLxSodedLeDUiTj","[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","[\"챗봇 개발\"]//KLxSodedLeDUiTj","[\"자유 게시글\"]//KLxSodedLeDUiTj","[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj","[\"패시브인컴 구축하기\"]//KLxSodedLeDUiTj"],"참여기수 (from 멤버)":["[\"\",\"10\",\"12\",\"6\",\"7\",\"8\",\"9\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01071233148"],"emailKey":["redpill@naver.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"rec454nerB0h0cO0Y","createdTime":"2024-12-16T21:02:36.000Z","portoneId":"imp_293284161402","paymentId":30270,"userId":69725,"productId":32129,"결제수단":"Kakao","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-16T04:28:23.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["이규호"],"요약":"이규호(긴다리오징어) ini2156@kakao.com 30270","13기_게시글_개수":0,"13기_내스터디_게시글_개수":0,"13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["rec5jPA41hCDISbJt"],"이름":["이규호"],"닉네임":["긴다리오징어"],"bettermode_user_id":["bKhQGO702V"],"참여기수 (from 멤버)":["[\"\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01023958199"],"emailKey":["ini2156@kakao.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"rechhEkJNDX1HGVlA","createdTime":"2024-12-16T21:02:36.000Z","portoneId":"imp_419797200120","paymentId":30271,"userId":69729,"productId":32129,"결제수단":"Kakao","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-16T06:50:16.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["정승호"],"요약":"정승호(정승호) shjpeace@gmail.com 30271","13기_게시글_개수":0,"13기_내스터디_게시글_개수":0,"13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recdXV9AD6FkPa2gs"],"이름":["정승호"],"닉네임":["정승호"],"bettermode_user_id":["1WxEkQrgLn"],"참여기수 (from 멤버)":["[\"\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01025933663"],"emailKey":["shjpeace@gmail.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recdNizxnHi52jbiG","createdTime":"2024-12-16T21:02:36.000Z","portoneId":"imp_026915836661","paymentId":30272,"userId":38621,"productId":32129,"결제수단":"Kakao","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-16T11:02:27.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["Jay Seo"],"요약":"(Jay Seo) jwseo212@kakao.com 30272","13기_게시글_개수":0,"13기_내스터디_게시글_개수":0,"13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recKQD1MG3472ZnXR"],"닉네임":["Jay Seo"],"bettermode_user_id":["59Q8okkLVo"],"참여기수 (from 멤버)":["[\"\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01065235987"],"emailKey":["jwseo212@kakao.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recbGjyMWegxwJFhV","createdTime":"2024-12-16T21:02:36.000Z","portoneId":"imp_966049134614","paymentId":30273,"userId":61973,"productId":32129,"결제수단":"TossCard","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-16T11:38:29.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["이규대"],"요약":"이규대(이규대) thekt8051@naver.com 30273","13기_게시글_개수":0,"13기_내스터디_게시글_개수":0,"13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["rec5JpFF97r2qgSN1"],"이름":["이규대"],"닉네임":["이규대"],"bettermode_user_id":["RtzpXX3hHa"],"참여기수 (from 멤버)":["[\"\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01043241024"],"emailKey":["thekt8051@naver.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"recFHu1QxCA8WD8qL","createdTime":"2024-12-16T21:02:36.000Z","portoneId":"imp_569461412758","paymentId":30274,"userId":69736,"productId":32129,"결제수단":"TossCard","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-16T13:24:51.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["구제범"],"요약":"구제범(.) kujevum@nate.com 30274","13기_게시글_개수":0,"13기_내스터디_게시글_개수":0,"13기_베스트게시글":0,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recawV7lasLJAv8GQ"],"이름":["구제범"],"닉네임":["."],"bettermode_user_id":["mwvE53sQFB"],"참여기수 (from 멤버)":["[\"\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01073930098"],"emailKey":["kujevum@nate.com"]},"content":"<slug>가 시작됩니다!"}},{"json":{"data":{"id":"reco9zbPxTNlq3e6L","createdTime":"2024-12-16T21:02:36.000Z","portoneId":"imp_619625644882","paymentId":30275,"userId":36147,"productId":32129,"결제수단":"Kakao","실결제금액":50000,"결제통화":"KRW","결제일":"2024-12-16T13:27:23.000Z","상태":"Success","사용한쿠폰ids":"[]","이름_닉네임":["이문영"],"요약":"이문영(보배교수) lmy4383@naver.com 30275","_13기_게시글":"[\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"에듀테크 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj,[\"11기연구지식관리\",\"연구하기\"]//KLxSodedLeDUiTj,[\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"에듀테크 2408\",\"스터디 5주차\"]//KLxSodedLeDUiTj,[\"10기교강사\",\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"10기교강사\",\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"에듀테크 2408\",\"스터디 3주차\"]//KLxSodedLeDUiTj,(베스트)(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_게시글_개수":3,"_내스터디_게시글":"(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(베스트)(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj","13기_내스터디_게시글_개수":0,"_13기_베스트게시글수":"[\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"에듀테크 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj,[\"11기연구지식관리\",\"연구하기\"]//KLxSodedLeDUiTj,[\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"에듀테크 2408\",\"스터디 5주차\"]//KLxSodedLeDUiTj,[\"10기교강사\",\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"10기교강사\",\"교육/학습하기\"]//KLxSodedLeDUiTj,[\"에듀테크 2408\",\"스터디 3주차\"]//KLxSodedLeDUiTj,(#)//KLxSodedLeDUiTj,[\"13기 신약개발\"]//KLxSodedLeDUiTj,[\"13기 신약개발\"]//KLxSodedLeDUiTj","13기_베스트게시글":1,"상품(Sync)":["recOW5lnCsFRyBIZa"],"스터디_link":["recOdFH1eVdpaheFx"],"멤버":["recrQXhLdVYd8RUIC"],"이름":["이문영"],"닉네임":["보배교수"],"bettermode_user_id":["Xp5KtqogPf"],"멤버_게시글(Sync)":["rec2T4wSS8jl1VVAo","recTmWyNMUttwAXtd","recPXyyhBfGafs3mH","recL6PuoKbCPAr2is","recYIC7IJf84RFXjl","recTHcMvZvIjRFjdb","recIAKLAO898RDDWU","recleVsl8IF5Niu47","rec4u7sIkuOUc5YFZ","recZcyHlsOH5QKWsH","recEQXtCUVZ7oOmiM"],"게시글_정보":["[\"교육/학습하기\"]//KLxSodedLeDUiTj","[\"에듀테크 2408\",\"스터디 2주차\"]//KLxSodedLeDUiTj","[\"11기연구지식관리\",\"연구하기\"]//KLxSodedLeDUiTj","[\"교육/학습하기\"]//KLxSodedLeDUiTj","[\"에듀테크 2408\",\"스터디 5주차\"]//KLxSodedLeDUiTj","[\"10기교강사\",\"교육/학습하기\"]//KLxSodedLeDUiTj","[\"10기교강사\",\"교육/학습하기\"]//KLxSodedLeDUiTj","[\"에듀테크 2408\",\"스터디 3주차\"]//KLxSodedLeDUiTj","(베스트)[\"13기 신약개발\"]//KLxSodedLeDUiTj","[\"13기 신약개발\"]//KLxSodedLeDUiTj","[\"13기 신약개발\"]//KLxSodedLeDUiTj"],"게시글_베스트":["recagZGgT7KZ69T5A"],"참여기수 (from 멤버)":["[\"\",\"10\",\"11\",\"12\",\"13\"]"],"오픈카톡방url":["https://open.kakao.com/o/gPzJKD5g"],"요일":["수요일"],"스터디_시간":["8PM~10PM"],"스터디_시작일":["2024-12-18"],"스터디_종료일":["2025-01-08"],"slug":["study-o1-pro"],"스터디_이름":["o1 Pro 구독료 본전 뽑기 스터디​"],"phoneKey":["01096353470"],"emailKey":["lmy4383@naver.com"]},"content":"<slug>가 시작됩니다!"}}]},"versionId":"b416972f-6290-46a6-9c6e-e4698ae91918","triggerCount":0,"tags":[]}