workflows/o1_pro_인증.json
{"createdAt":"2024-12-22T06:19:24.597Z","updatedAt":"2024-12-23T01:36:56.000Z","id":"rAwcYe6MFEAZVes2","name":"o1_pro_인증","active":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"sender":"noreply@tm.openai.com"}},"id":"3f04f7bb-a20f-44eb-adb1-e01e5417ed7b","name":"openai.com","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[780,500],"credentials":{"gmailOAuth2":{"id":"nuUmYofVPZxFG49C","name":"Gmail account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"7565e70f-0c57-4727-8c69-7ee05c421baf","name":"snippet","value":"={{ $json.snippet }}","type":"string"},{"id":"aeae0eec-8b0c-4f17-acff-af5bce1575c7","name":"Subject","value":"={{ $json.Subject }}","type":"string"},{"id":"65642a87-fe8a-4715-b6b9-c85191a0a5b5","name":"time","value":"={{ $now }}","type":"string"}]},"options":{}},"id":"0e3dc691-0eb4-4533-aaf5-825851e60632","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,500]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"https://airtable.com/appq8xK4PLp7D7aCg/tblYFjZ9JsBrLaGWR/viwnkVjZl2VQai9Qy?blocks=hide","mode":"url"},"table":{"__rl":true,"value":"tblYFjZ9JsBrLaGWR","mode":"list","cachedResultName":"o1pro_인증번호","cachedResultUrl":"https://airtable.com/appq8xK4PLp7D7aCg/tblYFjZ9JsBrLaGWR"},"columns":{"mappingMode":"defineBelow","value":{"시간":"={{ $json.time.slice(0,19) }}","인증번호":"={{ $json.Subject.split(\" \").last() }}"},"matchingColumns":[],"schema":[{"id":"Num","displayName":"Num","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"인증번호","displayName":"인증번호","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"시간","displayName":"시간","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}]},"options":{}},"id":"fc77c653-085c-4380-b3cc-070a7b39691b","name":"getStudyCaptionData","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1240,500],"credentials":{"airtableTokenApi":{"id":"v6sNKykfBVnEaT0g","name":"Airtable Personal Access Token account"}}}],"connections":{"openai.com":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"getStudyCaptionData","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:openai.com":{"openai.com":{"lastTimeChecked":1735227206,"possibleDuplicates":["1940399ec1e4e03c"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6d6b8ccf-8e5a-4341-b743-e4419acf00bd","triggerCount":1,"tags":[]}