workflows/수동환불 요청 자동 처리하기.json
{"createdAt":"2024-11-07T12:44:39.012Z","updatedAt":"2024-12-19T05:46:58.000Z","id":"iXgSt3lsoG16fPaP","name":"수동환불 요청 자동 처리하기","active":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"4d2dc763-4be8-4602-bd56-2690b19d36df","name":"Refund Auto Process Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[280,420]},{"parameters":{"operation":"executeQuery","query":"SELECT\n    r.id,\n    r.reason,\n    r.status,\n    r.\"createdAt\",\n    u.name,\n    u.email,\n    u.\"bettermodeUserId\",\n    cp.name AS \"topicName\",\n    p.\"actualPrice\",\n    p.method,\n    p.\"createdAt\" AS \"purchaseCreatedAt\"\nFROM \n    \"Refund\" r\nJOIN \n    \"Order\" o ON r.\"orderId\" = o.id\nJOIN\n    \"Payment\" p on o.\"paymentId\" = p.id\nJOIN\n    \"User\" u ON o.\"userId\" = u.id\nJOIN\n    \"OrderItem\" oi ON oi.\"orderId\" = o.id\nJOIN\n    \"CourseProduct\" cp ON cp.id = oi.\"productId\"\nWHERE\n    cp.\"bettermodePostId\" IS NOT NULL\n    AND r.status = 'Pending'\n    AND r.\"createdAt\" >= p.\"createdAt\" \n    AND r.\"createdAt\" <= p.\"createdAt\" + INTERVAL '{{ $('Set Refund Config').item.json.수동환불승인기준 }} days'\nORDER BY\n    r.\"createdAt\" DESC;","options":{}},"id":"2f60edb2-fb9d-43bf-8bf4-3caa95d63c88","name":"Get Refund Approval List","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[760,420],"alwaysOutputData":true,"credentials":{"postgres":{"id":"fWzctmu40cX0DjDn","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"={{ $vars.gpters_internal_api_endpoint }}/payments/refund","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $vars.gpters_internal_api_token_key }}","value":"={{ $vars.gpters_internal_api_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"note","value":"={{ $now }}"},{"name":"allow","value":"={{ true }}"},{"name":"refundAmount","value":"={{ $json.actualPrice * $('Set Refund Config').item.json['환불금액비율'] }}"},{"name":"refundId","value":"={{ $json.id }}"}]},"options":{}},"id":"e06b3bc9-8906-44b1-9b1f-0ab30e7b9a08","name":"Process Refund Approval","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,420],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"={{ $vars.gpters_internal_api_endpoint }}/payments/refund","sendHeaders":true,"headerParameters":{"parameters":[{"name":"={{ $vars.gpters_internal_api_token_key }}","value":"={{ $vars.gpters_internal_api_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"note","value":"={{ $now }}"},{"name":"allow","value":"={{ false }}"},{"name":"refundAmount","value":"={{ $json.actualPrice * 0.75 }}"},{"name":"refundId","value":"={{ $json.id }}"}]},"options":{}},"id":"a3cb7033-5c16-46f9-a313-f236a853c43f","name":"Process Refund Reject","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,760]},{"parameters":{"operation":"executeQuery","query":"SELECT\n    r.id,\n    r.reason,\n    r.status,\n    r.\"createdAt\",\n    u.name,\n    u.email,\n    cp.name AS \"topicName\",\n    p.\"actualPrice\",\n    p.method,\n    p.\"createdAt\" AS \"purchaseCreatedAt\"\nFROM \n    \"Refund\" r\nJOIN \n    \"Order\" o ON r.\"orderId\" = o.id\nJOIN\n    \"Payment\" p on o.\"paymentId\" = p.id\nJOIN\n    \"User\" u ON o.\"userId\" = u.id\nJOIN\n    \"OrderItem\" oi ON oi.\"orderId\" = o.id\nJOIN\n    \"CourseProduct\" cp ON cp.id = oi.\"productId\"\nWHERE\n    cp.\"bettermodePostId\" IS NOT NULL\n    AND r.status = 'Pending'\n    AND r.\"createdAt\" > p.\"createdAt\" + INTERVAL '{{ $('Set Refund Config').item.json.수동환불승인기준 }} days'\nORDER BY\n    r.\"createdAt\" DESC;","options":{}},"id":"c5b39424-8469-43d5-b736-adc36d27c63c","name":"Get Refund Reject List","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[800,840],"credentials":{"postgres":{"id":"fWzctmu40cX0DjDn","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"733dc28d-ff83-495a-9617-76af321d3f09","name":"text","value":"={{ $('Get Refund Approval List').all().length }}명의 환불 요청이 승인 되었습니다.","type":"string"}]},"options":{}},"id":"349a1c33-354d-4a20-93e7-232e8ebb9014","name":"Set Approval Notification","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,420]},{"parameters":{"assignments":{"assignments":[{"id":"733dc28d-ff83-495a-9617-76af321d3f09","name":"text","value":"={{ $('Get Refund Reject List').all().length }}명의 환불 요청이 거절 되었습니다.","type":"string"}]},"options":{}},"id":"9c5e9480-21a3-417d-8252-73d032841973","name":"Set Reject Notification","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,980]},{"parameters":{"workflowId":{"__rl":true,"value":"XVWUaUPaaiGofxQ6","mode":"list","cachedResultName":"GPTers — \bslackNoti"},"options":{}},"id":"c1f46595-9bdd-4a91-bef5-cb27ebf6fddd","name":"Send Approval Slack Alert","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1640,420]},{"parameters":{"workflowId":{"__rl":true,"value":"XVWUaUPaaiGofxQ6","mode":"list","cachedResultName":"GPTers — \bslackNoti"},"options":{}},"id":"4e07e898-4f4a-4852-8cad-2a1730acadb4","name":"Send Reject Slack Alert","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1220,1140]},{"parameters":{"assignments":{"assignments":[{"id":"24e1687b-38f6-40f6-85d6-acaa59ee3014","name":"수동환불승인기준","value":"7","type":"string"},{"id":"2b5b085f-da60-43bd-a1de-ae561dae0e5b","name":"환불금액비율","value":"0.75","type":"string"},{"id":"a51d8134-ffd0-426f-aa8c-1a778bb69467","name":"게시판ID","value":"3RMFM2dUMUK1","type":"string"}]},"options":{}},"id":"f4a86257-a29f-4b03-8562-397962c37fa1","name":"Set Refund Config","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,420]},{"parameters":{"content":"## 게시판 내보내기 추가하기"},"id":"7f693cc0-baf5-4898-8918-22ad6abf6e05","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1100,180]},{"parameters":{"method":"POST","url":"https://geniefy.app.n8n.cloud/webhook/sendout_member","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n{\n\"spaceId\": \n{\n\"id\": {{ $('Set Refund Config').item.json['게시판ID'] }}\n},\n\"memberId\": {{ JSON.stringify($('Get Refund Approval List').all().map(item => item.json.bettermodeUserId)) }}\n}\n]","options":{}},"id":"ce3a7840-55d9-479e-8605-f5359033517d","name":"sendout_members","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,640],"executeOnce":true}],"connections":{"Refund Auto Process Trigger":{"main":[[{"node":"Set Refund Config","type":"main","index":0}]]},"Get Refund Approval List":{"main":[[{"node":"Process Refund Approval","type":"main","index":0},{"node":"sendout_members","type":"main","index":0}]]},"Process Refund Approval":{"main":[[{"node":"Set Approval Notification","type":"main","index":0}]]},"Get Refund Reject List":{"main":[[{"node":"Process Refund Reject","type":"main","index":0},{"node":"Set Reject Notification","type":"main","index":0}]]},"Set Approval Notification":{"main":[[{"node":"Send Approval Slack Alert","type":"main","index":0}]]},"Set Reject Notification":{"main":[[{"node":"Send Reject Slack Alert","type":"main","index":0}]]},"Set Refund Config":{"main":[[{"node":"Get Refund Approval List","type":"main","index":0},{"node":"Get Refund Reject List","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2FkHbmnpOA9Y42fo"},"staticData":{"node:Refund Auto Process Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Refund Auto Process Trigger":[{"json":{"timestamp":"2024-11-07T21:44:39.565+09:00","Readable date":"November 7th 2024, 9:44:39 pm","Readable time":"9:44:39 pm","Day of week":"Thursday","Year":"2024","Month":"November","Day of month":"07","Hour":"21","Minute":"44","Second":"39","Timezone":"Asia/Seoul (UTC+09:00)"}}]},"versionId":"0b8a42ae-112e-4b0c-94b4-12ada7aa9c49","triggerCount":1,"tags":[{"createdAt":"2024-12-19T05:46:55.814Z","updatedAt":"2024-12-19T05:46:55.814Z","id":"gKIRRLa0TnSme4Xo","name":"환불"}]}